<!-- Links for the homepage, article page, and search -->
<!-- Intended for 0_base/_header/_dropdown_data/__dropdown_menu__.html -->

<!-- Display on devices smaller than LG -->
<div class="d-lg-none">

    <!-- Link to the homepage -->
    <li class="nav-item">
        <a class="dropdown-item my-font-size-0-9rem"
           href="{% url 'homepage' %}">
            Homepage
        </a>
    </li>

    <!-- Link to the article page -->
    <li class="nav-item">
        <a class="dropdown-item my-font-size-0-9rem"
           href="{% url 'article-list' %}">
            Articles
        </a>
    </li>

    <!-- Link to search -->
    <li id="searchArticlesDropdown" class="nav-item">
        <a class="dropdown-item my-font-size-0-9rem"
           href="{% url 'article-search-input' %}">
            Search in Articles
        </a>
    </li>

    <!-- Divider -->
    <li class="nav-item"><hr class="dropdown-divider"></li>

</div>
