<!-- Links for profile management, logout, or login for non-authenticated users -->
<!-- Intended for 0_base/_header/_dropdown_data/__dropdown_menu__.html -->

<!-- Condition checking if the user is authenticated -->
{% if user.is_authenticated %}

    <!-- Link to profile management -->
    <li class="nav-item">
          <a class="dropdown-item my-font-size-0-9rem"
             href="{% url 'profile-update-user' %}">
                Manage Profile
          </a>
    </li>

    <!-- Link to logout -->
    <li class="nav-item">
          <a class="dropdown-item my-font-size-0-9rem"
             href="{% url 'account_logout' %}">
                Logout
          </a>
    </li>

<!-- Condition for when the user is not authenticated -->
{% else %}

    <!-- Link to login -->
    <li class="nav-item">
          <a class="dropdown-item my-font-size-0-9rem"
             href="{% url 'account_login' %}">
                Login
          </a>
    </li>

{% endif %}
