<!-- Linking to the parent template -->
{% extends 'account/_shared/_base_.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


    <!-- Picture -->
    {% include 'account/_shared/_picture_.html' with atr="login" %}

    <!-- Login form -->
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'account_login' %}" class="pt-1">
            {% csrf_token %}

            <!-- Hidden field for redirect value -->
            {% include 'account/_shared/_redirect_value_.html' %}

            <!-- Error messages for non input field -->
            {% include 'account/_shared/_error_messages_.html' %}

            <!-- Email -->
            {% include 'account/_login/_email_input_.html' %}

            <!-- Password -->
            {% include 'account/_login/_password_input_.html' %}

            <!-- Remember me Checkbox -->
            {% include 'account/_login/_remember_me_.html' %}

            <!-- Submit Button -->
            {% include 'account/_login/_submit_button_.html' %}

            <!-- Help links -->
            {% include 'account/_login/_help_links_.html' %}

            <!-- Or separator -->
            {% include 'account/_login/_or_separator_.html' %}

            <!-- Sign in with Google -->
            {% include 'account/_login/_login_with_google_.html' %}

        </form>

        <!-- Automatic confirmation of redirection -->
        {% block social_account %}
        {% endblock social_account %}

    </div>

    {% include 'account/_shared/_script_for_showing_password_.html' %}

{% endblock inner_content %}
