<!-- Linking to the parent template -->
{% extends 'account/__shared/__base__.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


    <!-- Picture -->
    {% include 'account/__shared/__picture__.html' with atr="login" %}

    <!-- Login form -->
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'account_login' %}" class="pt-1">
            {% csrf_token %}

            <!-- Hidden field for redirect value -->
            {% include 'account/__shared/__redirect_value__.html' %}

            <!-- Error messages for non input field -->
            {% include 'account/__shared/__error_messages__.html' %}

            <!-- Email -->
            {% include 'account/__login/__email_input__.html' %}

            <!-- Password -->
            {% include 'account/__login/__password_input__.html' %}

            <!-- Remember me Checkbox -->
            {% include 'account/__login/__remember_me__.html' %}

            <!-- Submit Button -->
            {% include 'account/__login/__submit_button__.html' %}

            <!-- Help links -->
            {% include 'account/__login/__help_links__.html' %}

            <!-- Or separator -->
            {% include 'account/__login/__or_separator__.html' %}

            <!-- Sign in with Google -->
            {% include 'account/__login/__login_with_google__.html' %}

        </form>

        <!-- Automatic confirmation of redirection -->
        {% block social_account %}
        {% endblock social_account %}

    </div>

    {% include 'account/__login/__script_for_showing_password__.html' %}

{% endblock inner_content %}
