<!-- Linking to the parent template -->
{% extends 'account/_shared/_base_.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


    <!-- Picture -->
    {% include 'account/_shared/_picture_.html' with atr="signup" %}

    <!-- Signup form -->
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'account_signup' %}" class="pt-1">
            {% csrf_token %}

            <!-- Hidden field for Redirect value -->
            {% include 'account/_shared/_redirect_value_.html' %}

            <!-- Error messages for non input field -->
            {% include 'account/_shared/_error_messages_.html' %}

            <!-- Email -->
            {% include 'account/_signup/_email_input_.html' %}

            <!-- Password -->
            {% include 'account/_signup/_password_input1_.html' %}

            <!-- Confirm Password -->
            {% include 'account/_signup/_password_input2_.html' %}

            <!-- Submit -->
            {% include 'account/_signup/_submit_button_.html' %}

            <!-- Help links -->
            {% include 'account/_signup/_help_links_.html' %}

        </form>

    </div>

    {% include 'account/_shared/_script_for_showing_password_.html' %}

{% endblock inner_content %}
