<!-- Linking to the parent template -->
{% extends 'account/__shared/__base__.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


    <!-- Picture -->
    {% include 'account/__shared/__picture__.html' with atr="signup" %}

    <!-- Signup form -->
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'account_signup' %}" class="pt-1">
            {% csrf_token %}

            <!-- Hidden field for Redirect value -->
            {% include 'account/__shared/__redirect_value__.html' %}

            <!-- Error messages for non input field -->
            {% include 'account/__shared/__error_messages__.html' %}

            <!-- Email -->
            {% include 'account/__signup/__email_input__.html' %}

            <!-- Password -->
            {% include 'account/__signup/__password_input1__.html' %}

            <!-- Confirm Password -->
            {% include 'account/__signup/__password_input2__.html' %}

            <!-- Submit -->
            {% include 'account/__signup/__submit_button__.html' %}

            <!-- Help links -->
            {% include 'account/__signup/__help_links__.html' %}

        </form>

    </div>

    {% include 'account/__signup/__script_for_showing_password__.html' %}

{% endblock inner_content %}
