<!-- Hlava stránky určená pro základní nastavení stránky -->
<!-- Určeno pro 0_base/00__base__.html -->


<!-- Kontejner slučující prvky hlavy stránky -->
<head>

    <!-- Meta - část obsahující informace pro prohlížeče a vyhledávací roboty -->
    {% include '0_base/_head/__meta__.html' %}

    <!-- Název stránky, který se zobrazuje v záhlaví prohlížeče -->
    <title>
        Bootstrap Blog - B5 Template by Bootstrap Temple
    </title>

    <!-- Links - část určená pro načtení externích zdrojů ovlivňujících vzhled stránky -->
    {% include '0_base/_head/__links__.html' %}

    <!-- Sripts - část určená pro načtení externích zdrojů ovlivňujících chování stránky -->
    {% include '0_base/_head/__scripts__.html' %}

</head>
