<!-- Include for 0_base/00__base__.html -->
<!-- for Page Navigation -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
    <div class="container py-1">

        <!-- Main title -->
        {% include '0_base/_header/__main_title__.html' %}

        <!-- Button for mobile device -->
        {% include '0_base/_header/__mobile_button__.html' %}

        <!-- Page navigations -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                <!-- Items for all users -->
                {% include '0_base/_header/__navigation_for_all__.html' %}

                <!-- Items for login users -->
                {% if user.is_authenticated %}
                    {% include '0_base/_header/__navigation_for_log_users__.html' %}

                <!-- Items for unlog users -->
                {% else %}
                    {% include '0_base/_header/__navigation_for_unlog_users__.html' %}

                {% endif %}

                <!-- Search and Languages -->
                {% include '0_base/_header/__search_and_language__.html' %}

            </ul>
        </div>

    </div>
</nav>

<!-- Search PopUp -->
{% include '0_base/_header/__search_popup__.html' %}
