<!-- Include for 0_base/00__base__.html -->
<!-- for Page Navigation -->


<!-- Udělení přístupu do statických souborů -->
{% load static %}


<style>
    /* Definice třídy pro odsazení obrázku z leva */
    .left-margin {
        margin-left: 28px;
        margin-right: 0px;

    }
    .left-padding {
        padding-left: 0px; /* Změňte hodnotu podle potřeby */
        background-color: yellow;
    }

    .right-padding {
        padding-right: 5px; /* Změňte hodnotu podle potřeby */
    }

    .hidden-element {
        display: none !important;
        visibility: hidden !important;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
    }

    .dropdown-menu li {
          position: relative;
    }
    .dropdown-menu .dropdown-submenu {
          display: none;
          position: absolute;
          left: 100%;
          top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
          right: 100%;
          left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
          display: block;
    }

    .drop-down-title {
        font-size: 0.8rem;
    }

    .dropdown-font {
        font-size: 0.9rem;
    }

    .drop-down-text {
        color: black;
        margin-top: 0.8rem;
        margin-left: 1rem;
    }
    .btn.btn-link:focus {
        background-color: white;
        outline: 4px solid white;
    }
    .pading-0 {
        padding: 0;
    }
    .light-grey-color {
        color: #f0f0f0;
    }

    .dropdown-submenu {
        float: left;
    }
</style>



<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
    <div class="container py-1">

        <!-- Main title -->
        {% include '0_base/_header/__main_title__.html' %}

        <!-- Page navigations -->
        <div class="collapse navbar-collapse right-padding" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                <!-- Items for all users -->
                {% include '0_base/_header/__navigation__.html' %}

                <!-- Items for special offer -->
                {% include '0_base/_header/__special_offer__.html' %}

                <!-- Search and Languages -->
                {% include '0_base/_header/__search_and_language__.html' %}

            </ul>
        </div>

    <!-- Když je uživatel přihlášený a má zapnutý postranní panel -->
    {% if user.is_authenticated and user.sidebar%}
        <!-- Zobraz ikonu pro skrytí postranního panelu -->
        <a class="p-2 left-margin"
           href="{% url 'user_sidebar_movements' hash='#sidebar' %}">
            <img alt="Hide Side Pavel Icon"
                 src="{% static 'img/hide_side_panel[150]2.jpg' %}"
                 width="38"/>
        </a>

    <!-- Ve všech ostatních případech -->
    {% else %}
        <!-- Zobraz uživatelovo rozklápěcí menu -->
        {% include '0_base/_header/__dropdown_menu__.html' %}
    {% endif %}

    </div>
</nav>

<!-- Search PopUp -->
{% include '0_base/_header/__search_popup__.html' %}
