<!-- Section for displaying flash messages -->
<!-- For 0_base/00__base__.html -->

<!-- Condition to check if there are any messages -->
{% if messages %}

    <!-- Container for displaying messages -->
    <div class="alert alert-dismissible fade show fw-bold text-dark mt-2 my-letter-spacing-1" role="alert">
        <ul class="list-unstyled">

            <!-- Loop for displaying messages -->
            {% for message in messages %}

                <!-- Display message -->
                <li class="text-center" >
                    <span class="text-muted">{{ message|upper }}</span>
                </li>

                <!-- Close button for the message -->
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close">
                </button>

            {% endfor %}

        </ul>
    </div>

{% endif %}
