<!-- Spodní část stránky určená pro všeobecné informace -->
<!-- Určeno pro 0_base/00__base__.html -->


{% include '0_base/css/css_footer.html' %}

<!-- Podmínka kontrolující, zda má být Hero sekce viditelná -->
{% if footer_data.display_footer_section %}

    <!-- Hlavní kontejner -->
    <footer class="footer text-white footer_color">
        <div class="container">

            <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
            {% include '1_home/_home_data/_edit_button_.html' with name='Footer' %}

            <!-- Kontejner pro jednotlivé sloupce patičky -->
            {% include '0_base/_footer/__content__.html' %}

            <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
            {% include '0_base/_footer/__edit_section__.html' %}

        </div>
    </footer>

    <!-- Poslední řádek patičky (pouze pokud má nastevené zobrazení) -->
    {% include '0_base/_footer/__end_line_section__.html' %}

{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% with section_url='edit-footer-section' name='Footer' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}