<!-- Bottom section of the page for general information -->
<!-- For 0_base/00__base__.html -->


<!-- Condition to check if the Hero section should be visible -->
{% if footer %}

    <!-- Main container -->
    <footer class="footer text-white my-background-0e0e0e">
        <div class="container">

            <!-- Button to show/hide the editing form for the section (only for edit url and superuser) -->
            {% include '1_home/_home_data/_edit_button_.html' with name='Footer' %}

            <!-- Container for individual footer columns -->
            {% include '0_base/_footer/__content__.html' %}

            <!-- Editing form for the section (only for edit url and superuser) -->
            {% include '0_base/_footer/__edit_section__.html' %}

        </div>
    </footer>

    <!-- Last row of the footer (only if display is set) -->
    {% include '0_base/_footer/__end_line_section__.html' %}

{% else %}

    <!-- Button to display the section (only for edit url and superuser) -->
    {% with section_url='edit-footer-section' name='Footer' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
