<!DOCTYPE html>
<html>

    <!-- Head -->
    {% include '0_base/1___head__.html' %}

    <body>

        <!-- Header -->
        {% include '0_base/2___header__.html' %}

        <!-- Flash messages -->
        {% include '0_base/3___messages__.html' %}

        <!-- Main content -->
        {% block main_content %}
        {% endblock main_content %}

        <!-- Footer -->
        {% include '0_base/4___footer__.html' %}

        <!-- Scripts -->
        {% include '0_base/5___scripts__.html' %}

    </body>

</html>
