<!-- Display tab for switching to categories for the current tag and similar articles -->
<!-- Intended for 3_articles/_page_navigation_data/_tags_.html -->

<!-- Tab for displaying categories -->
{% if articles_results %}

    <!-- Display categories for the selected tag -->
    {% if url_name == 'article-tag-list' %}
        <li class="nav-item ">
            <a href="{% url 'article-tag-list-category' tag_slug=current_tag.slug category_slug='first' %}"
            class="nav-link">
                Show Category
            </a>
        </li>

    <!-- Display categories for similar articles -->
    {% elif url_name == 'article-tag-list-similar' %}
        <li class="nav-item ">
            <a href="{% url 'article-tag-list-similar-category' tag_slug=current_tag.slug category_slug='first' %}"
            class="nav-link">
                Show Category
            </a>
        </li>
    {% endif %}

{% endif %}
