<!-- Include for account/signup.html -->
<!-- for Password Input -->


<!-- Password -->
<div class="mb-4">

    <!-- Password label -->
    <label for="id_password1" class="form-label">
        <small>Password:</small>
    </label>

    <!-- Password input -->
    <div class="input-group mb-3">

         <!-- Password input field -->
        <input type="password"
               class="form-control"
               id="id_password1"
               aria-describedby="passwordHelp"
               placeholder="At least 8 characters or more"
               name="password1">

    </div>

    <!-- Error messages for password input -->
    <p class="form-text error-text"
       id="passwordHelp" >
        {{ form.password1.errors.as_text }}
    </p>

</div>