<!-- Include for account/signup.html -->
<!-- for Confirm Password Input -->


<!-- Confirm Password -->
<div class="mb-4">

    <!-- Confirm Password label -->
    <label for="id_password2" class="form-label">
        <small>Confirm Password:</small>
    </label>

    <!-- Confirm Password input -->
    <div class="input-group mb-3">

        <!-- Confirm Password input field -->
        <input type="password"
               class="form-control"
               id="id_password2"
               aria-describedby="password2Help"
               placeholder="Confirm your password"
               name="password2"
               autocomplete="current-password">

        <!-- Show password button -->
        <button class="btn btn-primary btn-myhover"
                type="button"
                id="togglePassword">
            <i class="fas fa-eye "
               id="eye-icon"></i>
        </button>

    </div>

    <!-- Error messages for confirm password input -->
    <p class="form-text error-text"
       id="password2Help" >
        {{ form.password2.errors.as_text }}
    </p>
</div>


