{% extends '00_base.html' %}

{% load static %}

{% block content %}

{% include "11_home_hero.html" %}

{% include "12_home_intro.html" %}


<!-- Featured posts -->
<section class="pt-0">
  <div class="container">

    <!-- post -->
    {% for post in object_list %}
    <div class="row d-flex align-items-stretch g-0">

      <!-- Thumbnail before the post -->
      {% if forloop.counter|divisibleby:2 %}
        <div class="col-lg-5">
          <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="post_thumbnail">
        </div>
      {% endif %}

      <div class="col-lg-7">
        <div class="text-inner d-flex align-items-center h-100 bg-light">
          <div class="content px-4 px-lg-5">

            <!-- Category -->
            <ul class="list-inline mb-1">
              {% for category in post.categories.all %}
                <li class="list-inline-item">
                  <a class="text-uppercase text-dark small fw-bold" href="!#">
                    {{ category }}
                  </a>
                </li>
              {% endfor %}
            </ul>

            <!-- Title -->
            <h2 class="h4 mb-3">
              <a class="text-dark" href="{{ post.get_absolute_url }}">
                {{ post.title }}
              </a>
            </h2>

            <!-- Overview -->
            <p class="text-sm">
              {{ post.overview }}
            </p>

            <!-- Footer -->
            <ul class="list-inline list-separated text-gray-500 mb-0">

              <!-- Author -->
              <li class="list-inline-item">

                <!-- Link to the author -->
                <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

                  <!-- Profile picture -->
                  <div class="avatar flex-shrink-0">
                    <img class="img-fluid" src="{{ post.author.profile_picture.url }}" alt="profile_picture"/>
                  </div>

                  <!-- Name -->
                  <small>{{ post.author }}</small>
                </a>
              </li>

              <!-- Created -->
              <li class="list-inline-item small">
                <i class="far fa-clock"></i>
                {{ post.timestamp|timesince }} ago
              </li>

              <!-- Number of comments -->
              <li class="list-inline-item small">
                <i class="far fa-comment"></i>
                {{ post.comment_count }}
              </li>

            </ul>

          </div>
        </div>
      </div>

      <!-- Thumbnail after the post -->
      {% if not forloop.counter|divisibleby:2 %}
        <div class="col-lg-5">
          <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="post_thumbnail">
        </div>
      {% endif %}

    </div>
    {% endfor %}

  </div>
</section>


{% include "13_home_divider.html" %}

{% include "14_home_latest.html" %}

{% include "15_home_newsletter.html" %}

{% endblock content %}