{% load static %}

<!-- Latest posts -->
<section>
  <div class="container">

    <!-- Description -->
    <header class="mb-5">
      <h2>Latest from the blog</h2>
      <p class="text-lg fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </header>

    <!-- 3 posts -->
    <div class="row gy-4">

      <!-- One post -->
      {% for post in latest %}
      <div class="col-md-4">

        <!-- Thumbnail -->
        <a class="mb-3" href="post.html">
          <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="post_thumbnail"/>
        </a>

        <!-- post Timestamp and Category -->
        <div class="d-flex align-items-center justify-content-between mb-2">

          <!-- Timestamp -->
          <small class="text-gray-500">
            {{ post.timestamp }}
          </small>

          <!-- Category -->
          <ul class="list-inline mb-1">
            {% for category in post.categories.all %}
              <li class="list-inline-item">
                <a class="small fw-bold text-uppercase small" href="!#">
                  {{ category }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Title -->
        <h3 class="h4">
          <a class="text-dark" href="post.html">
            {{ post.title }}
          </a>
        </h3>

        <!-- Overview -->
        <p class="text-muted text-sm">
          {{ post.overview }}
        </p>

      </div>
      {% endfor %}

    </div>
  </div>
</section>