{% extends '00_base.html' %}
{% load static %}

{% block content %}

<!-- Pro případ, kdyby obrázky vykukovali ze stránky: -->
<!--  <style>.post-body img {width: 100%;}</style> -->

    <section class="py-5">
      <div class="container">
        <div class="row gy-5">

          <!-- Selected post -->
          <main class="col-lg-8"> 
            <div class="container">

              <!-- Thumbnail -->
              <img class="img-fluid w-100 mb-4" src="{{ post.thumbnail.url }}" alt="post_thumbnail">

              <!-- Category -->
              <ul class="list-inline mb-3">
                {% for category in post.categories.all %}
                  <li class="list-inline-item">
                    <li class="list-inline-item"><a class="text-uppercase" href="!#">
                      {{ category }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

              <!-- Title -->
              <h1 class="mb-4">{{ post.title }}<a href="!#"><i class="fa fa-bookmark-o"></i></a></h1>

              <!-- Info -->
              <ul class="list-inline list-separated text-gray-500 mb-5">

                <!-- Author -->
                <li class="list-inline-item">

                  <!-- Link to the author -->
                  <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

                    <!-- Profile picture -->
                    <div class="avatar flex-shrink-0">
                      <img class="img-fluid" src="{{ post.author.profile_picture.url }}" alt="profile_picture"/>
                    </div>

                    <!-- Name -->
                    <small>{{ post.author }}</small>
                  </a>
                </li>

                <!-- Created -->
                <li class="list-inline-item small">
                  <i class="far fa-clock"></i>
                  {{ post.timestamp|timesince }} ago
                </li>

                <!-- Number of comments -->
                <li class="list-inline-item small">
                  <i class="far fa-comment"></i>
                  {{ post.comment_count }}
                </li>

                <!-- Apdate of the post -->
                <li class="list-inline-item small">
                  <a href="{% url 'post-update' pk=post.id %}">Update post</a>
                </li>

              </ul>

              <!-- post content -->
              <div class="post-body">
                {{ post.content | safe }}
              </div>

              <!-- Tags -->
              <ul class="list-inline mb-5">
                <li class="list-inline-item"><a class="tag" href="!#">#Business</a></li>
                <li class="list-inline-item"><a class="tag" href="!#">#Tricks</a></li>
                <li class="list-inline-item"><a class="tag" href="!#">#Financial</a></li>
                <li class="list-inline-item"><a class="tag" href="!#">#Economy</a></li>
              </ul>

              {% include '31_article_previous_and_next.html' with post=post %}

              {% include '32_article_display_comments.html' with post=post %}

              {% include '33_article_add_comment.html' with post=post %}

            </div>
          </main>

          <!-- Sidebar -->
          {% include '50_sidebar.html' with most_recent=most_recent category_count=category_count %}

        </div>
      </div>
    </section>

{% endblock content %}