<!-- Display of the Previous and Next Post -->
<div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row mb-5">

<!-- Display of the Previous Post -->
{% if post.previous_post %}
  <a class="prev-post text-start d-flex align-items-center" href="{{ post.previous_post.get_absolute_url }}">

    <!-- Pointer display -->
    <div class="icon prev">
      <i class="fas fa-angle-left"></i>
    </div>

    <!-- Previous Post -->
    <div class="text">
      <strong class="text-primary">Previous Post </strong>
      <h6>{{ post.previous_post.title }}</h6>
    </div>

  </a>
{% endif %}

<!-- Display of the Next Post -->
{% if post.next_post %}
  <a class="next-post text-end d-flex align-items-center justify-content-end" href="{{ post.next_post.get_absolute_url }}">

    <!-- Next Post -->
    <div class="text">
      <strong class="text-primary">Next Post </strong>
      <h6>{{ post.next_post.title }}</h6>
    </div>

    <!-- Pointer display -->
    <div class="icon next">
      <i class="fas fa-angle-right"></i>
    </div>

  </a>
{% endif %}

</div>