<!-- Latest Posts Widget -->

<div class="card mb-5">
  <div class="card-body">

    <!-- Section name -->
    <h3 class="h6 mb-3">
      Latest Posts
    </h3>

    <!-- Loop through most_recent-->
    {% for post in most_recent %}
    <a class="text-reset mb-3" href="{{ post.get_absolute_url }}">
      <div class="d-flex align-items-center">

        <!-- post Thumbnail -->
        <img class="img-fluid flex-shrink-0" src="{{ post.thumbnail.url }}" alt="post_thumbnail" width="55">

        <!-- post overview -->
        <div class="ms-3">

          <!-- post title -->
          <p class="mb-2 fw-bold text-gray-700 lh-1">
            {{ post.title }}
          </p>

          <!-- post counts -->
          <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">

            <!-- post views count -->
            <li class="list-inline-item small">
              <i class="far fa-eye"></i>
              {{ post.view_count }}
            </li>

            <!-- post comment count -->
            <li class="list-inline-item small">
              <i class="far fa-comment"></i>
              {{ post.comment_count }}
            </li>

          </ul>

        </div>

      </div>
    </a>
    {% endfor %}

  </div>
</div>