<!--  Categories Widget -->

<div class="card mb-5">
  <div class="card-body">

    <!-- Section name -->
    <h3 class="h6 mb-3">
      Categories
    </h3>

    <!-- Loop through category_count-->
    {% for category in category_count %}

      <!-- Display for odd row -->
      {% if not forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light">

          <!-- Categories title -->
          <a class="text-reset" href="!#">
            {{ category.categories__title }}
          </a>

          <!-- Categories count -->
          <span>
            {{ category.categories__title__count }}
          </span>

        </div>
      {% endif %}

      <!-- Display for even row -->
      {% if forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1">

          <!-- Categories title -->
          <a class="text-reset" href="!#">
            {{ category.categories__title }}
          </a>

          <!-- Categories count -->
          <span>
            {{ category.categories__title__count }}
          </span>

        </div>
      {% endif %}

    {% endfor %}

  </div>
</div>