<!DOCTYPE html>
<html>

<!-- Připojení kódu ze souboru "head.html" (hlavička webu) -->
{% include "head.html" %}

<!-- Tělo webu -->
<body>

    <!-- Připojení kódu ze souboru "header.html" (hlavička stránky) -->
    {% include 'header.html' %}

    <!-- Připojení kódu pro zprávu oznamu -->
    <!-- Pokud stránka obsahuje messages (krátké oznami), vytvoř neuspořádaný seznam a zprávy vypiš -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Připojení kódu pro (tělo) hlavní obsah stránky -->
    {% block content %}
    {% endblock content %}

    <!-- Připojení kódu pro (patičku) spodní část stránky -->
    {% include 'footer.html' %}

    <!-- Připojení skriptů -->
    {% include 'scripts.html' %}

</body>

</html>