{% extends '00_base.html' %}
{% load static %}

{% block content %}

    <section>
      <div class="container">
        <div class="row gy-5">

          <!-- Latest articles -->
          <main class="col-lg-8"> 
            <div class="container">
              <div class="row gy-4 mb-5">

                <!-- Articles -->
                {% for article in paginated_articles %}
                <div class="col-xl-6">

                  <!-- Thumbnail -->
                  <a class="mb-3" href="{{ article.get_absolute_url }}">
                    <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article_thumbnail"/>
                  </a>

                  <!-- Article time and category -->
                  <div class="d-flex align-items-center justify-content-between mb-2">

                    <!-- Timestamp -->
                    <small class="text-gray-500">
                      {{ article.timestamp }}
                    </small>

                    <!-- Category -->
                    <ul class="list-inline mb-1">
                      {% for category in article.categories.all %}
                        <li class="list-inline-item">
                          <a class="small fw-bold text-uppercase small" href="!#">
                            {{ category }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>

                  </div>

                  <!-- Title -->
                  <h3 class="h4">
                    <a class="text-dark" href="{{ article.get_absolute_url }}">
                      {{ article.title }}
                    </a>
                  </h3>

                  <!-- Overview -->
                  <p class="text-muted text-sm">
                    {{ article.overview }}
                  </p>

                  <!-- Article info -->
                  <ul class="list-inline list-separated text-gray-500 mb-0">

                    <!-- Link to the author -->
                    <li class="list-inline-item">
                      <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

                        <!-- Profile picture -->
                        <div class="avatar flex-shrink-0">
                          <img class="img-fluid" src="{{ article.author.profile_picture.url }}" alt="profile_picture"/>
                        </div>

                        <!-- Name -->
                        <small>{{ article.author }}</small>

                      </a>
                    </li>

                    <!-- Created -->
                    <li class="list-inline-item small">
                      <i class="far fa-clock"></i>
                      {{ article.timestamp|timesince }} ago
                    </li>

                    <!-- Number of comments -->
                    <li class="list-inline-item small"><i class="far fa-comment"></i> 12</li>
                  </ul>
                </div>

              {% endfor %}


            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">

                <!-- If previous -->
                {% if paginated_articles.has_previous %}

                <!-- Display of left pointer -->
                  <li class="page-item">
                    <a href="?{{ page_request_var }}={{ paginated_articles.previous_page_number }}" class="page-link">
                      <i class="fa fa-angle-left"></i>
                    </a>
                  </li>

                <!-- Display of previous page number -->
                  <li class="page-item">
                    <a href="?{{ page_request_var }}={{ paginated_articles.previous_page_number }}" class="page-link">
                      {{ paginated_articles.previous_page_number }}
                    </a>
                  </li>

                {% endif %}

                <!-- Display of current page number -->
                <li class="page-item active">
                  <a href="?{{ page_request_var }}={{ paginated_articles.number }}" class="page-link">
                    {{ paginated_articles.number }}
                  </a>
                </li>

                <!-- If next -->
                {% if paginated_articles.has_next %}

                  <!-- Display of next page number -->
                  <li class="page-item">
                    <a href="?{{ page_request_var }}={{ paginated_articles.next_page_number }}" class="page-link">
                      {{ paginated_articles.next_page_number }}
                    </a>
                  </li>

                <!-- Display of right pointer -->
                  <li class="page-item">
                    <a href="?{{ page_request_var }}={{ paginated_articles.next_page_number }}" class="page-link">
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </li>

                {% endif %}

              </ul>
            </nav>

          </main>

          {% include 'sidebar.html' with most_recent_articles=most_recent_articles category_count=category_count %}
        </div>
      </div>

    </section>

{% endblock content %}