<aside class="col-lg-4">

    <!-- Search Bar Widget -->
    <div class="widget search">

      <!-- Section description -->
      <header><h3 class="h6">Search the blog</h3></header>

      <!-- Search form -->
      <form action="#" class="search-form">
        <div class="form-group">

          <!-- Searcc title -->
          <input type="text" name="q" placeholder="What are you looking for?">

          <!-- Search button -->
          <button type="submit" class="submit">
            <i class="icon-search"></i>
          </button>

        </div>
      </form>

    </div>


    <!-- Latest Posts Widget -->
    <div class="widget latest-posts">

      <!-- Section name -->
      <header><h3 class="h6">Latest Posts</h3></header>

      <!-- Results section -->
      <div class="blog-posts">
        {% for post in most_recent_posts %}
          <a href="#">
            <div class="item d-flex align-items-center">

              <!-- post Thumbnail -->
              <div class="image">
                <img src="{{ post.thumbnail.url }}" alt="post_thumbnail" class="img-fluid">
              </div>

              <!-- post overview -->
              <div class="title">

                <!-- post title -->
                <strong>{{ post.title }}</strong>

                <!-- post counts -->
                <div class="d-flex align-items-center">

                  <!-- post views count -->
                  <!-- {{ post.view_count }} -->
                  <div class="views">
                    <i class="icon-eye"></i>
                    0
                  </div>

                  <!-- post comment count -->
                  <!-- {{ post.comment_count }} -->
                  <div class="comments">
                    <i class="icon-comment"></i>
                    5
                  </div>

                </div>
              </div>

            </div>
          </a>
        {% endfor %}
      </div>

    </div>


    <!--  Categories Widget -->
    <div class="widget categories">

      <!-- Section name -->
      <header><h3 class="h6">Categories</h3></header>

      <!-- Results section -->
      {% for cat in category_count %}
        <div class="item d-flex justify-content-between">

          <!-- Categories title -->
          <a href="#">
            {{ cat.categories__title }}
          </a>

          <!-- Categories count -->
          <span>
            {{ cat.categories__title__count }}
          </span>

        </div>
      {% endfor %}

    </div>


    <!--  Tags Cloud Widget -->
      <div class="card">
        <div class="card-body">
          <h3 class="h6 mb-3">Tags</h3>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="tag" href="!#">#Business </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Fashion </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Sports </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Technology </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Economy </a></li>
          </ul>
        </div>
      </div>
</aside>



