
<aside class="col-lg-4">

<!-- Widget [Search Bar Widget]-->
<div class="card mb-5">
  <div class="card-body">

    <!-- Section description -->
    <h3 class="h6">Search the blog</h3>

    <!-- Search form -->
    <form action="{% url 'search' %}">
      <div class="input-group border-bottom">

        <!-- Search label -->
        <input class="form-control border-0 shadow-0 ps-0" type="text" name="q" placeholder="What are you looking for?">

        <!-- Search button -->
        <button class="btn btn-link btn-sm shadow-0 px-0" type="submit"><i class="fas fa-search"></i></button>

      </div>
    </form>

  </div>
</div>


<!-- Latest Posts Widget -->
<div class="card mb-5">
  <div class="card-body">

    <!-- Section name -->
    <h3 class="h6 mb-3">Latest Posts</h3>

    {% for article in most_recent_articles %}
    <a class="text-reset mb-3" href="{{ article.get_absolute_url }}">
      <div class="d-flex align-items-center">

        <!-- Article Thumbnail -->
        <img class="img-fluid flex-shrink-0" src="{{ article.thumbnail.url }}" alt="article_thumbnail" width="55">

        <!-- Article overview -->
        <div class="ms-3">

          <!-- Article title -->
          <p class="mb-2 fw-bold text-gray-700 lh-1">
            {{ article.title }}
          </p>

          <!-- Article counts -->
          <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">

            <!-- Article views count -->
            <li class="list-inline-item small">
              <i class="far fa-eye"></i>
              500
            </li>

            <!-- Article comment count -->
            <li class="list-inline-item small">
              <i class="far fa-comment"></i>
              12
            </li>

          </ul>

        </div>

      </div>
    </a>
    {% endfor %}

  </div>
</div>

<!--  Categories Widget -->
<div class="card mb-5">
  <div class="card-body">

    <!-- Section name -->
    <h3 class="h6 mb-3">Categories</h3>

    {% for category in category_count %}

      <!-- Odd order -->
      {% if not forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light">

          <!-- Categories title -->
          <a class="text-reset" href="!#">
            {{ category.categories__title }}</a>

          <!-- Categories count -->
          <span>
            {{ category.categories__title__count }}</span>

        </div>
      {% endif %}

      <!-- Even order -->
      {% if forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1">

          <!-- Categories title -->
          <a class="text-reset" href="!#">
            {{ category.categories__title }}</a>

          <!-- Categories count -->
          <span>
            {{ category.categories__title__count }}</span>

        </div>
      {% endif %}

    {% endfor %}



  </div>
</div>

<!-- Widget [Tags Cloud Widget]-->
<div class="card">
  <div class="card-body">
    <h3 class="h6 mb-3">Tags</h3>
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a class="tag" href="!#">#Business </a></li>
      <li class="list-inline-item"><a class="tag" href="!#">#Fashion </a></li>
      <li class="list-inline-item"><a class="tag" href="!#">#Sports </a></li>
      <li class="list-inline-item"><a class="tag" href="!#">#Technology </a></li>
      <li class="list-inline-item"><a class="tag" href="!#">#Economy </a></li>
    </ul>
  </div>
</div>
</aside>
