<!-- Shared Code -->
<!-- for User Profile Picture -->


<!-- For User Form -->
{% if atr == "user_form" %}
<img alt="User Profile Picture"
     src="{{ user_form.instance.profile_picture.url }}?{% now 'U' %}"
     class="img-fluid"/>


<!-- For User Thumbnail -->
{% elif atr == "user_thumbnail" %}

    <!-- If User Exist -->
    {% if user.profile_picture_thumbnail %}
        <img alt="User Profile Picture"
             src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}"
             class="img-fluid w-100"/>

    <!-- If User Non Exist -->
    {% else %}
        {% load static %}
        <img alt="Default Profile Picture"
             src="{% static 'img/default_profile_picture.jpg' %}"
             class="img-fluid w-100"/>

    {% endif %}

<!-- For Comment Thumbnail -->
{% elif atr == "user_comment" %}

    <!-- If User Exist -->
    {% if comment.user %}
        <img alt="Comment User Profile Picture"
             src="{{ comment.user.profile_picture_thumbnail.url }}?{% now 'U' %}"
             class="img-fluid rounded-circle flex-shrink-0"
             width="50"/>

    <!-- If User Non Exist -->
    {% else %}
        {% load static %}
        <img alt="Default Profile Picture"
             src="{% static 'img/user.svg' %}"
             class="img-fluid rounded-circle flex-shrink-0"
             width="50"/>

    {% endif %}




<!-- For Navigation Thumbnail -->
{% elif atr == "user_navigation" %}

    <!-- If User Exist -->
    {% if user.profile_picture_thumbnail %}
        <img alt="User Profile Picture"
             src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}"
             class="img-fluid rounded-circle flex-shrink-0"
             width="40"/>

    <!-- If User Non Exist -->
    {% else %}
        {% load static %}
        <img alt="Default Profile Picture"
             src="{% static 'img/default_profile_picture.jpg' %}"
             class="img-fluid rounded-circle flex-shrink-0"
             width="40"/>

    {% endif %}



<!-- For Navigation Thumbnail2 -->
{% elif atr == "user_navigation2" %}

    <!-- If User Exist -->
    {% if user.profile_picture_thumbnail %}
        <img alt="User Profile Picture"
             src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}"
             class="img-fluid m-2"
             width="40"/>

    {% endif %}

{% endif %}
