<!-- Linking to the parent template -->
{% extends '0_base/00__base__.html' %}

<!-- Start of block for the parent template -->
{% block main_content %}


    <!-- Base containers -->
    <section>

        <!-- Content displayed on large devices -->
        <div class="container">
            <div class="row gy-5">

                <!-- Container for main context -->
                <main class="col-lg-8">
                    <div class="container">

                        <!-- Context -->
                        {% block inner_content %}
                        {% endblock inner_content %}

                    </div>
                </main>

                <!-- Sidebar -->
                {% include '2_main/21__sidebar__.html' %}

            </div>

        </div>

    </section>


<!-- End of block for the parent template -->
{% endblock main_content %}
