{% extends '0_base/00__base__.html' %}

{% block main_content %}

    <section>
        <div class="container">
            <div class="row gy-5">

                <!-- Setting the number of columns for content when the user has sidebar enabled (2/3 layout) -->
                <main class="{% if user.sidebar.show_sidebars %}col-xl-8{% endif %}">

                    <!-- Container for inner content -->
                    <div class="container">

                        <!-- Section for inserting linked templates with additional content -->
                        {% block inner_content %}
                        {% endblock inner_content %}

                    </div>

                </main>

                <!-- Sidebar - displayed if enabled -->
                {% include '2_main/21__sidebar__.html' %}

            </div>
        </div>
    </section>

{% endblock main_content %}
