<!-- Extension for 2_main/20__base__.html -->

<!-- Checking if the user has the sidebar enabled -->
{% if user.sidebar.show_sidebars %}

    <!-- Sidebar visibility (only for XL devices and larger) -->
    <aside class="d-none d-xl-block col-xl-4 ">

        <!-- Loop through the sorted list of sidebar panels -->
        {% for sidebar in user.get_sorted_sidebar_panels %}
            <div class="px-1 mt-2">
                <div class="d-flex justify-content-between">

                    <!-- Button to hide and show the panel -->
                    <div class="d-inline-block">
                        <button class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
                                data-bs-toggle="collapse"
                                data-bs-target="#show_{{sidebar.slug}}_sidebar"
                                aria-expanded="{{ sidebar.visible }}"
                                aria-controls="show_{{sidebar.slug}}_sidebar">
                            {{ sidebar.name }}
                        </button>
                    </div>

                    <!-- Buttons for panel movement -->
                    {% include '2_main/_sidebars/_data/_sidebar_movement_buttons_.html' %}

                </div>

                <!-- Inner panel items -->
                <div class="collapse {% if sidebar.visible %}show{% endif %}"
                     id="show_{{sidebar.slug}}_sidebar">
                    {% include sidebar.template %}
                </div>

            </div>
        {% endfor %}

    </aside>

{% endif %}
