<!-- Include for 2_main/20__base__.html -->
<!-- for Sidebar -->



<style>
    .drop-down-title {
        font-size: 0.8rem;
    }

    .drop-down-text {
        color: black;
        margin-top: 0.8rem;
        margin-left: 1rem;
    }
    .btn.btn-link:focus {
        background-color: white;
        outline: 4px solid white;
    }
    .pading-0 {
        padding: 0;
    }

</style>


<!-- Sidebars -->
<aside class="col-lg-4  d-block d-lg-none d-xl-block">

    <div class="d-flex">
        <div class="ms-auto">
            <!-- Button -->
            <button class="btn btn-link drop-down-title  text-end"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse"
                    aria-expanded="True"
                    aria-controls="sidebarCollapse">
                {% include '2_main/_sidebars/_arrow/__hide_sidebar__.html' %}
            </button>
        </div>
    </div>



    <!-- Drop-down items -->
    <div class="collapse show" id="sidebarCollapse">


        <!-- Search -->
        {% include '2_main/_sidebars/__search__.html' %}

        <!-- User & Author -->
        {% if user.is_authenticated %}
            {% include '2_main/_sidebars/__user__.html' %}
        {% endif %}

        <!-- Category -->
        {% include '2_main/_sidebars/__category__.html' %}

        <!-- Tags -->
        {% include '2_main/_sidebars/__tags__.html' %}


    </div>

</aside>