<!-- Linking to the parent template -->
{% extends '2_main/0___main__.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


    <!-- Articles -->
    <div class="row gy-4 mb-5">

        <!-- Articles Header -->
        {% include '3_articles/1___header__.html' %}

        <!-- Articles -->
        {% include '3_articles/2___article__.html' %}

    </div>

    <!-- Pagination -->
    {% include '3_articles/3___pagination__.html' with page_obj=page_obj %}



<!-- End of block for the parent template -->
{% endblock inner_content %}