<!-- Include for 3_articles/0___articles__.html -->
<!-- for Articles Cycle -->

<!-- Import static files -->
{% load static %}


{% for article in page_obj %}
    <div class="col-xl-6 mb-3">

        <!-- Main Picture -->
        {% include '3_articles/2a__main_picture__.html' %}

        <!-- Article time and category -->
        {% include '3_articles/2b__time_and_category__.html' %}

        <!-- Tags -->
        {% include '3_articles/2c__tags__.html' %}

        <!-- Title & Overview -->
        {% include '3_articles/2d__title_and_overview__.html' %}

        <!-- Article info -->
        <ul class="list-inline list-separated text-gray-500 mb-0">

            <!-- Link to the author -->
            {% include '3_articles/2e__author__.html' %}

            <!-- Created -->
            {% include '3_articles/2f__created__.html' %}

            <!-- Number of comments -->
            {% include '3_articles/2g__comments__.html' %}

        </ul>

    </div>

{% endfor %}