<!-- Základní šablona pro stránky s výpisem článků -->


<!-- Odkaz na nadřazenou šablonu -->
{% extends '2_main/20__base__.html' %}


<!-- Začátek vnitřního bloku -->
{% block inner_content %}

    <!-- Kontejner sdružující nadpis a zobrazení článků -->
    <div class="row gy-4 mb-5">

        <!-- Nadpis -->
        {% include '3_articles/31__page_title__.html' %}

        <!-- Zobrazení článků -->
        {% include '3_articles/32__articles__.html' %}

    </div>

    <!-- Stránkování (pouze, pokud exisutje předchozí, nebo následující stránka) -->
    {% include '3_articles/33__pagination__.html' %}


{% endblock inner_content %}