{% extends '2_main/20__base__.html' %}

{% block inner_content %}

    <!-- Container grouping the title, navigation, and article display -->
    <div class="row gy-4 mb-5">

        <!-- Title -->
        {% include '3_articles/31__page_title__.html' %}

        <!-- Navigation -->
        {% include '3_articles/32__page_navigation__.html' %}

        <!-- Article Display -->
        {% include '3_articles/33__articles__.html' %}

    </div>

    <!-- Pagination (only if there is a previous or next page) -->
    {% include '3_articles/34__pagination__.html' %}

{% endblock inner_content %}
