<!-- Include for 3_articles/30__base__.html -->
<!-- for Articles Header -->



<!-- Zobrazení pro stránku s vlastními článkami -->
{% if page_title == 'My Articles' %}
    {% include '3_articles/_page_title/__my_articles__.html' %}

<!-- Pokud není Page Title -->
{% else %}

    <!-- Articles Header -->
    <header class="mb-5">

        <!-- Zobrazení pro stránku s kategoriemi -->
        {% if category_slug %}
            {% include '3_articles/_page_title/__category__.html' %}

        <!-- Zobrazení pro stránku s výsledky vyhledávání -->
        {% elif query %}
            {% include '3_articles/_page_title/__search_result__.html' %}

        {% else %}

            <!-- Pokud je Tag slag -->
            {% if tag_slug %}
                <h2>Articles with tag: {{ tag_slug }}</h2>


            <!-- Ve všech ostatních případech -->
            {% else %}
                <h2>All articles</h2>

            {% endif %}

            <!-- Text -->
            <p class="text-lg fw-light">
                To find a specific article, use the search box on the right.
            </p>

        {% endif %}

    </header>

{% endif %}