<!-- Zobrazení článků -->
<!-- Určeno pro 3_articles/30__base__.html -->


{% include '3_articles/css/css_articles.html' %}


<!-- Kontrola, zda záložka similar obsahuje nějaké články -->
{% include '3_articles/_articles/_similar_article_check_.html' %}

<!-- Cyklus pro zobrazení článků -->
{% for article in articles_results %}

    <!-- Při zapnutém postranním panelu a velikosti xl, zaberou články pouze 2/3 plochy -->
    <div class="{% if user.sidebar %}col-xl-6{% else %}col-xl-4{% endif %} col-lg-4 col-md-6 col-sm-12 mb-3">

        <!-- Definice položek článku -->
        {% include '3_articles/_articles/__article_setup__.html' %}

    <!-- Závírající div pro nastavení responzivního chování stránky -->
    </div>

{% endfor %}