<!-- Include for 3_articles/30__base__.html -->
<!-- for Articles Cycle -->

<!-- Import static files -->
{% load static %}

{% if not articles_results and 'similar' in url_name %}
<h6 style="color: grey;">There are no other articles with tags that have articles in the result.</h6>
{% endif %}

{% for article in articles_results %}

    <!-- Articles per row -->
    {% include '3_articles/32__articles_visibility__.html' %}

        <!-- Main Picture -->
        <a class="mb-3" href="article.html">
            {% include '__img/__article_main_picture__.html' with atr="preview" %}
        </a>

        <!-- Time and category -->
        <div class="d-flex align-items-center justify-content-between">

            <!-- Time -->
            {% include '__article/__date_created__.html' with atr="date" %}

            <!-- Category -->
            {% include '__article/__category__.html' %}

        </div>

        <!-- Tags -->
        {% include '__article/__tags__.html' with atr="articles" %}

        <!-- Title -->
        {% include '__article/__title__.html' with atr="articles" %}

        <!-- Overview -->
        {% include '__article/__overview__.html' with atr="articles" %}

        <!-- Article info -->
        <ul class="list-inline list-separated text-gray-500 mb-0">

            <!-- Link to the author -->
            {% include '__article/__author__.html' %}

            <!-- Created Ago -->
            {% include '__article/__date_created__.html' with atr="ago" %}

            <!-- Comment Count -->
            {% include '__article/__comment_count__.html' %}

        </ul>

    </div>

{% endfor %}