<!-- Zobrazení stránkování -->
<!-- Určeno pro 3_articles/30__base__.html -->


<!-- Kontrola, zda má stránka více stránek -->
{% if page_obj.has_next or page_obj.has_previous %}

    <!-- Navigace pro čísla stránek -->
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-template d-flex justify-content-center">

            <!-- Zobrazení předchozí stránky (pokud existuje) -->
            {% if page_obj.has_previous %}
                {% include '3_articles/_pagination_data/_previous_.html' %}
            {% endif %}

            <!-- Zobrazení aktuální stránky -->
            {% include '3_articles/_pagination_data/_current_.html' %}

            <!-- Zobrazení následující stránky (pokud existuje) -->
            {% if page_obj.has_next %}
                {% include '3_articles/_pagination_data/_next_.html' %}
            {% endif %}

        </ul>
    </nav>

{% endif %}