<style>

    /* Definice třídy pro odsazení obrázku z leva */
    .left-margin-sidebar-author {
        margin-left: 5px; /* Změňte hodnotu podle potřeby */
    }

    /* Definice třídy pro odsazení obrázku z leva */
    .left-margin-sidebar-author-name {
        margin-left: 6px; /* Změňte hodnotu podle potřeby */
    }

    /* Definice třídy pro odsazení obrázku z leva */
    .left-margin-sidebar-author-items {
        margin-left: 45px; /* Změňte hodnotu podle potřeby */
    }

    .sidebar-author-text {
        font-size: 0.8rem;
        color: #a0a0a0;
    }

    .sidebar-author-name {
        font-size: 1rem;
        font-weight: bold;

    }

</style>