<!-- Linking to the parent template -->
{% extends '0_base/0___base__.html' %}

<!-- Start of block for the parent template -->
{% block main_content %}


    <!-- Hero Section-->
    {% include '1_home/1___hero__.html' %}

    <!-- Intro Section-->
    {% include '1_home/2___intro__.html' %}

    <!-- Featured articles -->
    {% include '1_home/3___featured__.html' %}

    <!-- Divider Section-->
    {% include '1_home/4___divider__.html' %}

    <!-- Latest articles -->
    {% include '1_home/5___latest__.html' %}

    <!-- Newsletter Section -->
    {% include '1_home/6___newsletter__.html' %}

    <!-- Gallery Section-->
    {% include '1_home/7___gallery__.html' %}


<!-- End of block for the parent template -->
{% endblock main_content %}