<!-- Výchozí šablona pro domácí stránku -->


<!-- Odkaz na nadřazenou šablonu -->
{% extends '0_base/00__base__.html' %}


<!-- Začátek vnitřního bloku -->
{% block main_content %}

    <!-- Hero Section - úvodní obrázek stránky -->
    {% include '1_home/11__hero__.html' %}

    <!-- Intro Section - úvodní text stránky -->
    {% include '1_home/12__intro__.html' %}

    <!-- Featured articles - 3 vybrané články -->
    {% include '1_home/13__featured_articles__.html' %}

    <!-- Divider Section - oddělovač stránky -->
    {% include '1_home/14__divider__.html' %}

    <!-- Latest articles - 3 nejnovější články -->
    {% include '1_home/15__latest_articles__.html' %}

    <!-- Newsletter Section - část pro objednání zasílání novinek -->
    {% include '1_home/16__newsletter__.html' %}

    <!-- Gallery Section - galerie hlavních obrázků (pro 4 články) -->
    {% include '1_home/17__gallery__.html' %}

<!-- End of block for the parent template -->
{% endblock main_content %}

