{% extends '0_base/00__base__.html' %}

{% block main_content %}

    <!-- Hero Section - introductory image of the page -->
    {% include '1_home/11__hero__.html' %}

    <!-- Intro Section - introductory text of the page -->
    {% include '1_home/12__intro__.html' %}

    <!-- Featured articles - 3 selected articles -->
    {% include '1_home/13__featured_articles__.html' %}

    <!-- Divider Section - page divider -->
    {% include '1_home/14__divider__.html' %}

    <!-- Latest articles - 3 newest articles -->
    {% include '1_home/15__latest_articles__.html' %}

    <!-- Newsletter Section - section for subscribing to newsletters -->
    {% include '1_home/16__newsletter__.html' %}

    <!-- Gallery Section - gallery of main images (for 4 articles) -->
    {% include '1_home/17__gallery__.html' %}

{% endblock main_content %}
