<!-- Hero Section - introductory image of the page -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if hero_data.display_hero_section %}

    <!-- Background image -->
    {% with class='hero' image=hero_data.hero_image position='center center' %}
    {% include '1_home/_home_data/_display_background_image_.html' %}
    {% endwith %}

        <!-- Main container -->
        <div class="container text-white py-5">
            <div class="row py-lg-5">
                <div class="col-lg-7">

                    <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
                    {% with name='Hero' %}
                    {% include '1_home/_home_data/_edit_button_.html' %}
                    {% endwith %}

                    <!-- Title -->
                    {% with text=hero_data.hero_title %}
                    {% include '1_home/_home_data/_display_h1_text_.html' %}
                    {% endwith %}

                    <!-- Link -->
                    {% with link=hero_data.hero_link title=hero_data.hero_link_title %}
                    {% include '1_home/_home_data/_display_link_.html'%}
                    {% endwith %}

                    <!-- Section editing form (only for url edit and superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__hero__.html' %}
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-hero-section' name='Hero' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
