<!-- Include for 1_home/10__base__.html -->
<!-- Hero Section -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if hero_data.display_hero_section %}

    <!-- Obrázek v pozadí -->
    <section class="hero"
             style="background: url({{ hero_data.hero_image }});
                    background-size: cover;
                    background-position: center center">

        <!-- Hlavní kontejner -->
        <div class="container text-white py-5">
            <div class="row py-lg-5">
                <div class="col-lg-7">

                    <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_common/__edit_button__.html' with name='Hero' %}
                    {% endif %}

                    <!-- Hlavní část: Nadpis a odkaz -->
                    {% include '1_home/_hero/__page_texts__.html' %}

                    <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_hero/__edit_section__.html' %}
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% if user.is_superuser and request.path == '/edit/' %}
    {% include '1_home/_common/__section_display__.html' with section_url='edit-hero-section' name='Hero' %}
    {% endif %}

{% endif %}