<!-- Intro Section - úvodní text stránky -->
<!-- Určeno pro 1_home/10__base__.html -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if intro_data.display_intro_section %}

    <!-- Hlavní kontejner -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                    {% with name='Intro' %}
                    {% include '1_home/_home_data/_edit_button_.html' %}
                    {% endwith %}

                    <!-- Nadpis -->
                    {% with text=intro_data.intro_title %}
                    {% include '1_home/_home_data/_display_h2_text_.html' %}
                    {% endwith %}

                    <!-- Text -->
                    {% with text=intro_data.intro_description %}
                    {% include '1_home/_home_data/_display_div_text_.html'%}
                    {% endwith %}

                    <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__intro__.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% with section_url='edit-intro-section' name='Intro' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}