<!-- Intro Section - introductory text of the page -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if intro_data.display_intro_section %}

    <!-- Main container -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
                    {% with name='Intro' %}
                    {% include '1_home/_home_data/_edit_button_.html' %}
                    {% endwith %}

                    <!-- Title -->
                    {% with text=intro_data.intro_title %}
                    {% include '1_home/_home_data/_display_h2_text_.html' %}
                    {% endwith %}

                    <!-- Text -->
                    {% with text=intro_data.intro_description %}
                    {% include '1_home/_home_data/_display_div_text_.html'%}
                    {% endwith %}

                    <!-- Section editing form (only for url edit and superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__intro__.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-intro-section' name='Intro' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
