<!-- Featured articles - 3 selected articles -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if featured_data.display_featured_section %}

    <!-- Main container -->
    <section class="pt-0">
        <div class="container">

            <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
            {% with name='Featured' %}
            {% include '1_home/_home_data/_edit_button_.html' %}
            {% endwith %}

            <!-- Section editing form (only for url edit and superuser) -->
            {% if user.is_superuser and request.path == '/edit/' %}
            {% include '1_home/_home_edit/__featured__.html' %}
            {% endif %}

            <!-- Main part: Displaying articles -->
            {% include '1_home/_home_data/__featured_articles__.html' %}

        </div>
    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-featured-section' name='Featured' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
