<!-- Include for 1_home/10__base__.html -->
<!-- for Featured articles -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if featured_data.display_featured_section %}

    <!-- Hlavní kontejner -->
    <section class="pt-0">
        <div class="container">

            <!-- Podmínka pro zobrazení pouze na URL edit a pro SuperUser -->
            {% if user.is_superuser and request.path == '/edit/' %}

                <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce -->
                {% include '1_home/_common/__edit_button__.html' with name='Featured' %}

                <!-- Editační formulář sekce -->
                {% include '1_home/_featured_articles/__edit_section__.html' %}

            {% endif %}

            <!-- Hlavní část: Zobrazení článků -->
            {% include '1_home/_featured_articles/__page_articles__.html' %}

        </div>
    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% if user.is_superuser and request.path == '/edit/' %}
    {% include '1_home/_common/__section_display__.html' with section_url='edit-featured-section' name='Featured' %}
    {% endif %}

{% endif %}