<!-- Include for 1_home/0___home__.html -->
<!-- for Featured articles -->


<!-- Featured articles -->
<section class="pt-0">
    <div class="container">

        <!-- Article cycle -->
        {% for article in object_list %}
            <div class="row d-flex align-items-stretch g-0">

                <!-- Main picture placed before the article -->
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-lg-5 ">
                        {% include '__img/__article_main_picture__.html' with atr="for_article" %}
                    </div>
                {% endif %}

                <!-- Article -->
                <div class="col-lg-7 ">
                    <div class="text-inner d-flex align-items-center h-100 bg-light">
                        <div class="content px-4 px-lg-5">

                            <!-- Category -->
                            {% include '__article/__category__.html' %}

                            <!-- Title -->
                            {% include '__article/__title__.html' with atr="featured" %}

                            <!-- Overview -->
                            {% include '__article/__overview__.html' with atr="featured" %}

                            <!-- Footer -->
                            <ul class="list-inline list-separated text-gray-500 mb-0">

                                <!-- Link to the author -->
                                {% include '__article/__author__.html' %}

                                <!-- Created Ago -->
                                {% include '__article/__date_created__.html' with atr="ago" %}

                                <!-- Comment Count -->
                                {% include '__article/__comment_count__.html' %}

                            </ul>

                        </div>
                    </div>
                </div>

                <!-- Main picture placed behind the article -->
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="col-lg-5 ">
                        {% include '__img/__article_main_picture__.html' with atr="for_article" %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

    </div>
</section>
