<!-- Divider Section - oddělovač stránky -->
<!-- Určeno pro 1_home/10__base__.html -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if divider_data.display_divider_section %}

    <!-- Obrázek v pozadí v tagu pro section -->
    {% with class='divider' image=divider_data.divider_image position='center bottom' %}
    {% include '1_home/_home_data/_display_background_image_.html' %}
    {% endwith %}

        <!-- Hlavní kontejner -->
        <div class="container text-white">
            <div class="row">
                <div class="col-md-7">

                    <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                    {% with name='Divider' %}
                    {% include '1_home/_home_data/_edit_button_.html' %}
                    {% endwith %}

                    <!-- Text sekce -->
                    {% with text=divider_data.divider_text %}
                    {% include '1_home/_home_data/_display_h2_text_.html' %}
                    {% endwith %}

                    <!-- Odkaz -->
                    {% with link=divider_data.divider_link title=divider_data.divider_link_title %}
                    {% include '1_home/_home_data/_display_link_.html'%}
                    {% endwith %}

                    <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__divider__.html' %}
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% with section_url='edit-divider-section' name='Divider' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}