<!-- Include for 1_home/10__base__.html -->
<!-- for Latest articles -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if latest_data.display_latest_section %}

    <!-- Hlavní kontejner -->
    <section>
        <div class="container">

            <!-- Hlavička sekce -->
            <header class="mb-5">

                <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                {% if user.is_superuser and request.path == '/edit/' %}
                {% include '1_home/_common/__edit_button__.html' with name='Latest' %}
                {% endif %}

                <!-- Hlavní část: Nadpis a popis -->
                {% include '1_home/_latest_articles/__page_texts__.html' %}

            </header>

            <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
            {% if user.is_superuser and request.path == '/edit/' %}
            {% include '1_home/_latest_articles/__edit_section__.html' %}
            {% endif %}

            <!-- Hlavní část: Zobrazení článků -->
            {% include '1_home/_latest_articles/__page_articles__.html' %}

        </div>
    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% if user.is_superuser and request.path == '/edit/' %}
    {% include '1_home/_common/__section_display__.html' with section_url='edit-latest-section' name='Latest' %}
    {% endif %}

{% endif %}