<!-- Latest articles - displaying the 3 most recent articles -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if latest_data.display_latest_section %}

    <!-- Main container -->
    <section>
        <div class="container">

            <!-- Section header -->
            <header class="mb-5">

                <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
                {% with name='Latest' %}
                {% include '1_home/_home_data/_edit_button_.html' %}
                {% endwith %}

                <!-- Section title -->
                {% with text=latest_data.latest_title %}
                {% include '1_home/_home_data/_display_h2_text_.html' %}
                {% endwith %}

                <!-- Section subtitle -->
                {% with text=latest_data.latest_description %}
                {% include '1_home/_home_data/_display_div_text_.html'%}
                {% endwith %}

            </header>

            <!-- Section editing form (only for url edit and superuser) -->
            {% if user.is_superuser and request.path == '/edit/' %}
            {% include '1_home/_home_edit/__latest__.html' %}
            {% endif %}

            <!-- Main content: Displaying articles -->
            {% include '1_home/_home_data/__latest_articles__.html' %}

        </div>
    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-latest-section' name='Latest' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
