<!-- Newsletter Section - part for subscribing to newsletters -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if newsletter_data.display_newsletter_section %}

    <!-- Main container -->
    <section class="pt-0">
        <div class="container">
            <div class="row">

                <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
                {% with name='Newsletter' %}
                {% include '1_home/_home_data/_edit_button_.html' %}
                {% endwith %}

                <!-- Container for title and subtitle -->
                <div class="col-md-6">

                    <!-- Section title -->
                    {% with text=newsletter_data.newsletter_title clss='mb-2' %}
                    {% include '1_home/_home_data/_display_h2_text_.html' %}
                    {% endwith %}

                    <!-- Section subtitle -->
                    {% with text=newsletter_data.newsletter_description clss='mb-4' %}
                    {% include '1_home/_home_data/_display_div_text_.html'%}
                    {% endwith %}

                </div>

                <!-- Forms -->
                <div class="col-md-8">

                    <!-- Section editing form (only for url edit and superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__newsletter__.html' %}
                    {% endif %}

                    <!-- Main content: Input field for entering and submitting email -->
                    {% include '1_home/_home_data/_input_email_field_.html' %}

                </div>

            </div>
        </div>
    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-newsletter-section' name='Newsletter' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
