<!-- Include for 1_home/10__base__.html -->
<!-- for Newsletter Section -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if newsletter_data.display_newsletter_section %}

    <!-- Hlavní kontejner -->
    <section class="pt-0">
        <div class="container">
            <div class="row">

                <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                {% if user.is_superuser and request.path == '/edit/' %}
                {% include '1_home/_common/__edit_button__.html' with name='Newsletter' %}
                {% endif %}

                <!-- Hlavní část: Nadpis a popis -->
                {% include '1_home/_newsletter/__page_texts__.html' %}

                <!-- Formuláře -->
                <div class="col-md-8">

                    <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_newsletter/__edit_section__.html' %}
                    {% endif %}

                    <!-- Hlavní část: Pole pro vložení a odeslání emailu -->
                    {% include '1_home/_newsletter/__input_email_field__.html' %}

                </div>

            </div>
        </div>
    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% if user.is_superuser and request.path == '/edit/' %}
    {% include '1_home/_common/__section_display__.html' with section_url='edit-newsletter-section' name='Newsletter' %}
    {% endif %}

{% endif %}