<!-- Newsletter Section - část pro objednání zasílání novinek -->
<!-- Určeno pro 1_home/10__base__.html -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if newsletter_data.display_newsletter_section %}

    <!-- Hlavní kontejner -->
    <section class="pt-0">
        <div class="container">
            <div class="row">

                <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce (pouze pro url edit a superuser) -->
                {% with name='Newsletter' %}
                {% include '1_home/_home_data/_edit_button_.html' %}
                {% endwith %}

                <!-- Kontejner pro nadpis a podnadpis -->
                <div class="col-md-6">

                    <!-- Nadpis sekce -->
                    {% with text=newsletter_data.newsletter_title clss='mb-2' %}
                    {% include '1_home/_home_data/_display_h2_text_.html' %}
                    {% endwith %}

                    <!-- Podnadpis sekce -->
                    {% with text=newsletter_data.newsletter_description clss='mb-4' %}
                    {% include '1_home/_home_data/_display_div_text_.html'%}
                    {% endwith %}

                </div>

                <!-- Formuláře -->
                <div class="col-md-8">

                    <!-- Editační formulář sekce (pouze pro url edit a superuser) -->
                    {% if user.is_superuser and request.path == '/edit/' %}
                    {% include '1_home/_home_edit/__newsletter__.html' %}
                    {% endif %}

                    <!-- Hlavní část: Pole pro vložení a odeslání emailu -->
                    {% include '1_home/_home_data/_input_email_field_.html' %}

                </div>

            </div>
        </div>
    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% with section_url='edit-newsletter-section' name='Newsletter' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}