<!-- Include for 1_home/10__base__.html -->
<!-- for Gallery Section -->


<!-- Podmínka kontrolující, zda má být sekce viditelná -->
{% if gallery_data.display_gallery_section %}

    <!-- Hlavní kontejner -->
    <section class="p-0">


        <!-- Podmínka pro zobrazení pouze na URL edit a pro SuperUser -->
        {% if user.is_superuser and request.path == '/edit/' %}

            <!-- Tlačítko pro skrytí/zobrazení editačního formuláře sekce  -->
            {% include '1_home/_common/__edit_button__.html' with name='Gallery' %}

            <!-- Editační formulář sekce -->
            {% include '1_home/_gallery/__edit_section__.html' %}

        {% endif %}

        <!-- Hlavní část: Zobrazení obrázků vybraných článků -->
        {% include '1_home/_gallery/__page_articles__.html' %}

    </section>

<!-- Pokud je sekce skrytá -->
{% else %}

    <!-- Tlačítko pro zobrazení sekce (pouze pro url edit a superuser) -->
    {% if user.is_superuser and request.path == '/edit/' %}
    {% include '1_home/_common/__section_display__.html' with section_url='edit-gallery-section' name='Gallery' %}
    {% endif %}

{% endif %}