<!-- Gallery Section - gallery of main images (for 4 articles) -->
<!-- For 1_home/10__base__.html -->


<!-- Condition checking whether the section should be visible -->
{% if gallery_data.display_gallery_section %}

    <!-- Main container -->
    <section class="p-0 d-none d-md-block">

        <!-- Button to show/hide the section editing form (only for url edit and superuser) -->
        {% with name='Gallery' %}
        {% include '1_home/_home_data/_edit_button_.html' %}
        {% endwith %}

        <!-- Section editing form (only for url edit and superuser) -->
        {% if user.is_superuser and request.path == '/edit/' %}
        {% include '1_home/_home_edit/__gallery__.html' %}
        {% endif %}

        <!-- Main content: Displaying images of selected articles -->
        {% include '1_home/_home_data/_gallery_articles_.html' %}

    </section>

<!-- If the section is hidden -->
{% else %}

    <!-- Button to display the section (only for url edit and superuser) -->
    {% with section_url='edit-gallery-section' name='Gallery' %}
    {% include '1_home/_home_data/_section_display_.html' %}
    {% endwith %}

{% endif %}
