<!-- Include for 1_home/0___home__.html -->
<!-- for Intro Section -->


<!-- Intro Section-->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="h3">
                    Some great intro here
                </h2>

                <!-- Intro -->
                <p class="text-lg fw-light lh-lg mb-0">
                    Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. /
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut /
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea /
                    commodo consequat. Duis aute irure dolor in reprehenderi.
                </p>

            </div>
        </div>
    </div>
</section>