<!-- Include for 1_home/6___newsletter__.html -->
<!-- for Form -->


<!-- Form -->
<div class="col-md-8">
    <form action="." method="article">
        {% csrf_token %}
        <div class="input-group">

            <!-- Email input field -->
            <input class="form-control p-3"
                   type="email"
                   name="email"
                   id="email"
                   placeholder="Type your email address">

            <!-- Submit button -->
            <button class="btn btn-dark"
                    type="submit">
                Subscribe
            </button>

        </div>
    </form>
</div>