<!-- Vnitřní nabídka položek autora -->
<!-- Určeno pro 2_main/_sidebars/_user/__author__.html -->


<!-- Kontejner pro položky vnitřní rozklápěcí nabídky autora -->
<div class="collapse {% if user.sidebar_user_author_menu %} show {% endif %} left-margin-sidebar-author-items"
     id="sidebar_user_author_menu">

    <!-- Odkaz na vytvoření nového článku -->
    {% include '2_main/_sidebars/_user/_author_data/_article_create_.html' %}

    <!-- Odkaz na články autora -->
    {% include '2_main/_sidebars/_user/_author_data/_author_articles_.html' %}

</div>

