<!-- Include for Article output -->
<!-- for Next article -->


<!-- Display of the Next article -->
{% if article.next_article %}
    <a class="next-article text-end d-flex align-items-center justify-content-end"
       href="{{ article.next_article.get_absolute_url }}">

        <!-- Next article -->
        <div class="text">
            <strong class="text-primary">Next article </strong>
            <h6>{{ article.next_article.title }}</h6>
        </div>

        <!-- Pointer display -->
        <div class="icon next">
            <i class="fas fa-angle-right"></i>
        </div>

    </a>
{% endif %}

