<!-- Include for Article output -->
<!-- for Article Title -->


<!-- Title for 1_home/11__featured_articles__.html -->
{% if atr == "featured" %}

    <h2 class="h4 mb-3">
        <a class="text-dark"
           href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </h2>


<!-- Title for 1_home/12__latest_articles__.html -->
{% elif atr == "latest" %}

    <h3 class="h4">
        <a class="text-dark"
           href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </h3>


<!-- Title for 3_articles/31__articles__.html -->
{% elif atr == "articles" %}

    <h3 class="h4">
        <a class="text-dark"
           href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </h3>


<!-- Title for 4_article/41__article__.html -->
{% elif atr == "article" %}

    <h1 class="mb-4">
        {{ article.title }}
        <a href="!#">
            <i class="fa fa-bookmark-o"></i>
        </a>
    </h1>


{% endif %}