<!-- Include for account/login.html -->
<!-- for Sign in with Google -->

{% load account %}
{% load allauth account socialaccount %}

<div class="row">
    <div class="col">
        <div class="d-grid">

            <!-- Link -->
            <a class="btn btn-primary btn-lg btn-block btn-myhover"
               href="{% provider_login_url 'google' method='oauth2' %}"
               role="button">
                <i class="fab fa-google me-2"></i>
                Log in with Google
            </a>

        </div>
    </div>
</div>