<!-- Zobrazení položek categorií postranního panelu -->
<!-- Určeno pro 2_main/_sidebars/_category/__category_mainframe__.html -->


<!-- Kontekner pro zobrazení a skrytí vnitřního obsahu -->
<div class="collapse {% if user.sidebar_category_options %} show {% endif %}"
     id="sidebar_category_options">

    <!-- Cyklus prorocházející kategorie-->
    {% for category in category_count %}

        <!-- Podmínka pro zobrazení lichých položek -->
        {% if not forloop.counter|divisibleby:2 %}
        {% include '2_main/_sidebars/_category/_category_data/_category_display_.html' with atr='even' %}
        {% endif %}

        <!-- Podmínka pro zobrazení sudých položek -->
        {% if forloop.counter|divisibleby:2 %}
        {% include '2_main/_sidebars/_category/_category_data/_category_display_.html' %}
        {% endif %}

    {% endfor %}

</div>