<!-- Zobrazení jednotlivých kategorií -->
<!-- Určeno pro 2_main/_sidebars/_category/__category_dropdown__.html -->


<!-- Hlavní kontejner spojující vnitřní prvky (skrze atribut 'even' rozlišuje mezi světlým a tmavým pozadím) -->
<div class="p-2 d-flex justify-content-between fw-bold text-gray-600 {% if atr == 'even' %} bg-light {% endif %}">

    <!-- Kategorie -->
    <a class="text-reset"
       href="{% url 'article-category-list' category_slug=category.category__slug %}">
        {{ category.category__title }}
    </a>

    <!-- Počet článků -->
    <span>
        {{ category.category__title__count }}
    </span>

</div>