<!-- Navigation item for the page in the header of the website -->
<!-- Intended for 0_base/_header/__navigation__.html -->

<!-- Option to show or hide navigation by categories -->
{% if url_name == 'article-list' or url_name == 'article-category-list' %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'user_navigation_settings' hash='#bool_show_category_navigation' %}">
            {% if user.settings.show_category_navigation %}Hide Category{% else %}Show Category{% endif %}
        </a>
    </li>

<!-- Option to show or hide navigation by tags -->
{% elif 'search' in url_name or 'article-tag' in url_name %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'user_navigation_settings' hash='#bool_show_tab_for_similar'  %}">
            {% if user.settings.show_tab_for_similar %}Hide Similar{% else %}Show Similar{% endif %}
        </a>
    </li>

<!-- Option to edit the article -->
{% elif url_name == 'article-detail' and user == article.author.linked_user %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
        href="{% url 'article-update' slug=article.slug current_tab='overview' %}">
            Edit Article
        </a>
    </li>

<!-- Option to delete the article -->
{% elif url_name == 'article-update' and user == article.author.linked_user %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'article-delete' object.slug %}">
            Delete Article
        </a>
    </li>

<!-- Option to return to edit the article -->
{% elif url_name == 'article-delete' and user == article.author.linked_user %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'article-update' slug=article.slug current_tab='overview' %}">
            Return to Article
        </a>
    </li>

{% endif %}

<!-- Option to show the edit button for the homepage -->
{% if user.is_superuser and url_name == 'homepage' %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'homepage-edit' %}">
            Show Edit Buttons
        </a>
    </li>

<!-- Option to hide the edit button for the homepage -->
{% elif user.is_superuser and url_name == 'homepage-edit' %}
    <li class="nav-item">
        <a class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
           href="{% url 'homepage' %}">
            Hide Edit Buttons
        </a>
    </li>

{% endif %}
