<!-- Část pro adresu a odkazy na sociální sítě v patičce -->
<!-- Rozšířenní pro 0_base/04__footer__.html -->

<!-- Hlavní kontejner -->
<div class="col-md-4">

    <!-- Jméno společnosti -->
    <h6 class="text-white">
        {{ footer_data.address.company_name.value }}
    </h6>

    <!-- Adresa -->
    <p class="fw-light mb-1">
        {{ footer_data.address.address.value }}
    </p>

    <!-- Telefon -->
    <p class="fw-light mb-1">
        Phone: {{ footer_data.address.phone.value }}
    </p>

    <!-- Email -->
    <p class="fw-light mb-4">
        Email:
        <a class="text-decoration-underline text-reset"
           href="mailto:{{ footer_data.address.email.value }}">
            {{ footer_data.address.email.value }}
        </a>
    </p>

    <!-- Sociální sítě -->
    <ul class="list-unstyled">

        <!-- Procházení sociálních sítí a přidání příslušné ikony -->
        {% for media, data in footer_data.social_media.items %}
            {% if data.url %}
                <li class="list-inline-item">
                    <a class="text-reset me-2" href="{{ data.url }}">
                        <i class="{{ data.icon }}"></i>
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    </ul>

</div>
