<!-- Část pro vybrané články patičky -->
<!-- Rozšíření pro 0_base/04__footer__.html -->

<!-- Hlavní kontejner -->
<div class="col-md-4">

    <!-- Procházení článků -->
    {% for article_key, article in footer_data.articles.items %}

        <!-- Kontrola, zda článek obsahuje data -->
        {% if article %}

            <!-- Zabalení článků do kotvy -->
            <a class="d-block mb-2" href="{{ article.article_url }}">
                <div class="d-flex align-items-center">

                    <!-- Obrázek článku -->
                    <img class="img-fluid p-1 border border-gray-600 flex-shrink-0"
                         src="{{ article.picture_path }}?{% now 'U' %}"
                         alt="..." width="50">

                    <!-- Nadpis a datum publikování článku -->
                    <div class="ms-2 text-muted">
                        <p class="fw-bold mb-0">{{ article.title }}</p>
                        <span>{{ article.date }}</span>
                    </div>

                </div>
            </a>
        {% endif %}
    {% endfor %}

</div>
