<!-- Editační část sekce -->
<!-- Rozšířenní pro 0_base/04__footer__.html -->


<!-- Načtení šablonových tagů -->
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!-- Hlavní kontejner -->
<div class="collapse mt-3" id="footerSectionCollapse">
    <div class="card card-body">

        <!-- Formulář -->
        <form method="POST"
              enctype="multipart/form-data"
              action="{% url 'edit-footer-section' %}">
            {% csrf_token %}

            <!-- Kontejner pro sloupce nastavení patičky -->
            <div class="row">

                <!-- Sloupec 1: Adresa a sociální účty -->
                <div class="col-lg-3">
                    {% for field in footer_edit_form.visible_fields %}
                        {% if field.name in footer_edit_form.Meta.address or field.name in footer_edit_form.Meta.social_accounts %}
                            <div class="form-group mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Sloupec 2: Názvy pro vybrané odkazy -->
                <div class="col-lg-3">
                    {% for field in footer_edit_form.visible_fields %}
                        {% if field.name in footer_edit_form.Meta.selected_links %}
                            <div class="form-group mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Sloupec 3: Linky pro vybrané odkazy -->
                <div class="col-lg-3">
                    {% for field in footer_edit_form.visible_fields %}
                        {% if field.name in footer_edit_form.Meta.selected_links_urls %}
                            <div class="form-group mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Column 4: Vybrané články a Nastavení posledního řádku patičky -->
                <div class="col-lg-3">


                    <!-- Vybrané články -->
                    {% for field in footer_edit_form.visible_fields %}
                        {% if field.name in footer_edit_form.Meta.selected_articles %}
                            <div class="form-group mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Nastavení viditelnosti posledního řádku patičky (první div je jen pro odskočení řádku) -->
                    <div class="mt-4">.</div>
                    <div class="form-group mb-3 mt-4">
                        {{ footer_edit_form.display_footer_end_section|add_class:"form-check-input" }}
                        <label for="{{ footer_edit_form.display_footer_end_section.id_for_label }}"
                               class="checkbox-label">
                            Display Footer End Section
                        </label>
                    </div>

                    <!-- Nastavení položek posledního řádku patičky -->
                    {% for field in footer_edit_form.visible_fields %}
                        {% if field.name in footer_edit_form.Meta.footer_end %}
                            <div class="form-group mb-3">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

            <!-- Kontejner pro odesílací tlačítko a zaškrtávací tlačítko pro zobrazení/skrytí sekce -->
            <div class="d-flex flex-wrap align-items-center justify-content-between">

                <!-- Odesílací tlačítko -->
                <button type="submit" class="btn btn-primary">
                    Save Changes
                </button>

                <!-- Tlačítko pro zobrazení/skrytí sekce -->
                <div class="form-group mb-4 text-end">
                    {{ footer_edit_form.display_footer_section|add_class:"form-check-input" }}
                    <label for="{{ footer_edit_form.display_footer_section.id_for_label }}"
                           class="checkbox-label">
                        Display Footer Section
                    </label>
                </div>

            </div>

        </form>

    </div>
</div>