<!-- Editační část sekce -->
<!-- Rozšířenní pro 0_base/04__footer__.html -->


<!-- Kontrola zda je přihlášen super uživatel a zda je na stránce pro úpravu domácí stránky  -->
{% if user.is_superuser and request.path == '/edit/' %}

    <!-- Hlavní kontejner -->
    <div class="collapse mt-3" id="footerSectionCollapse">
        <div class="card card-body">

            <!-- Formulář -->
            <form method="POST"
                  enctype="multipart/form-data"
                  action="{% url 'edit-footer-section' %}">

                <!-- Zabezpečení přenosu dat -->
                {% csrf_token %}

                <!-- Nastavení sloupců pro nastavení patičky -->
                {% include '0_base/_footer/_edit_data/__columns_setting__.html' %}

                <!-- Odesílací tlačítko a zaškrtávací pole pro nastavení viditelnosti sekce -->
                {% with checkbox=footer_edit_form.display_footer_section title='Footer' %}
                {% include '1_home/_home_edit/_edit_data/_submit_button_with_display_checkbox_.html' %}
                {% endwith %}

            </form>

        </div>
    </div>

{% endif %}