<!-- Include for 6_profile_update/0___profile_update__.html -->
<!-- for Navigation -->


<!-- Profile update Navigation -->

<!-- Navigation, if the user has no author account -->
{% if not user_author %}

  <nav class="nav nav-tabs justify-content-end mb-5 pt-4">

    <li class="nav-item active">
      <a href="{% url 'profile_update_user' %}"
         class="nav-link active">
        User
      </a>
    </li>

  </nav>

<!-- Navigation, if the user has an author account -->
{% else %}

  <nav class="nav nav-tabs justify-content-end mb-5 pt-4">

    <li class="nav-item active">
      <a href="{% url 'profile_update_user' %}"
         class="{% if user_form %}nav-link active{% else %}nav-link{% endif %}">
        User
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'profile_update_author' %}"
         class="{% if user_form %}nav-link{% else %}nav-link active{% endif %}">
        Author
      </a>
    </li>

  </nav>

{% endif %}