<!-- Linking to the parent template -->
{% extends '6_profile_update/0___profile_update__.html' %}

<!-- Start of inner block -->
{% block profile_update_content %}


<!-- Form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

        <!-- User Profile Picture -->
        {% include '6_profile_update/3a__profile_picture__.html' %}

        <!-- User Form & Submit Button -->
        <div class="col-md-8">

            <!-- User Form Fields -->
            {% include '6_profile_update/3b__form__.html' %}

            <!-- Submit Button -->
            {% include '6_profile_update/3c__submit_button__.html' %}

        </div>

    </div>
</form>


<!-- End of inner block -->
{% endblock profile_update_content %}