<!-- Include for 6_profile_update/3___user__.html -->
<!-- for Submit Button -->


<div class="form-group pt-4">

    <!-- User Form Submit Button -->
    {% if user_form %}

        <button name="submit_user"
                type="submit"
                class="btn btn-outline-info btn-lg">
            Save Changes
        </button>

    <!-- Author Form Submit Button -->
    {% elif author_form %}

        <button name="submit_author"
                type="submit"
                class="btn btn-outline-info btn-lg">
            Save Changes
        </button>

    {% endif %}

</div>