<!-- Include for account/login.html and account/signup.html-->
<!-- for Picture -->

<!-- Import static files -->
{% load static %}


<!-- Picture -->
<div class="col-md-8 col-lg-7 col-xl-6">

    <!-- Picture for Login -->
    {% if atr == "login" %}
        <img alt="login_image"
             src="{% static 'img/login_picture.svg' %}"
             class="img-fluid" />

    <!-- Picture for Signup -->
    {% elif atr == "signup" %}
        <img alt="signup_image"
             src="{% static 'img/signup_picture.jpg' %}"
             class="img-fluid" />

    {% endif %}

</div>