<!-- Submit buttons -->
<!-- Intended for 5_create_article/51__overview__.html -->
<!-- Intended for 5_create_article/52__content__.html -->
<!-- Intended for 5_create_article/53__settings__.html -->

<div class="d-flex justify-content-between mobile-buttons">

    <!-- Submit Button with return to article page -->
    <div class="form-group pt-4 my-margin-right-4px" >
        <button class="btn btn-outline-info btn-lg"
                type="submit"
                name="submit_change" >
            Save Changes & Go to Article Page
        </button>
    </div>

    <!-- Submit Button with return to editing -->
    <div class="form-group pt-4 my-margin-left-4px" >
        <button class="btn btn-outline-info btn-lg"
                type="submit"
                name="submit_change"
                value="continue_editing" >
            Save Changes & Continue Editing
        </button>
    </div>

</div>
