<!-- Field for selecting the article category -->
<!-- For 5_create_article/53__settings__.html -->

<div id="div_id_category" class="col-md-8 mb-4">

    <!-- Field description -->
    <label for="{{ form.category.id_for_label }}"
           class="form-label requiredField">
        {{ form.category.label }}
    </label>

    <!-- Input field -->
    {% load widget_tweaks %}
    {{ form.category|add_class:"form-control" }}

    <!-- Information text -->
    <div class="my-color-grey my-font-size-0-8rem">
        Before publishing, select the appropriate category.
    </div>

</div>
