<!-- Include for account/login.html -->
<!-- for Email Input -->


<!-- Email -->
<div class="mb-4">

    <!-- Email label -->
    <label for="id_login" class="form-label">
        <small>Email address:</small>
    </label>

    <!-- Email input -->
    <input type="email"
         class="form-control"
         id="id_login"
         aria-describedby="emailHelp"
         placeholder="example@gmail.com"
         name="login"
         autocomplete="email">

    <!-- Error messages for email input -->
    <p id="emailHelp" class="form-text error-text">
        {{ form.login.errors.as_text }}
    </p>

</div>