<!-- Include for account/login.html -->
<!-- for Password Input -->


<!-- Password -->
<div class="mb-4">

    <!-- Password label -->
    <label for="id_password" class="form-label">
        <small>Password:</small>
    </label>

    <!-- Password input -->
    <div class="input-group 4">

        <!-- Password input field -->
        <input type="password"
               class="form-control"
               id="id_password"
               aria-describedby="passwordHelp"
               placeholder="At least 8 characters or more"
               name="password"
               autocomplete="current-password">

        <!-- Show password button -->
        <button class="btn btn-primary btn-myhover"
                type="button"
                id="togglePassword">
            <i class="fas fa-eye "
               id="eye-icon"></i>
        </button>

    </div>

    <!-- Error messages for password input -->
    <p id="passwordHelp" class="form-text error-text">
        {{ form.password.errors.as_text }}
    </p>

</div>

