<!-- Skript pro zobrazení hesla na stránce pro přihlášení a registraci -->

<script>
// Funkce pro zobrazení hesla
function togglePassword(inputId, iconId) {
    /*
    Funkce pro přepínání zobrazení hesla.
    Získává odkaz na vstupní pole hesla a ikonu oka pomocí předaných ID.
    Přidává posluchač událostí na tlačítko pro přepínání zobrazení hesla.
    Mění typ vstupního pole hesla mezi 'password' a 'text' a mění vizuální podobu ikony podle aktuálního typu pole.
    */

    // Získání elementu na základě ID pro vstupní pole hesla
    const passwordInput = document.getElementById(inputId);

    // Získání elementu na základě ID pro tlačítko zobrazení hesla
    const eyeIcon = document.getElementById(iconId);

    // Přidání posluchače události na tlačítko pro přepínání zobrazení hesla
    eyeIcon.addEventListener('click', function() {

        // Podmínka kontrolující aktuální typ vstupního pole pro heslo
        if (passwordInput.type === 'password') {

            // Pokud je aktuální typ pole 'password', změňte ho na 'text'
            passwordInput.type = 'text';

            // Přidejte třídu 'fa-eye-slash' a odeberte třídu 'fa-eye' z ikony
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');

        } else {

            // Pokud je aktuální typ pole jiný než 'password', změňte ho na 'password'
            passwordInput.type = 'password';

            // Přidejte třídu 'fa-eye' a odeberte třídu 'fa-eye-slash' z ikony
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    });
}

// Zavolání funkce pro každé vstupní pole pro heslo
togglePassword('id_password', 'eye-icon');
</script>