<!-- Include for 4_article/1___content__.html -->
<!-- for Author -->


<!-- Author -->
<li class="list-inline-item">

    <!-- Link to the author -->
    <a class="d-flex align-items-center flex-wrap text-reset"
       href="!#">

        <!-- Profile picture -->
        <div class="avatar flex-shrink-0">
            {% include '__img/__author_profile_picture__.html' with spec="article_thumbnail" %}
        </div>

        <!-- Name -->
        <small>{{ article.author }}</small>
    </a>
</li>