<!-- Zobrazení článku -->
<!-- Určeno pro 4_article/40__base__.html -->


<!-- Hlavní obrázek -->
{% include '4_article/_article_data/_main_picture_.html' %}

<!-- Kategorie -->
{% include '3_articles/_articles/_article_data/_category_.html' %}

<!-- Nadpis -->
{% include '4_article/_article_data/_title_.html' %}

<!-- Info -->
<ul class="list-inline list-separated text-gray-500 mb-4">

    <!-- Odkaz na autora -->
    {% include '3_articles/_articles/_article_data/_author_.html' %}

    <!-- Stáří článku -->
    {% include '3_articles/_articles/_article_data/_published_ago_.html' %}

    <!-- Počet komentářů -->
    {% include '3_articles/_articles/_article_data/_comment_count_.html' %}

    <!-- Odkaz na úpravu článku -->
    {% include '4_article/_article_data/_update_article_.html' %}

</ul>

<!-- Úvod k článku -->
{% include '4_article/_article_data/_overview_.html' %}

<!-- Obsah článku -->
{% include '4_article/_article_data/_content_.html' %}

<!-- Tagy -->
{% include '4_article/_article_data/_tags_.html' %}
