<!-- Include for 4_article/40__base__.html -->
<!-- for Article Content -->


<!-- Main Picture -->

<!-- Kontejner obrázek článku -->

<div class="w-100 mb-4 text-center"> <!-- Přidáno text-center pro vycentrování obsahu -->
    <div class="d-flex justify-content-center"> <!-- Přidáno d-flex a justify-content-center pro vycentrování obrázku -->

        <!-- Kotva pro zobrazení maximální velikosti obrázku, zobrazující obrázek náhledu -->
        <a class="d-block position-relative"
             href="{{ article.main_picture_max_size.url }}">

            <!-- Hlavní obrázek (pro zařízení MD a větší - 768px<) -->
            <img alt="Article Main Picture"
                 src="{{ article.main_picture_for_article.url }}?{% now 'U' %}"
                 class="img-fluid d-none d-md-block"/>

            <!-- Hlavní obrázek (pro zařízení menší než MD - <768px) -->
            <img alt="Article Main Picture"
                 src="{{ article.main_picture_preview.url }}?{% now 'U' %}"
                 class="img-fluid d-md-none"/>

            <!-- Icona lupy + nadpis článku -->
            <div class="fsc-hover-overlay">
                <i class="fas fa-search fsc-hover-overlay-icon"></i>
            </div>

        </a>
    </div>
</div>



<!-- Category -->
{% include '__article/__category__.html' %}

<!-- Title -->
{% include '__article/__title__.html' with atr="article" %}


<!-- Info -->
<ul class="list-inline list-separated text-gray-500 mb-4">

    <!-- Link to the author -->
    {% include '__article/__author__.html' %}

    <!-- Created Ago -->
    {% include '__article/__date_created__.html' with atr="ago" %}

    <!-- Comment Count -->
    {% include '__article/__comment_count__.html' %}

    <!-- Apdate of the article -->
    {% include '__article/__update_article__.html' %}

</ul>

<!-- Article overview -->
{% include '__article/__overview__.html' with atr="article" %}

<!-- Article content -->
{% if request.user.is_authenticated %}
    {% include '__article/__content__.html' %}
{% endif %}