<!-- Extension for 4_article/40__base__.html -->

<!-- Main Picture -->
{% include '4_article/_article_data/_main_picture_.html' %}

<!-- Category -->
{% include '3_articles/_articles_data/_view_setup_data/_category_.html' %}

<!-- Title -->
{% include '4_article/_article_data/_title_.html' %}

<!-- Info -->
<ul class="list-inline list-separated text-gray-500 mb-4">

    <!-- Author Link -->
    {% include '3_articles/_articles_data/_view_setup_data/_author_.html' %}

    <!-- Article Age -->
    {% include '3_articles/_articles_data/_view_setup_data/_published_ago_.html' %}

    <!-- Comment Count -->
    {% include '3_articles/_articles_data/_view_setup_data/_comment_count_.html' %}

    <!-- Edit Article Link -->
    {% include '4_article/_article_data/_update_article_.html' %}

</ul>

<!-- Article Overview -->
{% include '4_article/_article_data/_overview_.html' %}

<!-- Article Content -->
{% include '4_article/_article_data/_content_.html' %}

<!-- Tags -->
{% include '4_article/_article_data/_tags_.html' %}
