<!-- Include for 4_article/40__base__.html -->
<!-- for Article Display of Comments -->


<!-- Display of Comments -->
<div class="mb-5">

    <!-- Description with comments count -->
    <header>
        <h3 class="h6 mb-4">
            article Comments
            <span class="fw-light text-gray-600 small ms-2">
                ({{ article.comments.count }})
            </span>
        </h3>
    </header>

    <!-- Comments -->
    {% for comment in article.get_comments %}
        <div class="d-flex align-items-start ">

            <!-- Users profile picture -->
            {% include '__img/__user_profile_picture__.html' with atr="user_comment" %}

            <!-- Users info and comment -->
            <div class="pb-4 ms-3 mb-4">

                <!-- Users name -->
                <strong>
                    {{ comment.user.username }}
                </strong>

                <!-- Comment date -->
                <p class="small text-gray-500">
                    {{ comment.created|timesince }} ago
                </p>

                <!-- Comment -->
                <p class="mb-0 text-sm">
                    {{ comment.content }}
                </p>

            </div>

        </div>
    {% endfor %}

</div>