<!-- Extension for 4_article/40__base__.html -->

<div class="mb-5">

    <!-- Title and Comment Count -->
    {% include '4_article/_comment_data/_title_and_comment_count_.html' %}

    <!-- Loop through comments -->
    {% for comment in article.get_comments %}

        <!-- Container grouping inner items -->
        <div class="d-flex align-items-start">

            <!-- User Profile Picture -->
            {% include '4_article/_comment_data/_comment_author_picture_.html' %}

            <!-- Display Comment with Author Name and Creation Date -->
            {% include '4_article/_comment_data/_comment_display_.html' %}

        </div>

    {% endfor %}

</div>
