<!-- Include for 4_article/40__base__.html -->
<!-- for Article Adding of Comments -->

<!-- Import static files -->
{% load static %}


<!-- Adding of Comments (if user is login) -->
<div class="mb-5">

    <!-- Description -->
    <header>
        <h3 class="h6 mb-4">
            Leave a reply
        </h3>
    </header>

    <!-- Comment Form -->
    <form method="post" action="." class="commenting-form">
        {% csrf_token %}
        <div class="row gy-3">

            <!-- Comment -->
            <div class="col-md-12">
                <div >
                    {{ form }}
                </div>
            </div>

            <!-- Comment submit button-->
            <div class="col-md-12">
                <button class="btn btn-secondary" type="submit">
                    Submit Comment
                </button>
            </div>

        </div>
    </form>

</div>

