<!-- Extension for 4_article/40__base__.html -->

<div class="mb-5">

    <!-- Title and Comment Count -->
    <header>
        <h3 class="h6 mb-4">
            Article Comments
            <span class="fw-light text-gray-600 small ms-2">
                ({{ article.comments.count }})
            </span>
        </h3>
    </header>

    <!-- Loop through comments -->
    {% for comment in article.comments.all %}

        <!-- Container grouping inner items -->
        <div class="d-flex align-items-start">

            <!-- User Profile Picture -->
            <img alt="Comment User Profile Picture"
                 src="{{ user_thumbnail }}?{% now 'U' %}"
                 class="img-fluid rounded-circle flex-shrink-0"
                 width="50"/>

            <!-- Display Comment with Author Name and Creation Date -->
            <div class="pb-4 ms-3 mb-4">

                <!-- User's name -->
                <strong>{{ comment.user.username }}</strong>

                <!-- Comment date -->
                <p class="small text-gray-500">
                    {{ comment.created|timesince }} ago
                </p>

                <!-- Comment -->
                <p class="mb-0 text-sm">
                    {{ comment.content }}
                </p>

            </div>

        </div>

    {% endfor %}

</div>
