<!-- Vnitřní nabídka položek uživatele -->
<!-- Určeno pro 2_main/_sidebars/_user/__user__.html -->


{% include '2_main/css/css_user.html' %}

<!-- Hlavní kontejner sdružující vnitřní položky -->
<div class="px-1">

    <!-- Tlačítko pro zobrazení a skrytí položek -->
    <div class="left-margin-sidebar-user">
        {% with ar_con='sidebar_user_user_menu' ar_exp=user.sidebar_user_user_menu title='User Menu' %}
        {% include '2_main/_sidebars/_common/__button_collapse_ajax__.html' %}
        {% endwith %}
    </div>

    <!-- Kontejner pro zobarzení a skyrtí položek -->
    <div class="collapse {% if user.sidebar_user_user_menu %} show {% endif %}"
         id="sidebar_user_user_menu">

        <!-- Odakz na vytvoření článku (pokud uživatel nemá vytvořen účet autora) -->
        {% if not author %}
        {% include '2_main/_sidebars/_user/_author_data/_article_create_.html' %}
        {% endif %}

        <!-- Odkaz na články oblíbených autorů -->
        {% include '2_main/_sidebars/_user/_user_data/_favorite_authors_.html' %}

        <!-- Odkaz na stránku pro úpravu uživatelského účtu -->
        {% include '2_main/_sidebars/_user/_user_data/_account_managment_.html' %}

        <!-- Oddělovací čára -->
        <hr class="dropdown-divider" style="color: grey;">

        <!-- Odkaz na odhlášení -->
        {% include '2_main/_sidebars/_user/_user_data/_logout_.html' %}

    </div>

</div>
