<!-- Inner content of the category panel -->
<!-- Intended for 2_main/21__sidebar__.html -->

<div class="card mb-4">
    <div class="card-body">

        <!-- Title and button to toggle inner content -->
        <div class="d-flex justify-content-between align-items-center mb-3">

            <!-- Panel title -->
            <h3 class="h6">Category</h3>

            <!-- Button to toggle inner content -->
            <button class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
                    data-bs-toggle="collapse"
                    data-bs-target="#show_category_options"
                    aria-expanded="{{ sidebar.show_options }}"
                    aria-controls="show_category_options">
                {% if sidebar.show_options %}Hide Content{% else %}Show Content{% endif %}
            </button>

        </div>

        <!-- Container for collapsible content -->
        <div class="collapse {% if sidebar.show_options %}show{% endif %}"
             id="show_category_options">

            <!-- Loop through categories -->
            {% for category in published_categories %}
                <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 {% cycle 'bg-light' '' %}">

                    <!-- Category name -->
                    <a class="text-reset"
                       href="{% url 'article-category-list' category_slug=category.slug %}">
                        {{ category.name }}
                    </a>

                    <!-- Article count -->
                    <span>{{ category.count }}</span>

                </div>
            {% endfor %}

        </div>

    </div>
</div>
