<!--  category Widget -->

<!-- Drop-down menu -->
<div class="px-1 mt-2">

    <div class="d-flex justify-content-between">
        <!-- První dva prvky (zleva) -->
        <div class="d-inline-block">
            {% include '2_main/_sidebars/_movement/__button_collapse__.html' with ar_exp=user.sidebar_category ar_con='sidebar_category' title='Category' %}
        </div>
        <div class="d-inline-block">
            {% if user.sidebar_category_order != 1 %}
                {% include '2_main/_sidebars/_movement/__move_up__.html' with target='#MoveUp_category' %}
            {% endif %}
            {% if atr != "last" %}
                {% include '2_main/_sidebars/_movement/__move_down__.html' with target='#MoveDn_category' %}
            {% endif %}
        </div>
    </div>


    <!-- Drop-down items -->
    <div class="collapse {% if user.sidebar_category %} show {% endif %}" id="sidebar_category">


        <div class="card mb-4">
            <div class="card-body">


                <div class="d-flex justify-content-between align-items-center mb-3">

                    <!-- Section name -->
                    <h3 class="h6 ">
                        Category
                    </h3>


                    <!-- Button -->
                    <button class="btn btn-link drop-down-title p-0 light-grey-color"
                            data-bs-toggle="collapse"
                            data-bs-target="#sidebar_category_options"
                            aria-expanded="{{ user.sidebar_category_options }}"
                            aria-controls="sidebar_category_options">
                        {% if user.sidebar_category_options %}
                            Hide Content
                        {% else %}
                            Show Content
                        {% endif %}
                    </button>


                </div>

                <!-- Drop-down items -->
                <div class="collapse {% if user.sidebar_category_options %} show {% endif %}" id="sidebar_category_options">

                    <!-- Loop through category_count-->
                    {% for category in category_count %}

                        <!-- Display for odd row -->
                        {% if not forloop.counter|divisibleby:2 %}
                            <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light">

                                <!-- category title -->
                                <a class="text-reset" href="{% url 'article-category-list' category_slug=category.category__slug %}">
                                    {{ category.category__title }}
                                </a>

                                <!-- category count -->
                                <span>
                                    {{ category.category__title__count }}
                                </span>

                            </div>
                        {% endif %}

                        <!-- Display for even row -->
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1">

                                <!-- category title -->
                                <a class="text-reset" href="{% url 'article-category-list' category_slug=category.category__slug %}">
                                    {{ category.category__title }}
                                </a>

                                <!-- category count -->
                                <span>
                                    {{ category.category__title__count }}
                                </span>

                            </div>
                        {% endif %}

                    {% endfor %}

                </div>

            </div>
        </div>

    </div>
</div>