<!-- Inner content of the search panel -->
<!-- Intended for 2_main/21__sidebar__.html -->

{% load widget_tweaks %}

<div class="card mb-4">
    <div class="card-body">

        <!-- Title and button to toggle inner content -->
        <div class="d-flex justify-content-between align-items-center">

            <!-- Panel title -->
            <h3 class="h6">Search in Articles</h3>

            <!-- Button to toggle inner content -->
            <button class="btn btn-link my-font-size-0-8rem p-0 my-color-f0f0f0"
                    data-bs-toggle="collapse"
                    data-bs-target="#show_search_options"
                    aria-expanded="{{ sidebar.show_options }}"
                    aria-controls="show_search_options">
                {% if sidebar.show_options %}Hide Search Options{% else %}Show Search Options{% endif %}
            </button>

        </div>

        <!-- Form panel for searching -->
        <form action="{% url 'article-search' %}" method="get" >

            {% csrf_token %}

            <!-- Container for query input field and submit button -->
            <div class="input-group border-bottom">

                <!-- Query input field -->
                {{ sidebar_search_form.query|add_class:"form-control border-0 shadow-0 ps-0" }}

                <!-- Submit button -->
                <button class="btn btn-link btn-sm shadow-0 px-0 btn-lg "
                        type="submit">
                    <i class="fas fa-search m-3"></i>
                </button>

            </div>

            <!-- Container for collapsible content for search extension -->
            <div class="collapse {% if sidebar.show_options %}show{% endif %}"
                 id="show_search_options">
                {% include '2_main/_sidebars/_data/_search_options_items_.html' %}
            </div>

        </form>

    </div>
</div>
