<!-- Search Bar Widget -->


<!-- Drop-down menu -->
<div class="px-1 mt-2">

    <div class="d-flex justify-content-between">
        <!-- První dva prvky (zleva) -->
        <div class="d-inline-block">
            {% include '2_main/_sidebars/_common/__button_collapse__.html' with ar_exp=user.sidebar_search ar_con='searchCollapse' title='Search' %}
        </div>
        <div class="d-inline-block">
            {% if user.sidebar_search.order != 1 %}
                {% include '2_main/_sidebars/_common/__move_up__.html' with target='#searchMoveUp' %}
            {% endif %}
            {% if atr != "last" %}
                {% include '2_main/_sidebars/_common/__move_down__.html' with target='#searchMoveDown' %}
            {% endif %}
        </div>
    </div>


    <!-- Drop-down items -->
    <div class="{% if user.is_authenticated and not user.sidebar_search.value %} collapse {% else %} collapse show {% endif %}" id="searchCollapse">


        <div class="card mb-4">
            <div class="card-body">

                <!-- Section overview -->
                <div class="d-flex justify-content-between align-items-center">

                    <!-- Section name -->
                    <h3 class="h6">Search the blog</h3>

                    <!-- Options Button -->
                    {% include '2_main/_sidebars/_search/__search_dropdown_button__.html' %}

                </div>

                <!-- Search form -->
                <form action="{% url 'article-search' %}" method="get">
                    {% csrf_token %}
                    <div class="input-group border-bottom">

                        <!-- Search label -->
                        <input class="form-control border-0 shadow-0 ps-0"
                               type="text"
                               id="search_query"
                               name="q"
                               placeholder="What are you looking for?">

                        <!-- Search button -->
                        <button class="btn btn-link btn-sm shadow-0 px-0 btn-lg " type="submit">
                            <i class="fas fa-search m-3"></i>
                        </button>

                    </div>

                    <!-- Drop-down menu -->
                    {% include '2_main/_sidebars/_search/__search_dropdown_menu__.html' %}


                </form>

            </div>
        </div>

    </div>
</div>
