<!-- Tags Widget -->

<!-- Drop-down menu -->
<div class="px-1 mt-2">

    <div class="d-flex justify-content-between">
        <!-- První dva prvky (zleva) -->
        <div class="d-inline-block">
            {% include '2_main/_sidebars/_common/__button_collapse__.html' with ar_exp=user.sidebar_tags ar_con='tagsCollapse' title='Tags' %}
        </div>
        <div class="d-inline-block">
            {% if user.sidebar_tags.order != 1 %}
                {% include '2_main/_sidebars/_common/__move_up__.html' with target='#tagsMoveUp' %}
            {% endif %}
            {% if atr != "last" %}
                {% include '2_main/_sidebars/_common/__move_down__.html' with target='#tagsMoveDown' %}
            {% endif %}
        </div>
    </div>


    <!-- Drop-down items -->
    <div class="{% if user.is_authenticated and not user.sidebar_tags.value %} collapse {% else %} collapse show {% endif %}" id="tagsCollapse">


        <div class="card mb-4">
            <div class="card-body">

                <!-- Section name -->
                <h3 class="h6 mb-3">Tags</h3>

                <ul class="list-inline mb-0">
                    {% for tag in tags %}
                        <li class="list-inline-item">
                            <a class="tag" href="{% url 'article-tag-list' tag_slug=tag.slug %}">
                                {{ tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
</div>