<!-- Panel pro správu uživatele -->
<!-- Určeno pro 2_main/21__sidebar__.html -->


<!-- Hlavní kontejner sdružující prvky panelu -->
<div class="px-1 mt-2">

    <!-- Kontejner pro prvky pro vyditelnost a pohyb panelu -->
    <div class="d-flex justify-content-between">

        <!-- Vyditelnost panelu -->
        <div class="d-inline-block">
            {% with ar_exp=user.sidebar_user ar_con='sidebar_user' title='User Menu' %}
                {% include '2_main/_sidebars/_common/__button_collapse__.html' %}
            {% endwith %}
        </div>

        <!-- Pohyb panelu -->
        <div class="d-inline-block">
            {% with order=user.sidebar_user_order last=is_last up='#MoveUp_user' dn='#MoveDn_user' %}
            {% include '2_main/_sidebars/_common/__sidebar_moves__.html' %}
            {% endwith %}
        </div>

    </div>

    <!-- Vnitřní položky panelu -->
    {% include '2_main/_sidebars/_user/__user_mainframe__.html' %}

</div>