<!-- Include for 2_main/21__sidebar__.html -->
<!-- for User Sidebar -->


<!-- Drop-down menu -->
<div class="px-1">


    <div class="d-flex justify-content-between">
        <!-- První dva prvky (zleva) -->
        <div class="d-inline-block">
            {% include '2_main/_sidebars/__button_collapse__.html' with ar_exp=user.sidebar_user ar_con="userCollapse" title="User Menu" %}
        </div>
        <div class="d-inline-block">
            {% include '2_main/_sidebars/_arrow/__move_up__.html' %}
            {% include '2_main/_sidebars/_arrow/__move_down__.html' %}
        </div>
    </div>


    <!-- Drop-down items -->
    <div class="collapse {% if user.sidebar_user %} show {% endif %}" id="userCollapse">



        <!-- User overview -->
        <div class="card mb-5">
            <div class="card-body">

                <!-- User info -->
                <div class="d-flex align-items-center">

                    <!-- Profile picture -->
                    <div class="w-25 align-self-start">
                        {% include '__img/__user_profile_picture__.html' with atr="user_thumbnail" %}
                    </div>

                    <!-- Username & Drop-down menu -->
                    <div class="w-75 ">

                        <!-- Username -->
                        <div class="px-3">
                            <h3 class="account-heading">{{ user.username }}</h3>
                        </div>

                        <!-- Drop-down menu -->
                        {% include '2_main/_sidebars/_user/__user_dropdown_menu__.html' %}

                    </div>

                </div>

                <!-- Author info -->
                {% if author %}
                    {% include '2_main/_sidebars/_user/__author__.html' %}
                {% endif %}


            </div>
        </div>

    </div>
</div>