<!-- Navigace stránky -->
<!-- Určeno pro 6_profile_update/61__user_settings__.html -->
<!-- Určeno pro 6_profile_update/62__author_settings__.html -->


<nav class="nav nav-tabs justify-content-end mb-5 pt-4">

    <!-- Zobrazení, když uživatel nemá účet autora (jedna záložka) -->
    {% if not author %}
        {% with name='User' path_name='profile_update_user' active=true %}
        {% include '6_profile_update/_data/_navigation_tab_.html' %}
        {% endwith %}

    <!-- Zobrazení, když uživatel má účet autora (dvě záložky) -->
    {% else %}

        {% with name='User' path_name='profile_update_user' active=user_form %}
        {% include '6_profile_update/_data/_navigation_tab_.html' %}
        {% endwith %}

        {% with name='Author' path_name='profile_update_author' active=author_form %}
        {% include '6_profile_update/_data/_navigation_tab_.html' %}
        {% endwith %}

    {% endif %}

</nav>
