<!-- Rozšířená nabídka vpro vyhledávání -->
<!-- Určeno pro 0_base/_header/__search_popup__.html -->


<!-- Kontejner pro rozšíření nabídky pro vyhledávání -->
<div class="d-flex flex-wrap mt-4">

    <!-- Zaškrtávací pole pro výběr částí v kterých se má vyhledávat -->
    {% include '0_base/_header/_search_popup/_data/__checkboxes__.html' %}

    <!-- Nastavení datumu pro vyhledávání -->
    {% include '0_base/_header/_search_popup/_data/__dates__.html' %}

    <!-- Nabídka vyhledávání podle autora -->
    {% include '0_base/_header/_search_popup/_data/__author__.html' %}

</div>