<!-- Include for 5_create_article/55__settings__.html -->
<!-- for Article category -->

<!-- Import widget tweaks (to add class to form field) -->
{% load widget_tweaks %}


<!-- Article category -->
<div id="div_id_category" class="col-md-8 mb-4">

    <!-- Label -->
    <label for="{{ form.category.id_for_label }}" class="form-label requiredField">
        {{ form.category.label }}
    </label>

    <!-- Field -->
    {{ form.category|add_class:"form-control" }}

    <!-- Info -->
    <div class="explain-input">
        Before publishing, select the appropriate category.
    </div>

</div>