<!-- Setting items for the 4th column of the footer editing section -->
<!-- Extension for 0_base/_footer/__edit_section__.html -->

{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="col-lg-3">

    <!-- Setting items for selected articles -->
    {{ footer_edit_form.article_1|as_crispy_field }}
    {{ footer_edit_form.article_2|as_crispy_field }}
    {{ footer_edit_form.article_3|as_crispy_field }}

    <!-- Setting visibility of the last row of the footer (the first div is just for line break) -->
    <div class="mt-4">.</div>
    <div class="form-group mb-3 mt-4">

        <!-- Checkbox -->
        {{ footer_edit_form.display_footer_end_section|add_class:"form-check-input" }}

        <!-- Label for the checkbox -->
        <label for="{{ footer_edit_form.display_footer_end_section.id_for_label }}"
               class="my-font-size-0-8rem my-color-grey">
            Display Footer End Section
        </label>

    </div>

    <!-- Setting items for the last row of the footer -->
    {{ footer_edit_form.right_text|as_crispy_field }}
    {{ footer_edit_form.left_text|as_crispy_field }}
    {{ footer_edit_form.left_link_text|as_crispy_field }}
    {{ footer_edit_form.left_link_url|as_crispy_field }}

</div>
