<!-- Kategorie článku -->
<!-- Určeno pro 1_home/_home_data/__featured_articles__.html -->
<!-- Určeno pro 1_home/_home_data/__latest_articles__.html -->
<!-- Určeno pro 3_articles/_articles/__article_setup__.html -->
<!-- Určeno pro 4_article/41__article__.html -->


<!-- Kontrola, zda článek má kategorie -->
{% if article.category.slug %}

    <!-- Výpis kategorie -->
    <div class="mb-1">
        <a class="text-uppercase text-dark small fw-bold"
           href="{% url 'article-category-list' category_slug=article.category.slug %}">
            {{ article.category }}
        </a>
    </div>

{% endif %}