<!-- Okazy pro vytvoření článku, články autora a články oblíbených autorů -->
<!-- Určeno pro 0_base/_header/_dropdown_display/__dropdown_menu__.html -->


<!-- Zobrazí se pouze přihlášenému uživateli -->
{% if user.is_authenticated %}

    <!-- Odkaz na vytvoření článku -->
    {% with name='Create an Article' url_name='article-create' current_tab='overview' %}
    {% include '0_base/_header/_dropdown_display/_data/_nav_item_with_current_tab_.html' %}
    {% endwith %}

    <!-- Odkaz na autorovo články -->
    {% with name='My Articles' url_name='my-articles' current_tab='all' %}
    {% include '0_base/_header/_dropdown_display/_data/_nav_item_with_current_tab_.html' %}
    {% endwith %}

    <!-- Odkaz na články od oblíbených autorů -->
    {% with name='Favorite Authors' url_name=none %}
    {% include '0_base/_header/_dropdown_display/_data/_nav_item_.html' %}
    {% endwith %}

    <!-- Oddělovací linka -->
    {% include '0_base/_header/_dropdown_display/_data/_dropdown_divider_.html' %}

{% endif %}