<!-- Mustr pro položku navigačního menu -->
<!-- Určeno pro 0_base/_header/_dropdown_display/_data/__homepage_articles_search__.html -->
<!-- Určeno pro 0_base/_header/_dropdown_display/_data/__create_article_and_favorite__.html -->
<!-- Určeno pro 0_base/_header/_dropdown_display/_data/__profile_and_login__.html -->


<li class="nav-item {{ class }}">
      <a class="dropdown-item dropdown-font"
         {% if url_name %}
         href="{% url url_name %}"
         {% else %}
         href="#"
         {% endif %}>
            {{ name }}
      </a>
</li>