<!-- Odkaz na zobrazení postranního panelu -->
<!-- Určeno pro 0_base/_header/_dropdown_display/_data/__non_homepage_items__.html -->


<!-- Zobrazit pouze pokud není zapnutý postranní panel -->
{% if not user.sidebar  %}

    <!-- Zobrazení postranního panelu -->
    <li class="nav-item">
        <a class="dropdown-item dropdown-font"
           href="{% url 'user_sidebar_movements' hash='#sidebar' %}">
            Show Sidebar
        </a>
    </li>

    <!-- Oddělovací linka -->
    {% include '0_base/_header/_dropdown_display/_data/_dropdown_divider_.html' %}

{% endif %}