<!-- Include for 2_main/____user__.html -->
<!-- for Drop-down menu -->

<style>
    .sidebar-search-text1 {
        font-size: 0.9rem;
        color: #a0a0a0;
    }

    .sidebar-search-text2 {
        font-size: 0.9rem;
    }

    #author_select {
        height: 55px;
        border-radius: 0.25rem;
        font-size: 0.9rem;
    }
</style>

<!-- Drop-down items -->
<div class="collapse {% if user.sidebar_search_options %} show {% endif %}" id="sidebar_search_options">

    <p class="sidebar-search-text1 mt-4">Where do you want to search?</p>

    <!-- Sections -->
    <div class="mt-1">
        <div class="row">

            <!-- Checkbox for Titles -->
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           name="title_checkbox"
                           id="title_checkbox"
                           checked>
                    <label class="form-check-label sidebar-search-text2"
                           for="title_checkbox">
                        Titles
                    </label>
                </div>
            </div>

            <!-- Checkbox for Overview -->
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           name="overview_checkbox"
                           id="overview_checkbox"
                           checked>
                    <label class="form-check-label sidebar-search-text2"
                           for="overview_checkbox">
                        Overview
                    </label>
                </div>
            </div>

            <!-- Checkbox for Content -->
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           name="content_checkbox"
                           id="content_checkbox"
                           checked>
                    <label class="form-check-label sidebar-search-text2"
                           for="content_checkbox">
                        Content
                    </label>
                </div>
            </div>

        </div>
    </div>


    <!-- Date section -->
    <p class="sidebar-search-text1 mt-4 pt-2">Need to specify the Date?</p>

    <div class="row">

        <!-- After -->
        <div class="col-6">
            <small class="article-date-label">Published After:</small>
            <input class="form-control"
                   type="date"
                   name="after_date"
                   id="after_date"
                   placeholder="After">
        </div>

        <!-- Before -->
        <div class="col-6">
            <small class="article-date-label">Published Before:</small>
            <input class="form-control"
                   type="date"
                   name="before_date"
                   id="before_date"
                   placeholder="Before">
        </div>

    </div>


    <!-- Author section -->
    <p class="sidebar-search-text1 mt-4 pt-2">Need to specify the Author?</p>

    <div class="form-group">
        <select class="form-control"
                id="author_select"
                name="author_select">
            <option value="">Choose author...</option>
            {% for author in all_authors %}
              <option value="{{ author.id }}">{{ author.author }}</option>
            {% endfor %}
        </select>
    </div>

</div>
