<!-- Formulář panelu pro vyhledávání -->
<!-- Určeno pro 2_main/_sidebars/_search/__search_mainframe__.html -->


<form action="{% url 'article-search' %}" method="get">
    {% csrf_token %}

    <!-- Kontejner pro pole pro zadání dotazu a odesílacího tlačítka -->
    {% include '2_main/_sidebars/_search/_search_data/_search_input_field_.html' %}

    <!-- Vyklápěcí obsah pro rozšířenou nabídku hledání -->
    <div class="collapse {% if user.sidebar_search_options %} show {% endif %}"
         id="sidebar_search_options">

        <!-- Zaškrtávací pole pro specifikaci místa hledání -->
        {% include '2_main/_sidebars/_search/_search_data/__checkbox_section__.html' %}

        <!-- Vyhledávání podle data -->
        {% include '2_main/_sidebars/_search/_search_data/__date_section__.html' %}

        <!-- Vyhledávání podle autora -->
        {% include '2_main/_sidebars/_search/_search_data/__autor_section__.html' %}

    </div>

</form>