<!-- Main article image - responsive settings -->
<!-- Intended for 4_article/41__article__.html -->

<div class="w-100 mb-4 text-center">
    <div class="d-flex justify-content-center">

        <!-- Anchor for displaying the maximum size of the image, showing the thumbnail image -->
        <a class="d-block position-relative"
             href="{{ article.main_picture_max_size.url }}">

            <!-- Main image (for MD devices and larger - 768px<) -->
            <img alt="Article Main Picture"
                 src="{{ article.main_picture_for_article.url }}?{% now 'U' %}"
                 class="img-fluid d-none d-md-block"/>

            <!-- Main image (for devices smaller than MD - <768px) -->
            <img alt="Article Main Picture"
                 src="{{ article.main_picture_preview.url }}?{% now 'U' %}"
                 class="img-fluid d-md-none"/>

            <!-- Magnifying glass icon + article title -->
            <div class="fsc-hover-overlay">
                <i class="fas fa-search fsc-hover-overlay-icon"></i>
            </div>

        </a>
    </div>
</div>
