<!-- Include for 5_create_article/3___overview__.html -->
<!-- for Main Picture -->

<!-- Import static files -->
{% load static %}


<!-- Main Picture (Mobile First) -->
<div class="col-md-5 mb-4 order-md-2">
    {% if article.main_picture_for_article %}
        <img src="{{ article.main_picture_for_article.url }}?{% now 'U' %}"
             alt="main_picture_for_article"
             class="img-fluid mt-4">
    {% else %}
        <img src="{% static 'img/image_is_not_uploaded_yet.jpg' %}"
             alt="Image Not Uploaded Yet"
             class="img-fluid mt-4">
    {% endif %}
</div>