{% extends '2_main/20__base__.html' %}

{% block inner_content %}

    <!-- Title -->
    <header><h2>{{ title }}</h2></header>

    <!-- Navigation -->
    <ul class="nav nav-tabs justify-content-end mb-4 pt-4" id="myTabs">

        <li class="nav-item">
            <a class="nav-link {% if current_tab == 'overview' %}active{% endif %}"
               href="{{ tab_urls.for_overview }}">
                Overview
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_tab == 'content' %}active{% endif %}"
               href="{{ tab_urls.for_content }}">
                Content
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if current_tab == 'settings' %}active{% endif %}"
               href="{{ tab_urls.for_settings }}">
                Settings
            </a>
        </li>

    </ul>

    <!-- Form -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Display errors -->
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <!-- Container for tab contents -->
        <div class="tab-content">

            {% if current_tab == 'overview' %}
                {% include '5_create_article/51__overview__.html' %}

            {% elif current_tab == 'content' %}
                {% include '5_create_article/52__content__.html' %}

            {% elif current_tab == 'settings' %}
                {% include '5_create_article/53__settings__.html' %}

            {% endif %}

        </div>
    </form>

    <!-- Confirmation for leaving the page -->
    {% include '5_create_article/54__confirm_leave__.html' %}

{% endblock inner_content %}
