<!-- Šablona stránky pro vytvoření nebo úpravu článku -->


<!-- Odkaz na nadřazenou šablonu -->
{% extends '2_main/20__base__.html' %}


<!-- Začátek vnitřního bloku -->
{% block inner_content %}

    <!-- Nadpis a navigace stránky -->
    {% include '5_create_article/51__title_and_navigation__.html' %}

    <!-- Formulář -->
    {% include '5_create_article/52__form__.html' %}

    <!-- Skripty navázané na tuto stránku -->
    {% include '5_create_article/53__scripts__.html' %}

<!-- End of block for the parent template -->
{% endblock inner_content %}
