<!-- Nadpis a navigace stránky -->
<!-- Určeno pro 5_create_article/50__base__.html -->


<!-- Nadpis stránky -->
{% include '5_create_article/_title_data/_page_title_.html' %}

<!-- Kontejner pro navigaci -->
<ul class="nav nav-tabs justify-content-end mb-4 pt-4" id="myTabs">

    <!-- Záložka overview pro obrázek, název a popis -->
    {% with title='Overview' id='overview' active='true' %}
    {% include '5_create_article/_title_data/_nav_tab_.html' %}
    {% endwith %}

    <!-- Záložka content pro obsah článku -->
    {% with title='Content' id='content' %}
    {% include '5_create_article/_title_data/_nav_tab_.html' %}
    {% endwith %}

    <!-- Záložka settings pro ostatní nastavení -->
    {% with title='Settings' id='settings' %}
    {% include '5_create_article/_title_data/_nav_tab_.html' %}
    {% endwith %}

</ul>