<!-- Formulář pro vytvoření a úpravu článku -->
<!-- Určeno pro 5_create_article/50__base__.html -->


<form method="POST" enctype="multipart/form-data">

    <!-- Zabezpečení přenosu dat -->
    {% csrf_token %}

    <!-- Kontejner pro obsah záložek -->
    <div class="tab-content">

        <!-- Položky záložky overview pro obrázek, název a popis -->
        <div class="tab-pane fade show active" id="overview">
            {% include '5_create_article/_form/__overview__.html' %}
        </div>

        <!-- Položky záložky content pro obsah článku -->
        <div class="tab-pane fade pt-4" id="content">
            {% include '5_create_article/_form/__content__.html' %}
        </div>

        <!-- Položky záložky settings pro ostatní nastavení -->
        <div class="tab-pane fade" id="settings">
            {% include '5_create_article/_form/__settings__.html' %}
        </div>

    </div>
</form>