<!-- Include for 5_create_article/0___create_article__.html -->
<!-- for Page Navigation -->


<!-- Navigation -->
<ul class="nav nav-tabs justify-content-end mb-4 pt-4" id="myTabs">


    <!-- Tab for article overview -->
    <li class="nav-item">
        <a class="nav-link active"
           id="overview-tab"
           data-bs-toggle="tab"
           href="#overview"
           data-tab-id="overview">
            Overview
        </a>
    </li>


    <!-- Tab for article content -->
    <li class="nav-item">
        <a class="nav-link"
           id="content-tab"
           data-bs-toggle="tab"
           href="#content"
           data-tab-id="content">
            Content
        </a>
    </li>


    <!-- Tab for article settings -->
    <li class="nav-item">
        <a class="nav-link"
           id="settings-tab"
           data-bs-toggle="tab"
           href="#settings"
           data-tab-id="settings">
            Settings
        </a>
    </li>


</ul>