<!-- Skripty navázané na tuto stránku -->
<!-- Určeno pro 5_create_article/50__base__.html -->


<!-- Načtení umístnění složky static -->
{% load static %}

<!-- Vytvoření proměnné pro našeptávač tagů pro Tagify -->
<script>var tags_name_str = "{{ tags_name_str }}";</script>

<!-- Script pro našeptávač tagů pro Tagify -->
<script src="{% static 'js/_tagify_input.js' %}"></script>

<!-- Script pro změnu části adresy pro záložku, při přepnutí záložky -->
<script type="module" src="{% static 'js/_change_url_to_current_tab_[el].js' %}"></script>

<!-- Script pro přepnutí na záložku dle adresy -->
<script src="{% static 'js/_change_tab_by_ur_value.js' %}"></script>
