<!-- Include for 5_create_article/0___create_article__.html -->
<!-- for Article Status & Category -->


<!-- Article status and Article category -->
<div class="pt-4">
    <div class="row">

        <!-- Article status -->
        {% include '5_create_article/_settings/__status__.html' %}

        <!-- Article category -->
        {% include '5_create_article/_settings/__category__.html' %}

    </div>
</div>


<!-- Article Previous and Article Next -->
<div class="">
    <div class="row">

        <!-- Article Previous -->
        {% include '5_create_article/_settings/__previous_article__.html' %}

        <!-- Article Next -->
        {% include '5_create_article/_settings/__next_article__.html' %}

    </div>
</div>


<!-- Article Tags -->
{% include '5_create_article/_settings/__tags__.html' %}

<!-- Submit Buttons -->
{% include '5_create_article/_buttons/__buttons_both__.html' with current_tab="settings" %}