<!-- Include for 5_create_article/5___settings__.html -->
<!-- for -->

<!-- Import widget tweaks (to add class to form field) -->
{% load widget_tweaks %}


<!-- Article Tags -->
<div id="div_id_tags" class="mb-4">

    <!-- Label -->
    <label for="{{ form.tags.id_for_label }}" class="form-label requiredField">
        {{ form.tags.label }}
    </label>

    <!-- Field-->
    <input name='tags'
           value="{% for tag in form.tags.value %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}"
           class='form-control tags-input'
           placeholder='Add tag' >

    <!-- Info -->
    <div class="explain-input">
        Use a comma or enter to separate individual tags.
    </div>

</div>