<script>

    function togglePassword(inputId, iconId) {
        /*
        Function for toggling password visibility.
        Gets a reference to the password input field and eye icon using the provided IDs.
        Adds an event listener to the password toggle button.
        Changes the type of the password input field between 'password' and 'text'
        and changes the icon's visual appearance based on the current field type.
        */

        // Get the password input field element by ID
        const passwordInput = document.getElementById(inputId);

        // Get the password toggle button element by ID
        const eyeIcon = document.getElementById(iconId);

        // Add an event listener to the password toggle button
        eyeIcon.addEventListener('click', function() {

            // Condition checking the current type of the password input field
            if (passwordInput.type === 'password') {

                // If the current type of the field is 'password', change it to 'text'
                passwordInput.type = 'text';

                // Add the 'fa-eye-slash' class and remove the 'fa-eye' class from the icon
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');

            } else {

                // If the current type of the field is not 'password', change it to 'password'
                passwordInput.type = 'password';

                // Add the 'fa-eye' class and remove the 'fa-eye-slash' class from the icon
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        });
    }

    // Call the function for each password input field
    togglePassword('id_password', 'eye-icon');
    togglePassword('id_password1', 'eye-icon');
    togglePassword('id_password2', 'eye-icon');

</script>
