<!-- Linking to the parent template -->
{% extends 'account/login.html' %}

<!-- Import Allauth account -->
{% load account %}
{% load allauth account socialaccount %}

<!-- Start of block for the parent template -->
{% block social_account %}

    <!-- Form for confirm redirection -->
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}

            {% csrf_token %}

            <!-- Hidden button to confirm redirection -->
            <button type="submit" id="continueButton" style="display: none;"></button>

        {% endslot %}
    {% endelement %}

    <!-- Script to confirm redirection -->
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var continueButton = document.getElementById("continueButton");

            if (continueButton) {
                continueButton.click();
            }
        });

    </script>


<!-- End of block for the parent template -->
{% endblock social_account %}
