<!-- Zobrazení pro stránku s kategoriemi -->


<!-- Když je uživatel přihlášená´ý a hodnota pole je False -->
{% if user.is_authenticated and not user.sidebar_category_navigation %}

    <!-- Title -->
    <h2>Articles with category: {{ category_slug|upper }}</h2>

<!-- Ve všech ostatních případech -->
{% else %}

    <!-- Když je uživatel přihlášený a hodnota pole je True -->
    {% if user.is_authenticated %}

        <!-- Title -->
        <h2 class="mb-2" >Category</h2>

        <!-- Navigation -->
        <nav class="nav nav-tabs justify-content-end mb-2 pt-4">
            {% for category in category_count %}
                <li class="nav-item {% if category_slug == category.category__slug %}active{% endif %}">
                    <a href="{% url 'article-category-list' category_slug=category.category__slug %}" class="nav-link {% if category_slug == category.category__slug %}active{% endif %}">
                        {{ category.category__title }}
                    </a>
                </li>
            {% endfor %}
        </nav>

    <!-- Když je uživatel není přihlášený -->
    {% else %}

        <div class="{% if user.is_authenticated and not user.sidebar_category_navigation %} collapse {% else %} collapse show {% endif %}" id="categoryNavigationCollapse">

            <!-- Title -->
            <h2 class="mb-2" >Category</h2>

            <!-- Navigation -->
            <nav class="nav nav-tabs justify-content-end mb-2 pt-4">
                {% for category in category_count %}
                    <li class="nav-item {% if category_slug == category.category__slug %}active{% endif %}">
                        <a href="{% url 'article-category-list' category_slug=category.category__slug %}" class="nav-link {% if category_slug == category.category__slug %}active{% endif %}">
                            {{ category.category__title }}
                        </a>
                    </li>
                {% endfor %}
            </nav>
        </div>

        <div class="{% if user.is_authenticated and not user.sidebar_category_navigation %} collapse show {% else %} collapse {% endif %}" id="categoryNavigationCollapse">
            <h2>Articles with category: {{ category_slug|upper }}</h2>
        </div>

    {% endif %}

{% endif %}