<!-- Nadpis a navigace pro tagy -->
<!-- Určeno pro 3_articles/31__page_title__.html -->


<!-- Zobrazení nadpisu a podnadpisu bez navigační lišty -->
{% if not navigation %}
{% include '3_articles/_page_title/_similar_tags/_header_without_tabs_.html' %}

<!-- Zobrazení s navigační lištou -->
{% else %}

    <!-- Nadpis -->
    {% include '3_articles/_page_title/_similar_tags/_header_with_tabs_.html' %}

    <!-- Navigace -->
    <nav class="nav nav-tabs justify-content-end mb-5">

        <!-- Zobrazení záložek pro daný tag a podobné články -->
        {% if not category_items %}
        {% include '3_articles/_page_title/_similar_tags/__with_tab_for_similar__.html' %}

        <!-- Zobrazení záložek pro kategorie pro daný tag a podobné články -->
        {% else %}
        {% include '3_articles/_page_title/_similar_tags/__with_category_tabs__.html' %}
        {% endif %}

    </nav>

{% endif %}