<!-- Zobrazení pro stránku s vlastními článkami -->


<!-- Articles Header -->
<header >
    <h2>{{ page_title }}</h2>
</header>

<!-- Navigace pro stránku s vlastními články -->
<nav class="nav nav-tabs justify-content-end mb-5 ">

    <!-- Tab for all authors articles -->
    <li class="nav-item {% if current_tab == 'all' %}active{% endif %}">
        <a href="{% url 'my-articles' current_tab='all' %}" class="nav-link {% if current_tab == 'all' %}active{% endif %}">
            All
        </a>
    </li>

    <!-- Tab form authors articles with status drafted -->
    <li class="nav-item {% if current_tab == 'drafted' %}active{% endif %}">
        <a href="{% url 'my-articles' current_tab='drafted' %}" class="nav-link {% if current_tab == 'drafted' %}active{% endif %}">
            Drafted
        </a>
    </li>

    <!-- Tab form authors articles with status publish -->
    <li class="nav-item {% if current_tab == 'publish' %}active{% endif %}">
        <a href="{% url 'my-articles' current_tab='publish' %}" class="nav-link {% if current_tab == 'publish' %}active{% endif %}">
            Publish
        </a>
    </li>

    <!-- Tab form authors articles with status archive -->
    <li class="nav-item {% if current_tab == 'archive' %}active{% endif %}">
        <a href="{% url 'my-articles' current_tab='archive' %}" class="nav-link {% if current_tab == 'archive' %}active{% endif %}">
            Archive
        </a>
    </li>

</nav>