<!-- Rozklápěcího menu pro navigaci stránky -->
<!-- Určeno pro 0_base/_header/__dropdown_display__.html -->


<!-- Kontejner slučující tlačítko a vnitřní prvky rozklápěcí nabídky -->
<div class="btn-group ">

    <!-- Rozklápěcí tlačítko -->
    {% include '0_base/_header/_dropdown_display/_data/_button_.html' %}

    <!-- Kontejner sdružující prvky menu -->
    <ul class="dropdown-menu dropdown-menu-end">

        <!-- Prvky zobrazující se mimo domácí stránku -->
        {% include '0_base/_header/_dropdown_display/_data/__non_homepage_items__.html' %}

        <!-- Základní nabídka pro domácí stránku, stránku s články a hledání -->
        {% include '0_base/_header/_dropdown_display/_data/__homepage_articles_search__.html' %}

        <!-- Rozšířená nabídka pro vytvoření článku, články autora a články oblíbených autorů -->
        {% include '0_base/_header/_dropdown_display/_data/__create_article_and_favorite__.html' %}

        <!-- Nabídka pro úpravu profilu a odhlášení -->
        {% include '0_base/_header/_dropdown_display/_data/__profile_and_login__.html' %}

    </ul>
</div>



