<!-- Include for 5_create_article/3___overview__.html -->
<!-- for Article Overview -->

<!-- Import widget tweaks (to add class to form field) -->
{% load widget_tweaks %}


<!-- Article Overview -->
<div id="div_id_overview" class="mb-4">

    <!-- Label -->
    <label for="{{ form.overview.id_for_label }}" class="form-label requiredField">
        {{ form.overview.label }}
        {% if form.overview.field.required %}
            <span class="asteriskField">*</span>
        {% endif %}
    </label>

    <!-- Field -->
    {{ form.overview|add_class:"form-control" }}

</div>