/* Homepage */







/**********************************************************************************************************************/
/* Odkládací plocha na nepoužívané tagy */



/* Pozice */
.align-right {
    text-align: right;
}

.align-bottom {
    margin-top: auto;
}

.align-middle {
    margin-top: auto;
    margin-bottom: auto;
}

/* Velikost */
.max-width-300 {
    max-width: 300px;
}

/**********************************************************************************************************************/
/* Natsavení pro 40_article */

/* Nastavení pro pole overview */
.custom-overview {
    background-color: #f2f2f2;
    font-size: 0.9rem;
    padding: 1.2rem;
}

/* Skrytí labelu pro pole pro zanechání komentáře */
label[for="usercomment"] {
    display: none;
}


/**********************************************************************************************************************/
/* Natsavení pro 60_profile_update.html a 50_article_create.html */

/* Vzhled popisu polí formuláře */
.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: grey;
}

/* Vzhled polí formuláře */
.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 2rem;
    line-height: 2;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Vzhled polí formuláře > 60_profile_update.html */
.user-update-main .form-control {
    font-weight: 600;
    color: #495057;
}

/* Vzhled polí formuláře > 50_article_create.html */
.article-create-main .form-control {
    font-weight: 400;
    color: black;

}

/* Vzhled popisného textu pole > 55_article_create_form.html */
.explain-input{
    color: grey;
    font-size: 0.8rem;
}

/* Nastavení tagů > 55_article_create_form.html */
.advance .tagify__tag{
    --tag-hover: var(--tag-bg);
}


************************************************************************************************************/
.edit-text-white-homepage {
    color: #808080;
    font-size: 0.8rem;
    font-family: Times New Roman, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-label {
    font-size: 0.8rem;
    color: grey;
}