

    <!-- Create an article link -->
    <li class="nav-item">
          <a class="dropdown-item dropdown-font" href="{% url 'article-create'  current_tab='overview'  %}">
                Create an Article</a></li>

    <!-- My articles link -->
    <li class="nav-item">
          <a class="dropdown-item dropdown-font" href="{% url 'my-articles' current_tab='all' %}">
                My Articles</a></li>

    <!-- Favorite authors link -->
    <li class="nav-item">
          <a class="dropdown-item dropdown-font" href="#">
                Favorite Authors</a></li>


    <!-- Dropdown divider -->
    <li class="nav-item"><hr class="dropdown-divider"></li>