<!-- Header for user -->
{% include '0_base/_header/_navigation/__homepage__.html' %}

<!-- Favorite authors link -->
{% include '0_base/_header/_navigation/__view_all_articles__.html' %}

<!-- Dropdown divider -->
{% include '0_base/_header/_dropdown/__divider__.html' %}

<!-- Header for user -->
{% include '0_base/_header/_dropdown/__header_user__.html' %}

<!-- Favorite authors link -->
{% include '0_base/_header/_navigation/__favorite_authors__.html' %}

<!-- Manage profile link -->
{% include '0_base/_header/_navigation/__manage_profile__.html' %}

<!-- Dropdown divider -->
{% include '0_base/_header/_dropdown/__divider__.html' %}

<!-- Header for author -->
{% include '0_base/_header/_dropdown/__header_author__.html' %}

<!-- Create an article link -->
{% include '0_base/_header/_navigation/__create_article__.html' %}

<!-- Dropdown divider -->
{% include '0_base/_header/_dropdown/__divider__.html' %}

<!-- Logout -->
{% include '0_base/_header/_navigation/__logout__.html' %}