<!-- Odesílací tlačítka -->
<!-- Určeno pro 5_create_article/_form/__overview__.html -->
<!-- Určeno pro 5_create_article/_form/__content__.html -->
<!-- Určeno pro 5_create_article/_form/__settings__.html -->


{% include '5_create_article/css/css_buttons.html' %}

<!-- Kontejner združujíc tlačítka  -->
<div class="d-flex justify-content-between mobile-buttons">

    <!-- Submit Button with return to article page -->
    {% with title='Save Changes & Go to Article Page' value='' class='margin-right' %}
    {% include '5_create_article/_form/_data/_submit_button_.html' %}
    {% endwith %}

    <!-- Submit Button with return to editing -->
    {% with title='Save Changes & Continue Editing' value=current_tab class='margin-left' %}
    {% include '5_create_article/_form/_data/_submit_button_.html' %}
    {% endwith %}

</div>