<div class="btn-group d-lg-none">
      <button type="button"
              class="btn btn-link dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
            <img alt="User Profile Picture" src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}" class="left-margin" width="40"/>
      </button>

      <ul class="dropdown-menu dropdown-menu-end">

            <!-- Header for user -->
            {% include '0_base/_header/_navigation/__homepage__.html' %}

            <!-- Favorite authors link -->
            {% include '0_base/_header/_navigation/__view_all_articles__.html' %}

            <!-- Dropdown divider -->
            {% include '0_base/_header/_dropdown/__divider__.html' %}

            <!-- Header for user -->
            {% include '0_base/_header/_dropdown/__header_user__.html' %}

            <!-- Favorite authors link -->
            {% include '0_base/_header/_navigation/__favorite_authors__.html' %}

            <!-- Manage profile link -->
            {% include '0_base/_header/_navigation/__manage_profile__.html' %}

            <!-- Dropdown divider -->
            {% include '0_base/_header/_dropdown/__divider__.html' %}

            <!-- Header for author -->
            {% include '0_base/_header/_dropdown/__header_author__.html' %}

            <!-- Create an article link -->
            {% include '0_base/_header/_navigation/__create_article__.html' %}

            <!-- My articles link -->
            {% include '0_base/_header/_navigation/__my_articles__.html' %}

            <!-- Dropdown divider -->
            {% include '0_base/_header/_dropdown/__divider__.html' %}

            <!-- Logout -->
            {% include '0_base/_header/_navigation/__logout__.html' %}

      </ul>
</div>