

<div class="btn-group ">

      <!-- Button -->
      {% include '0_base/_header/_dropdown/__button__.html' %}

      <ul class="dropdown-menu dropdown-menu-end">


             <!-- Show Sidebar -->
            {% if not user.sidebar and not request.path == '/' %}
                  {% include '0_base/_header/_dropdown/__show_sidebar__.html' %}
            {% endif %}

             <!-- Categories -->
            {% if not request.path == '/' %}
                  {% include '0_base/_header/_dropdown/__category__.html' %}
            {% endif %}


             <!-- Homepage, Articles, Search -->
            {% include '0_base/_header/_dropdown/__homepage_articles_search__.html' %}


             <!-- Create an Article, My articles, Favorite Authors -->
            {% if user.is_authenticated %}
                  {% include '0_base/_header/_dropdown/__create_article_and_favorite__.html' %}
            {% endif %}


             <!-- Profile, Login -->
            {% include '0_base/_header/_dropdown/__profile_and_login__.html' %}


      </ul>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // ---------------------------------------------- //
        // Search in Articles Dropdown
        // ---------------------------------------------- //
        document.querySelector('#searchArticlesDropdown').addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector('.search-area').style.display = 'block';
        });
        document.querySelector('.search-area .close-btn').addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector('.search-area').style.display = 'none';
        });
    });


</script>

