<!-- Prvky navigační lišty -->
<!-- Určeno pro 0_base/02__header__.html -->


<!-- Kontejner slučující jednotlivé prvky navigace -->
<div class="collapse navbar-collapse right-padding" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

        <!-- Základní položky pro všechny uživatele (přihlášené i nepřihlášené) -->
        {% include '0_base/_header/_navigation/__navigation_items__.html' %}

        <!-- Položky pro zobrazení dodatečných nabídek pro dané prvky stránky -->
        {% include '0_base/_header/_navigation/__special_offer__.html' %}

        <!-- Položky hledání a nastavení jazyka -->
        {% include '0_base/_header/_navigation/_data/_search_and_language_.html' %}

    </ul>
</div>