<!-- Navigation list items -->
<!-- Intended for 0_base/02__header__.html -->

<div class="collapse navbar-collapse my-padding-right-5px" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

        <!-- Basic items for all users (authenticated and non-authenticated) -->
        {% include '0_base/_header/_navigation_data/_navigation_items_.html' %}

        <!-- Items to display additional offers for specific page elements -->
        {% include '0_base/_header/_navigation_data/_special_offer_.html' %}

        <!-- Search and language setting items -->
        {% include '0_base/_header/_navigation_data/_search_and_language_.html' %}

    </ul>
</div>
