<!-- Include for 0_base/02__header__.html -->
<!-- for Navigation for Log Users -->


<!-- Create article -->
<li class="nav-item">
    <a class="nav-link "
       href="{% url 'article-create'  current_tab='overview'  %}">
        Create
    </a>
</li>

<!-- Update profile  -->
<li class="nav-item">
    <a class="nav-link "
       href="{% url 'profile_update_user' %}">
        Account
    </a>
</li>

<!-- Loging out -->
<li class="nav-item">
    <a class="nav-link "
       href="{% url 'account_logout' %}">
        Logout
    </a>
</li>

