<!-- Include for 0_base/02__header__.html -->
<!-- for Navigation for all (Unlog & Log) Users -->


<!-- Home Page -->
<li class="nav-item">
    <a class="nav-link {% if request.path == '/' %}active{% endif %}"
       href="/">
        Home</a></li>

<!-- Articles -->
<li class="nav-item">
    <a class="nav-link {% if request.path == '/articles/all' %}active{% endif %}"
       href="/articles/all">
        Articles</a></li>


<!-- If User is not login -->
{% if not user.is_authenticated and request.path != '/accounts/login/' %}

    <!-- Log In -->
    <li class="nav-item">
        <a class="nav-link "
           href="{% url 'account_login' %}">
            Login</a></li>

{% endif %}

