<!-- Include for 0_base/02__header__.html -->
<!-- for Search PopUp -->


<div class="search-area">
  <div class="search-area-inner d-flex align-items-center justify-content-center position-relative">

    <!-- Close Button -->
    <div class="close-btn position-absolute p-4 top-0 end-0 cursor-pointer z-index-20">
      <i class="fas fa-times"></i>
    </div>

    <!-- Search form -->
    <div class="row d-flex justify-content-center w-100">
      <div class="col-md-8">
        <form action="{% url 'article-search' %}">
          {% csrf_token %}
          <div class="input-group border-bottom">

            <!-- Search label -->
            <input class="form-control form-control-lg border-0 shadow-0 ps-0 bg-none px-0"
                   type="search" name="q"
                   placeholder="What are you looking for?">

            <!-- Search button -->
            <button class="btn btn-link btn-sm shadow-0 px-0 btn-lg text-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>
