<!-- Vyskakující okno s možnostmi pro vyhledávání -->
<!-- Určeno pro 0_base/02__header__.html -->


<!-- Dočasné umístění CSS -->
{% include '0_base/css/css_popup.html' %}

<!-- Kontejner slučující zavírací tlačítko a vnitřní prvky -->
<div class="search-area">
    <div class="search-area-inner d-flex align-items-center justify-content-center position-relative">

        <!-- Zavírací tlačítko -->
        {% include '0_base/_header/_search_popup/_data/_close_button_.html' %}

        <!-- Kontejner pro možnosti vyhledávání -->
        <div class="row d-flex justify-content-center w-100">
            <div class="col-md-8 p-4">

                <!-- Kontejner pror formulář pro vyhledávání (s CSRF ochranou) -->
                <form action="{% url 'article-search' %}" method="get">

                    <!-- Zabezpečení přenosu dat -->
                    {% csrf_token %}

                    <!-- Vyhledávací pole -->
                    {% include '0_base/_header/_search_popup/__search_field__.html' %}

                    <!-- Rozšířená nabídka vpro vyhledávání -->
                    {% include '0_base/_header/_search_popup/__sarch_options__.html' %}

                </form>

            </div>
        </div>

    </div>
</div>
