<!-- Special Offer-->
<!-- Nabídka pro zobrazení a skrytí tlačítek pro úpravu hlavní stránky -->



<!-- Nabídka pro zobrazení a skrytí navigace podle kategorií -->
{% if url_name == 'article-list' or url_name == 'article-category-list' %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color"
           href="{% url 'user_sidebar_movements' hash='#sidebar_category_navigation' %}">
            {% if user.sidebar_category_navigation %}
                Hide Category
            {% else %}
                Show Category
            {% endif %}
        </a>
    </li>

<!-- Nabídka pro zobrazení a skrytí navigace podle tagů -->
{% elif search_query or tag_slug %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color"
           href="{% url 'user_sidebar_movements' hash='#show_tab_for_similar' %}">
            {% if user.show_tab_for_similar %}
                Hide Similar
            {% else %}
                Show Similar
            {% endif %}
        </a>
    </li>

<!-- Nabídka pro zobrazení a skrytí tlačítek pro úpravu hlavní stránky -->
{% elif user.is_superuser and request.path == '/' %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color" href="{% url 'home-page-edit' %}">
            Show Edit Buttons
        </a>
    </li>

{% elif user.is_superuser and request.path == '/edit/' %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color" href="{% url 'home' %}">
            Hide Edit Buttons
        </a>
    </li>

{% endif %}

