<!-- Část pro adresu a odkazy na sociální sítě v patičce -->
<!-- Rozšířenní pro 0_base/_footer/__content__.html -->


<!-- Hlavní kontejner -->
<div class="col-md-4">

    <!-- Jméno společnosti -->
    {% include '0_base/_footer/_content_data/_company_name_.html' %}

    <!-- Adresa -->
    {% include '0_base/_footer/_content_data/_company_address_.html' %}

    <!-- Telefon -->
    {% include '0_base/_footer/_content_data/_company_phone_.html' %}

    <!-- Email -->
    {% include '0_base/_footer/_content_data/_company_email_.html' %}

    <!-- Sociální sítě -->
    {% include '0_base/_footer/_content_data/_social_links_.html' %}

</div>
