<!-- Část pro vybrané články patičky -->
<!-- Rozšířenní pro 0_base/_footer/__content__.html -->


<div class="col-md-4">

    <!-- Procházení článků -->
    {% for article_key, article in footer_data.articles.items %}

        <!-- Kontrola, zda článek obsahuje data -->
        {% if article %}

            <!-- Zabalení článků do kotvy a kontejneru -->
            <a class="d-block mb-2" href="{{ article.article_url }}">
                <div class="d-flex align-items-center">

                    <!-- Obrázek článku -->
                    {% include '0_base/_footer/_content_data/_article_picture_.html' %}

                    <!-- Nadpis a datum publikování článku -->
                    {% include '0_base/_footer/_content_data/_article_date_.html' %}

                </div>
            </a>

        {% endif %}

    {% endfor %}

</div>
