<!-- Section for company address and links to social media in the footer -->
<!-- Extension for 0_base/_footer/__content__.html -->

<div class="col-md-4">

    <!-- Company name -->
    <h6 class="text-white">
        {{ footer.address.company_name.value }}
    </h6>

    <!-- Address -->
    <p class="fw-light mb-1">
        {{ footer.address.address.value }}
    </p>

    <!-- Phone -->
    <p class="fw-light mb-1">
        Phone: {{ footer.address.phone.value }}
    </p>

    <!-- Email -->
    <p class="fw-light mb-4">
        Email:
        <a class="text-decoration-underline text-reset"
           href="mailto:{{ footer.address.email.value }}">
            {{ footer.address.email.value }}
        </a>
    </p>

    <!-- Social media -->
    <ul class="list-unstyled">

        <!-- Iterating over social media and adding the respective icon -->
        {% for media, data in footer.social_media.items %}
            {% if data.url %}
                <li class="list-inline-item">
                    <a class="text-reset me-2"
                       href="{{ data.url }}">
                        <i class="{{ data.icon }}"></i>
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    </ul>

</div>
