<style>
    /* Definice třídy pro odsazení obrázku z leva */
    .left-margin-sb-button {
        margin-left: 8px;
        margin-right: 0px;

    }

    .left-margin-hide-sb-icon {
        margin-left: 28px;
        margin-right: 0px;

    }
    .left-padding {
        padding-left: 0px; /* Změňte hodnotu podle potřeby */
        background-color: yellow;
    }

    .right-padding {
        padding-right: 5px; /* Změňte hodnotu podle potřeby */
    }

    .hidden-element {
        display: none !important;
        visibility: hidden !important;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
    }

    .dropdown-menu li {
          position: relative;
    }
    .dropdown-menu .dropdown-submenu {
          display: none;
          position: absolute;
          right: 100%;
          top: -7px;
    }

    .dropdown-menu > li:hover > .dropdown-submenu {
          display: block;
    }

    .drop-down-title {
        font-size: 0.8rem;
    }

    .dropdown-font {
        font-size: 0.9rem;
    }

    .drop-down-text {
        color: black;
        margin-top: 0.8rem;
        margin-left: 1rem;
    }
    .btn.btn-link:focus {
        background-color: white;
        outline: 4px solid white;
    }
    .pading-0 {
        padding: 0;
    }
    .light-grey-color {
        color: #f0f0f0;
    }

    .dropdown-submenu {
        float: left;
    }
</style>