<!-- Extension for 1_home/13__featured_articles__.html -->

<div class="collapse mt-3" id="featuredSectionCollapse">
    <div class="card card-body">

        <!-- Form -->
        <form method="POST"
              enctype="multipart/form-data"
              action="{% url 'edit-featured-section' %}">

            <!-- CSRF token -->
            {% csrf_token %}

            <!-- Container for selecting articles -->
            <div class="row">

                <!-- Article 1 -->
                {% with field=featured_edit_form.featured_article_1 class='col-lg-4' %}
                {% include '1_home/_home_edit/_edit_data/_edit_article_.html' %}
                {% endwith %}

                <!-- Article 2 -->
                {% with field=featured_edit_form.featured_article_2 class='col-lg-4' %}
                {% include '1_home/_home_edit/_edit_data/_edit_article_.html' %}
                {% endwith %}

                <!-- Article 3 -->
                {% with field=featured_edit_form.featured_article_3 class='col-lg-4' %}
                {% include '1_home/_home_edit/_edit_data/_edit_article_.html' %}
                {% endwith %}

            </div>

            <!-- Submit button and checkbox for setting section visibility -->
            {% with field=featured_edit_form.display_featured_section %}
            {% include '1_home/_home_edit/_edit_data/_submit_button_with_display_checkbox_.html' %}
            {% endwith %}

        </form>

    </div>
</div>
