<!-- Extension for 1_home/11__hero__.html -->

<div class="collapse mt-3" id="heroSectionCollapse">
    <div class="card card-body">

        <!-- Form -->
        <form method="POST"
              enctype="multipart/form-data"
              action="{% url 'edit-hero-section' %}">

            <!-- CSRF token -->
            {% csrf_token %}

            <!-- Section image -->
            {% with field=hero_edit_form.hero_image %}
            {% include '1_home/_home_edit/_edit_data/_edit_background_image_.html' %}
            {% endwith %}

            <!-- Section title -->
            {% with field=hero_edit_form.hero_title %}
            {% include '1_home/_home_edit/_edit_data/_edit_html_field_.html' %}
            {% endwith %}

            <!-- Link title -->
            {% with field=hero_edit_form.hero_link_title %}
            {% include '1_home/_home_edit/_edit_data/_edit_link_.html' %}
            {% endwith %}

            <!-- Link -->
            {% with field=hero_edit_form.hero_link %}
            {% include '1_home/_home_edit/_edit_data/_edit_link_.html' %}
            {% endwith %}

            <!-- Submit button and checkbox for setting section visibility -->
            {% with field=hero_edit_form.display_hero_section %}
            {% include '1_home/_home_edit/_edit_data/_submit_button_with_display_checkbox_.html' %}
            {% endwith %}

        </form>

    </div>
</div>
