<!-- Extension for 1_home/12__intro__.html -->

<div class="collapse mt-3" id="introSectionCollapse">
    <div class="card card-body">

        <!-- Form -->
        <form method="POST"
              enctype="multipart/form-data"
              action="{% url 'edit-intro-section' %}">

            <!-- CSRF token -->
            {% csrf_token %}

            <!-- Section title -->
            {% with field=intro_edit_form.intro_title %}
            {% include '1_home/_home_edit/_edit_data/_edit_html_field_.html' %}
            {% endwith %}

            <!-- Section description -->
            {% with field=intro_edit_form.intro_description %}
            {% include '1_home/_home_edit/_edit_data/_edit_html_field_.html' %}
            {% endwith %}

            <!-- Submit button and checkbox for setting section visibility -->
            {% with field=intro_edit_form.display_intro_section %}
            {% include '1_home/_home_edit/_edit_data/_submit_button_with_display_checkbox_.html' %}
            {% endwith %}

        </form>

    </div>
</div>
