<!-- Extension for 1_home/16__newsletter__.html -->

<div class="collapse mb-5" id="newsletterSectionCollapse">
    <div class="card card-body">

        <!-- Form -->
        <form method="POST"
              action="{% url 'edit-newsletter-section' %}">

            <!-- CSRF token -->
            {% csrf_token %}

            <!-- Section title -->
            {% with field=newsletter_edit_form.newsletter_title %}
            {% include '1_home/_home_edit/_edit_data/_edit_html_field_.html' %}
            {% endwith %}

            <!-- Section description -->
            {% with field=newsletter_edit_form.newsletter_description %}
            {% include '1_home/_home_edit/_edit_data/_edit_html_field_.html' %}
            {% endwith %}

            <!-- Submit button and checkbox for setting section visibility -->
            {% with field=newsletter_edit_form.display_newsletter_section %}
            {% include '1_home/_home_edit/_edit_data/_submit_button_with_display_checkbox_.html' %}
            {% endwith %}

        </form>

    </div>
</div>
