<!-- Zobrazení záložek pro daný tag a podobné články -->
<!-- Určeno pro 3_articles/_page_title/__for_tags__.html -->


<!-- Záložka pro aktuálně vybraný tag -->
{% include '3_articles/_page_title/_similar_tags/_tab_for_tag_.html' %}

<!-- Záložka pro podobné články na základě tagů -->
{% include '3_articles/_page_title/_similar_tags/_tab_for_similar_.html' %}

<!-- Záložka pro zobrazení kategorií -->
{% if articles_results %}

    <!-- Zobrazení kategorií pro vybraný tag -->
    {% if url_name == 'article-tag-list' %}
    {% include '3_articles/_page_title/_similar_tags/_tab_for_tag_category_.html' %}

    <!-- Zobrazení kategorií pro podobné články -->
    {% elif url_name == 'article-tag-list-similar' %}
    {% include '3_articles/_page_title/_similar_tags/_tab_for_similar_category_.html' %}
    {% endif %}

{% endif %}