<!-- Položka pro navigaci stránky v hlavičce webu -->
<!-- Určeno pro 0_base/_header/_navigation/__special_offer__.html -->


<!-- Nabídka pro zobrazení tlačítka pro úpravu hlavní stránky -->
{% if user.is_superuser and request.path == '/' %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color"
           href="{% url 'home-page-edit' %}">
            Show Edit Buttons
        </a>
    </li>

<!-- Nabídka pro skrytí tlačítka pro úpravu hlavní stránky -->
{% elif user.is_superuser and request.path == '/edit/' %}
    <li class="nav-item">
        <a class="btn btn-link drop-down-title p-0 light-grey-color"
           href="{% url 'home' %}">
            Hide Edit Buttons
        </a>
    </li>

{% endif %}