<!-- Pravá strana spodní linky patičky -->
<!-- Určeno pro 0_base/_footer/__end_line_section__.html -->



<div class="col-md-6 text-md-end">

    <!-- Kontejnedr sdružující text a odkaz -->
    <p class="mb-0 text-sm">

        <!-- Zobrazení textu (je-li) -->
        {% if footer_data.end_line.left_text.value %}
            {{ footer_data.end_line.left_text.value }}
        {% endif %}

        <!-- Zobrazení odkazu (je-li) -->
        {% if footer_data.end_line.left_link_text.value %}
            <a class="text-reset fw-light"
               href="{{ footer_data.end_line.left_link_url.value|default:'#' }}">
                {{ footer_data.end_line.left_link_text.value }}
            </a>
        {% endif %}

    </p>

</div>