<!-- Include for 2_main/_sidebars/_user/__author__.html -->
<!-- for Drop-down menu -->


<!-- Drop-down menu -->
<div class="dropdown px-1 pt-2">

    <!-- Title -->
    <button class=" btn btn-link dropdown-toggle dropdown-font"
            type="button" id="dropdownMenuButton2"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        Author options
    </button>

    <!-- Options -->
    <ul class="dropdown-menu"
        aria-labelledby="dropdownMenuButton2">

        <li><a class="dropdown-item dropdown-font" href="{% url 'article-create'  current_tab='overview'  %}">
            Create an Article
        </a></li>

        <li><a class="dropdown-item dropdown-font" href="#">
            My Articles
        </a></li>

        <li><a class="dropdown-item dropdown-font" href="{% url 'profile_update_author' %}">
            Manage my Account
        </a></li>

    </ul>
</div>

