<!-- Vnitřní položky pro autra panelu pro uživatele -->
<!-- Určeno pro 2_main/_sidebars/_user/__user_mainframe__.html -->


{% include '2_main/css/css_author.html' %}


<!-- Oddělovací čára -->
<div class="pt-3"><hr class="border-top " style="color: grey;"></div>

<!-- Hlavní kontejner pro nadpis a položky autora -->
<div class="d-flex align-items-center">

    <!-- Nadpis sekce autora -->
    {% include '2_main/_sidebars/_user/_author_data/_title_for_author_section_.html' %}

    <!-- Položky autora -->
    <div class="w-90">

        <!-- Kontejner pro profilový obrázek, jméno a tlačítko rozklápěcí vnitřní nabídky -->
        {% include '2_main/_sidebars/_user/_author_data/__author_intro__.html' %}

        <!-- Kontejner pro položky vnitřní rozklápěcí nabídky -->
        {% include '2_main/_sidebars/_user/_author_data/__author_dropdown_menu__.html' %}

    </div>

</div>