<!-- Include for 2_main/____user__.html -->
<!-- for Drop-down menu -->


<!-- Drop-down menu -->
<div class="px-1">

    <!-- Button -->
    <button class="btn btn-link d-block drop-down-title"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar_user_user_menu"
            aria-expanded="{{ user.sidebar_user_user_menu }}"
            aria-controls="sidebar_user_user_menu">
        User Menu
    </button>

    <!-- Drop-down items -->
    <div class="collapse {% if user.sidebar_user_user_menu %} show {% endif %}" id="sidebar_user_user_menu">

        <!-- Create an Article -->
        {% if not author %}
            <a class="d-block drop-down-text"
               href="{% url 'article-create'  current_tab='overview'  %}"><button class="btn btn-light">
                Create an Article
            </button></a>
        {% endif %}

        <!-- Favorite Authors -->
        <a class="d-block drop-down-text"
           href="#"><button class="btn btn-light">
            Favorite Authors
        </button></a>

        <!-- Manage my Account -->
        <a class="d-block drop-down-text"
           href="{% url 'profile_update_user' %}"><button class="btn btn-light">
            {% if not author %}
            Manage my Account
            {% else %}
            Manage my Accounts
            {% endif %}
        </button></a>

        <!-- Divider -->
        <hr class="dropdown-divider" style="color: grey;">

        <!-- Log out -->
        <a class="d-block drop-down-text"
           href="{% url 'account_logout' %}"><button class="btn btn-light">
            Log out
        </button></a>

    </div>

</div>
