<!-- Vnitřní položky pro uživatele panelu pro uživatele -->
<!-- Určeno pro 2_main/_sidebars/_user/__user_mainframe__.html -->


<!-- Kontejner sdružující vnitřní položky -->
<div class="d-flex align-items-center">

    <!-- Profilový obrázek uživatele -->
    {% include '2_main/_sidebars/_user/_user_data/_user_profile_picture_.html' %}

    <!-- Kontejner pro uživatelské jméno a vnitřní nabídku položek uživatele -->
    <div class="w-75 ">

        <!-- Jméno uživatele -->
        {% include '2_main/_sidebars/_user/_user_data/_user_name_.html' %}

        <!-- Vnitřní nabídka položek uživatele -->
        {% include '2_main/_sidebars/_user/_user_data/__user_dropdown_menu__.html' %}

    </div>

</div>