<!-- Meta information for browsers and search engines -->
<!-- Intended for 0_base/01__head__.html -->

<!-- Setting the character encoding of the page -->
<meta charset="utf-8" />

<!-- Setting compatibility for Internet Explorer -->
<meta http-equiv="X-UA-Compatible"
      content="IE=edge" />

<!-- Description of the page content for search engines -->
<meta name="description"
      content="Sites for creating and reading a wide range of interesting articles." />

<!-- Setting the display of the page on various devices -->
<meta name="viewport"
      content="width=device-width, initial-scale=1" />

<!-- Setting the indexing of the page by search engines -->
<meta name="robots"
      content="all,follow" />
