<!-- Meta informace určené pro prohlížeče a vyhledávací roboty -->
<!-- Určeno pro 0_base/01__head__.html -->


<!-- Nastavení znakové sady stránky -->
<meta charset="utf-8" />


<!-- Nastavení kompatibility pro Internet Explorer -->
<meta http-equiv="X-UA-Compatible"
      content="IE=edge" />


<!-- Popis obsahu stránky pro vyhledávače -->
<meta name="description"
      content="Stránky pro tvorbu a čtení široké škály zajímavých článků." />


<!-- Nastavení zobrazení stránky na různých zařízeních -->
<meta name="viewport"
      content="width=device-width, initial-scale=1" />


<!-- Nastavení indexování stránky vyhledávacími roboty -->
<meta name="robots"
      content="all,follow" />
