<!-- Include for 0_base/01__head__.html -->
<!-- for Scripts -->


<!-- Import static files -->
{% load static %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Tagify CSS (pro našeptávač tagů) -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>

<!-- TinyMCE CDN odkaz -->
<script type="text/javascript"
        src="https://cdn.tiny.cloud/1/53fmtiuk9mhttvevp087nqfy6cmqgzl08wvnya7iy2sbyk4d/tinymce/6/tinymce.min.js"
        referrerpolicy="origin">
</script>

<!-- 'TinyMCE settings' -->
<script src="{% static 'js/_tinymce_article_settings.js' %}"></script>
<script src="{% static 'js/_tinymce_mini_settings.js' %}"></script>
