<!DOCTYPE html>
<html>

  <!-- Head -->
  {% include "01_base_head.html" %}

  <body>

    <!-- Header -->
    {% include '02_base_header.html' %}

    <!-- Flash messages -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Main content -->
    {% block main_content %}
    {% endblock main_content %}

    <!-- Footer -->
    {% include '03_base_footer.html' %}

    <!-- Scripts -->
    {% include '04_base_scripts.html' %}

  </body>

</html>
