<!DOCTYPE html>
<html>

  <!-- Head -->
  {% include "01_base_head.html" %}

  <body>

    <!-- Header -->
    {% include '02_base_header.html' %}

    <!-- Flash messages -->
    {% if messages %}

      <div class="alert alert-dismissible fade show fw-bold text-dark mt-4" role="alert" style="letter-spacing: 1px;">
        <ul class="list-unstyled">
          {% for message in messages %}
            <li class="mb-1 text-center" >
              <span class="text-muted">{{ message|upper }}</span>
            </li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          {% endfor %}
        </ul>
      </div>

    {% endif %}

    <!-- Main content -->
    {% block main_content %}
    {% endblock main_content %}

    <!-- Footer -->
    {% include '03_base_footer.html' %}

    <!-- Scripts -->
    {% include '04_base_scripts.html' %}

  </body>

</html>
