<!DOCTYPE html>
<html>

<!-- Připojení kódu ze souboru "01_base_head.html" (hlavička webu) -->
{% include "01_base_head.html" %}

<!-- Tělo webu -->
<body>

    <!-- Připojení kódu ze souboru "02_base_header.html" (hlavička stránky) -->
    {% include '02_base_header.html' %}

    <!-- Připojení kódu pro zprávu oznamu -->
    <!-- Pokud stránka obsahuje messages (krátké oznami), vytvoř neuspořádaný seznam a zprávy vypiš -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Připojení kódu pro (tělo) hlavní obsah stránky -->
    {% block content %}
    {% endblock content %}

    <!-- Připojení kódu pro (patičku) spodní část stránky -->
    {% include '03_base_footer.html' %}

    <!-- Připojení skriptů -->
    {% include '04_base_scripts.html' %}

</body>

</html>