{% load static %}

<head>

  <!-- Charset -->
  <meta charset="utf-8">

  <!-- Settings for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Titule -->
  <title>Bootstrap Blog - B5 Template by Bootstrap Temple</title>

  <!-- Description -->
  <meta name="description" content="Sites for creating and reading a wide range of interesting articles.">

  <!-- Responsive behavior -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Indexing settings -->
  <meta name="robots" content="all,follow">


  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z24KTNF7RnquisJ8nFyyMfsPvu1hFw6spzx5L6" crossorigin="anonymous"></script>


  <!-- Google fonts - Open Sans -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

  <!-- Lightbox -->
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">

  <!-- Theme stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.default.css' id='theme-stylesheet' %}">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!-- Font Awesome (pro ikonu oka do pole hesla) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">


  <!-- Tagify CSS -->
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />


  <!-- TinyMCE CDN odkaz -->
  <script
          type="text/javascript"
          src="https://cdn.tiny.cloud/1/53fmtiuk9mhttvevp087nqfy6cmqgzl08wvnya7iy2sbyk4d/tinymce/6/tinymce.min.js"
          referrerpolicy="origin">
  </script>

  <!-- 'TinyMCE settings' -->
  <script>
    tinymce.init({
      selector: 'textarea#id_content',
      min_height: 800,
      imagetools_cors_hosts: ['picsum.photos'],

      plugins: ['advlist', 'anchor', 'autoresize', 'autosave', 'autolink',
        'charmap', 'code', 'codesample', 'emoticons', 'fullscreen', 'help',
        'image', 'insertdatetime', 'link', 'lists', 'media', 'nonbreaking',
        'pagebreak', 'preview', 'quickbars', 'searchreplace', 'table', 'template',
        'visualblocks', 'visualchars', 'wordcount'
      ],
      menubar: 'file edit view insert format tools table help',
      toolbar:  'undo redo |' +
                'styles fontfamily fontsize lineheight forecolor backcolor |' +
                'bold italic underline |  charmap searchreplace selectall |' +
                'aligncenter alignjustify alignleft alignnone alignright |' +
                'indent outdent | bullist numlist  |' +
                'strikethrough subscript superscript removeformat hr nonbreaking |' +
                'blockquote visualblocks visualchars code codesample |' +
                'image emoticons insertdatetime anchor link openlink |' +
                'cut copy paste pastetext | wordcount preview fullscreen |',
      toolbar_sticky: true,
      toolbar_drawer: 'sliding',

      quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
      contextmenu: "link image imagetools table",
      content_style: ".mymention{ color: green; }",
      content_style: '.mce-annotation { background: #fff0b7; } .tc-active-annotation {background: #ffe168; color: black; }',

      autosave_ask_before_unload: true,
      image_advtab: true,
      importcss_append: true,
      image_caption: true,
      noneditable_noneditable_class: "mceNonEditable",

     });

  </script>

</head>
