{% load static %}

<head>

  <!-- Charset -->
  <meta charset="utf-8">

  <!-- Settings for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Titule -->
  <title>Bootstrap Blog - B5 Template by Bootstrap Temple</title>

  <!-- Description -->
  <meta name="description" content="Sites for creating and reading a wide range of interesting articles.">

  <!-- Responsive behavior -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Indexing settings -->
  <meta name="robots" content="all,follow">

  <!-- Google fonts - Open Sans -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

  <!-- Lightbox -->
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">

  <!-- Theme stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.default.css' id='theme-stylesheet' %}">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!-- Font Awesome (pro ikonu oka do pole hesla) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">


  <!-- TinyMCE CDN odkaz -->
  <script
          type="text/javascript"
          src="https://cdn.tiny.cloud/1/53fmtiuk9mhttvevp087nqfy6cmqgzl08wvnya7iy2sbyk4d/tinymce/6/tinymce.min.js"
          referrerpolicy="origin">
  </script>

  <!-- 'autoresize' -->
  <script>
    tinymce.init({
      selector: 'textarea#id_content',
      skin: 'oxide',
      min_height: 400,
      plugins: [
        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
        'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
        'media', 'table', 'emoticons', 'template', 'help', 'accordion', 'autosave', 'codesample', 'nonbreaking',
        'quickbars', 'autoresize',
      ],
      toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'print preview media fullscreen | code | help',
      menu: {
        favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
      },
      menubar: 'favs file edit view insert format tools table help',
      content_css: 'css/content.css'


    });
  </script>

</head>
