{% load static %}

<head>

  <!-- Charset -->
  <meta charset="utf-8">

  <!-- Settings for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Titule -->
  <title>Bootstrap Blog - B5 Template by Bootstrap Temple</title>

  <!-- Description -->
  <meta name="description" content="Sites for creating and reading a wide range of interesting articles.">

  <!-- Responsive behavior -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Indexing settings -->
  <meta name="robots" content="all,follow">

  <!-- Google fonts - Open Sans -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

  <!-- Lightbox -->
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.css' %}">

  <!-- Theme stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.default.css' id='theme-stylesheet' %}">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

</head>
