{% load static %}

<!-- Bootstrap Bundle -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Lightbox -->
<script src="{% static 'vendor/glightbox/js/glightbox.js' %}"></script>

<!-- Theme Script-->
<script src="{% static 'js/theme.js' %}"></script>

<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">


<!-- Bootstrap Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>



<!-- Tento skript inicializuje Tagify na konkrétním vstupním poli (input elementu) s názvem "tags". Po načtení stránky bude Tagify aktivován na toto pole, umožňující uživatelům přidávat a spravovat tagy. -->
<script>
  var inputElem = document.getElementById('id_tags');
  var tagify = new Tagify(inputElem, {
    // Vaše nastavení Tagify, pokud je potřeba
  });
</script>

<!-- Našeptávač tagů pro Tagify -->
<script>
var input = document.querySelector('input[name=tags]'),
  tagify = new Tagify(input, {
    pattern             : /^.{0,20}$/,              // Validace zadaných tagů regulárním výrazem. Maximální délka znaků je zde nastavena na "20".
    delimiters          : ",",                      // Přidání nových tagů po zadání čárky nebo mezery.
    trim                : true,                     // Pokud je nastaveno, tak trimování mezery začátku a konce tagu.
    keepInvalidTags     : false,                    // Neodstraňovat neplatné tagy, ale ponechat je označené jako neplatné.
    // createInvalidTags: false,
    editTags            : {
      clicks: 2,                                    // Editace tagu po dvojkliku
      keepInvalid: false                            // Pokud je tag po editaci neplatný, automaticky se vrátí na původní hodnotu
    },
    maxTags             : 25,                        // Maximální povolený počet tagů
    blacklist           : [':', '[{', 'value', '{', '}', '}]',],                       // Černá listina zakázaných tagů
    whitelist           : {% if tags %} [{% for tag in tags %}'{{ tag }}'{% if not loop.last %}, {% endif %}{% endfor %}] {% else %} [] {% endif %},
    backspace           : "edit",                   // Povolení editace tagu při stisku klávesy "Backspace"
    dropdown : {
    enabled: 1,                                     // Zobrazit návrhy po zadání 1 znaku
      fuzzySearch: false,                           // Hledat návrhy, které začínají zadanými znaky
      position: 'text',                             // Pozice nabídky návrhů vzhledem k textu
      caseSensitive: false                          // Nastavení, zda má rozlišovat malé a velké znaky - nastaveno na Ne
    },
  })

// Nastavení posluchačů událostí Tagify
tagify.on('add', function(e){
  console.log(e.detail)
})

tagify.on('invalid', function(e){
  console.log(e, e.detail);
})

var clickDebounce;

tagify.on('click', function(e){
  const {tag:tagElm, data:tagData} = e.detail;

  // a delay is needed to distinguish between regular click and double-click.
  // this allows enough time for a possible double-click, and only fires if such
  // did not occur.
  clearTimeout(clickDebounce);
  clickDebounce = setTimeout(() => {
    tagData.color = getRandomColor();
    tagData.style = "--tag-bg:" + tagData.color;
    tagify.replaceTag(tagElm, tagData);
  }, 200);
})

tagify.on('dblclick', function(e){
  // when double clicking, do not change the color of the tag
  clearTimeout(clickDebounce);
})
</script>

