{% extends '00_base.html' %}
{% load static %}
{% block main_content %}

<!-- Hero Section-->
{% include "11_home_hero.html" %}

<!-- Intro Section-->
{% include "12_home_intro.html" %}

<!-- Featured articles -->
{% include "13_home_featured.html" %}

<!-- Divider Section-->
{% include "14_home_divider.html" %}

<!-- Latest articles -->
{% include "15_home_latest.html" %}

<!-- Newsletter Section -->
{% include "16_home_newsletter.html" %}

<!-- Gallery Section-->
{% include "17_home_gallery.html" %}

{% endblock main_content %}