{% load static %}

<!-- Featured articles -->
<section class="pt-0">
  <div class="container">

    <!-- Article cycle -->
    {% for article in object_list %}
    <div class="row d-flex align-items-stretch g-0">

      <!-- Thumbnail before the article -->
      {% if forloop.counter|divisibleby:2 %}
      <div class="col-lg-5">
        <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article_thumbnail">
      </div>
      {% endif %}

      <!-- Article -->
      <div class="col-lg-7">
        <div class="text-inner d-flex align-items-center h-100 bg-light">
          <div class="content px-4 px-lg-5">

            <!-- Category -->
            <ul class="list-inline mb-1">
              {% for category in article.categories.all %}
              <li class="list-inline-item">
                <a class="text-uppercase text-dark small fw-bold"
                  href="{% url 'article-category-list' category_slug=category.slug %}">
                  {{ category }}
                </a>
              </li>
              {% endfor %}
            </ul>

            <!-- Title -->
            <h2 class="h4 mb-3">
              <a class="text-dark" href="{{ article.get_absolute_url }}">
                {{ article.title }}
              </a>
            </h2>

            <!-- Overview -->
            <p class="text-sm">
              {{ article.overview }}
            </p>

            <!-- Footer -->
            <ul class="list-inline list-separated text-gray-500 mb-0">

              <!-- Author -->
              <li class="list-inline-item">

                <!-- Link to the author -->
                <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

                  <!-- Profile picture -->
                  <div class="avatar flex-shrink-0">
                    <img class="img-fluid" src="{{ article.author.profile_picture.url }}?{% now 'U' %}" alt="profile_picture" />
                  </div>

                  <!-- Name -->
                  <small>{{ article.author }}</small>
                </a>
              </li>

              <!-- Created -->
              <li class="list-inline-item small">
                <i class="far fa-clock"></i>
                {{ article.created|timesince }} ago
              </li>

              <!-- Number of comments -->
              {% if article.comment_count %}
                <li class="list-inline-item small">
                  <i class="far fa-comment"></i>
                  {{ article.comment_count }}
                </li>
              {% endif %}

            </ul>

          </div>
        </div>
      </div>

      <!-- Thumbnail after the article -->
      {% if not forloop.counter|divisibleby:2 %}
      <div class="col-lg-5">
        <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article_thumbnail">
      </div>
      {% endif %}

    </div>
    {% endfor %}

  </div>
</section>
