{% load static %}

<!-- Divider Section-->
<section class="divider" style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-7">

        <!-- Text -->
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, /
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </h2>

        <!-- Link -->
        <a class="link-underline mt-3" href="#!">
          View More
        </a>

      </div>
    </div>
  </div>
</section>