{% extends '20_main.html' %}

{% load static %}

{% block inner_content %}

<!-- Latest articles -->
<main class="col-lg-8">
  <div class="container">
    <div class="row gy-4 mb-5">

      <!-- Description -->
      <header class="mb-5">

        <!-- Title -->
        {% if tag_slug %}
          <h2>Articles with tag: {{ tag_slug }}</h2>
        {% elif category_slug %}
          <h2>Articles with category: {{ category_slug|upper }}</h2>
        {% elif query %}
          <h2>Search results for: {{ query }}</h2>
        {% else %}
          <h2>All articles</h2>
        {% endif %}

        <!-- Text -->
        <p class="text-lg fw-light">
          To find a specific article, use the search box on the right.
        </p>

      </header>

      <!-- Articles -->
      {% for article in page_obj %}
        <div class="col-xl-6 mb-3">

          <!-- Thumbnail -->
          <a class="mb-3" href="article.html">
            <img class="img-fluid" src="{{ article.thumbnail.url }}" alt="article_thumbnail"/>
          </a>

          <!-- Article time and category -->
          <div class="d-flex align-items-center justify-content-between">

            <!-- Created -->
            <small class="text-gray-500">
              {{ article.created }}
            </small>

            <!-- Category -->
            <ul class="list-inline mb-1">
              {% for category in article.categories.all %}
                <li class="list-inline-item">
                  <a class="small fw-bold text-uppercase small" href="{% url 'article-category-list' category_slug=category.slug %}">
                    {{ category }}
                  </a>
                </li>
              {% endfor %}
            </ul>

          </div>

          <!-- Tags -->
          <ul class="list-inline mb-2">
            <small class="text-gray-500">[&nbsp</small>

            {% for tag in article.tags.all %}
              <li class="list-inline-item">
                <a class="small" href="{% url 'article-tag-list' tag_slug=tag.slug %}">
                  {{tag}}
                </a>
              </li>
            {% endfor %}

            <small class="text-gray-500">]</small>
          </ul>

          <!-- Title -->
          <h3 class="h4">
            <a class="text-dark" href="{{ article.get_absolute_url }}">
              {{ article.title }}
            </a>
          </h3>

          <!-- Overview -->
          <p class="text-muted text-sm">
            {{ article.overview }}
          </p>

          <!-- Article info -->
          <ul class="list-inline list-separated text-gray-500 mb-0">

            <!-- Link to the author -->
            <li class="list-inline-item">
              <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

                <!-- Profile picture -->
                <div class="avatar flex-shrink-0">
                  <img class="img-fluid" src="{{ article.author.profile_picture.url }}" alt="profile_picture"/>
                </div>

                <!-- Name -->
                <small>{{ article.author }}</small>

              </a>
            </li>

            <!-- Created -->
            <li class="list-inline-item small">
              <i class="far fa-clock"></i>
              {{ article.created|timesince }} ago
            </li>

            <!-- Number of comments -->
            <li class="list-inline-item small">
              <i class="far fa-comment"></i>
              {{ article.comment_count }}
            </li>

          </ul>
        </div>

      {% endfor %}
    </div>

    <!-- Pagination -->
    {% include '31_articles_pagination.html' with page_obj=page_obj %}

  </div>
</main>

<!-- Sidebar -->
{% include '32_articles_sidebar.html' with page_obj=page_obj %}

{% endblock inner_content %}