<!-- Sidebar for article list -->
<aside class="col-lg-4">

  <!-- Search Bar Widget -->
  {% include '21_sidebar_search.html' %}

  <!-- View results for tags -->
  {% if tag_slug %}

    <!-- Tags Widget -->
    {% include '23_sidebar_tags.html' with tags=tags %}

    <!-- category Widget -->
    {% include '22_sidebar_category.html' with page_obj=page_obj %}

    <!-- Most comments Articles Widget -->
    {% include '26_sidebar_most_commented_articles.html' with most_commented=most_commented %}

  <!-- View results for category -->
  {% elif category_slug %}

    <!-- category Widget -->
    {% include '22_sidebar_category.html' with page_obj=page_obj %}

    <!-- Tags Widget -->
    {% include '23_sidebar_tags.html' with tags=tags %}

    <!-- Latest Articles Widget -->
    {% include '24_sidebar_resent_articles.html' with most_recent=most_recent %}

  <!-- View results for everything else -->
  {% else %}

    <!-- Most views Articles Widget -->
    {% include '27_sidebar_most_viewed_articles.html' with most_viewed=most_viewed %}

    <!-- category Widget -->
    {% include '22_sidebar_category.html' with page_obj=page_obj %}

    <!-- Tags Widget -->
    {% include '23_sidebar_tags.html' with tags=tags %}

  {% endif %}

</aside>



