{% extends '20_main.html' %}

{% load static %}

{% block inner_content %}

<style>
  .custom-overview {
    font-size: 0.9rem; /* Nebo jiná hodnota podle vašich potřeb */
    background-color: #f2f2f2;
    padding: 1.2rem;
  }
</style>


<!-- Selected article -->
<main class="col-lg-8">
  <div class="container">

    <!-- Main Article Image -->
    {% if article.main_picture_for_article %}
      <img class="img-fluid w-100 mb-4" src="{{ article.main_picture_for_article.url }}?{% now 'U' %}" alt="main_picture_for_article">
    {% else %}
      <img class="img-fluid w-100 mb-4" src="{% static 'img/image_is_not_uploaded_yet.jpg' %}" alt="Image Not Uploaded Yet" >
    {% endif %}

    <!-- Category -->
    <div class="mb-1">
      <a class="text-uppercase text-dark small fw-bold"
        href="{% url 'article-category-list' category_slug=article.category.slug %}">
        {{ article.category }}
      </a>
    </div>

    <!-- Title -->
    <h1 class="mb-4">{{ article.title }}<a href="!#"><i class="fa fa-bookmark-o"></i></a></h1>

    <!-- Info -->
    <ul class="list-inline list-separated text-gray-500 mb-4">

      <!-- Author -->
      <li class="list-inline-item">

        <!-- Link to the author -->
        <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

          <!-- Profile picture -->
          <div class="avatar flex-shrink-0">
            <img class="img-fluid" src="{{ article.author.profile_picture_thumbnail.url }}?{% now 'U' %}" alt="main_picture_for_article"/>
          </div>

          <!-- Name -->
          <small>{{ article.author }}</small>
        </a>
      </li>

      <!-- Created -->
      <li class="list-inline-item small">
        <i class="far fa-clock"></i>
        {{ article.created|timesince }} ago
      </li>

      <!-- Number of comments -->
      <li class="list-inline-item small">
        <i class="far fa-comment"></i>
        {{ article.comment_count }}
      </li>

      <!-- Apdate of the article -->
      <li class="list-inline-item small">
        <a href="{% url 'article-update' slug=article.slug current_tab='overview' %}">Update article</a>
      </li>

    </ul>

    <!-- Article overview -->
    <div class="article-body custom-overview">
      {{ article.overview | safe }}
    </div>


    <!-- Article content -->
    <div class="article-body mt-4">
      {{ article.content | safe }}
    </div>

    {% include '41_article_tags.html' with article=article %}

    {% include '42_article_previous_and_next.html' with article=article %}

    {% include '43_article_display_comments.html' with article=article %}

    {% include '44_article_add_comment.html' with article=article form=form %}

  </div>
</main>

<!-- Sidebar -->
{% include '45_article_sidebar.html' with page_obj=page_obj %}

{% endblock inner_content %}