<!-- Display of the Previous and Next article -->
<div class="articles-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row mb-5">

<!-- Display of the Previous article -->
{% if article.previous_article %}
  <a class="prev-article text-start d-flex align-items-center" href="{{ article.previous_article.get_absolute_url }}">

    <!-- Pointer display -->
    <div class="icon prev">
      <i class="fas fa-angle-left"></i>
    </div>

    <!-- Previous article -->
    <div class="text">
      <strong class="text-primary">Previous article </strong>
      <h6>{{ article.previous_article.title }}</h6>
    </div>

  </a>
{% endif %}

<!-- Display of the Next article -->
{% if article.next_article %}
  <a class="next-article text-end d-flex align-items-center justify-content-end" href="{{ article.next_article.get_absolute_url }}">

    <!-- Next article -->
    <div class="text">
      <strong class="text-primary">Next article </strong>
      <h6>{{ article.next_article.title }}</h6>
    </div>

    <!-- Pointer display -->
    <div class="icon next">
      <i class="fas fa-angle-right"></i>
    </div>

  </a>
{% endif %}

</div>