{% extends '20_main.html' %}

{% load crispy_forms_tags %}

{% block inner_content %}

<main class="col-lg-8">
  <div class="container">

    <!-- Title -->
    <header class="mb-5">
      <h2>Create an article</h2>
    </header>

    <!-- Form -->
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <!-- Submit Button -->
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>

  </div>
</main>

<!-- Sidebar -->
{% include '32_articles_sidebar.html' with page_obj=page_obj %}

{% endblock inner_content %}