{% load widget_tweaks %}
{% load static %}

<!-- Container for Article Image & Title -->
<div class="row">

  <!-- Picture (Mobile First) -->
  <div class="col-md-5 mb-4 order-md-2">
    {% if article.main_picture_for_article %}
      <img src="{{ article.main_picture_for_article.url }}?{% now 'U' %}" alt="main_picture_for_article" class="img-fluid mt-4">
    {% else %}
      <img src="{% static 'img/image_is_not_uploaded_yet.jpg' %}" alt="Image Not Uploaded Yet" class="img-fluid mt-4">
    {% endif %}
  </div>

  <!-- Article Image & Title -->
  <div class="col-md-7 align-middle order-md-1">

    <!-- Article main Picture -->
    <div id="div_id_main_picture_max_size" >

      <!-- Label -->
      <label for="{{ form.main_picture_max_size.id_for_label }}" class="form-label">
        Article main image (hi-res)
      </label>

      <!-- Field -->
      {{ form.main_picture_max_size|add_class:"form-control"  }}

    </div>

    <!-- Submit Button with return to editing -->
    <div class="form-group mb-5 ">
      {% include '55_article_create_util_submit_for_editing.html' with current_tab="overview" %}
    </div>

    <!-- Article Title -->
    <div class="mb-2">
      <div id="div_id_title" class="mb-4">

        <!-- Label -->
        <label for="{{ form.title.id_for_label }}" class="form-label requiredField">
          {{ form.title.label }}
          {% if form.title.field.required %}
          <span class="asteriskField">* (This field is required to save the article.)</span>
          {% endif %}
        </label>

        <!-- Field -->
        {{ form.title|add_class:"form-control" }}

      </div>
    </div>

  </div>

</div>

<!-- Article Overview -->
<div id="div_id_overview" class="mb-4">

  <!-- Label -->
  <label for="{{ form.overview.id_for_label }}" class="form-label requiredField">
    {{ form.overview.label }}
    {% if form.overview.field.required %}
    <span class="asteriskField">*</span>
    {% endif %}
  </label>

  <!-- Field -->
  {{ form.overview|add_class:"form-control" }}

</div>

<!-- Submit Button with return to article page -->
{% include '55_article_create_util_submit_and_return.html' %}
