{% load widget_tweaks %}
<style>
  .advance .tagify__tag{
    --tag-hover: var(--tag-bg);
  }

  .max-width-300 {
    max-width: 300px; /* Nastavte požadovanou maximální šířku */
  }

  .bg-yellow {
    background-color: yellow;
  }

  .explain-input{
    color: grey;
    font-size: 0.8rem;
  }

  #id_category option[value="1"],
  #id_category option[value="1"][selected],
  #id_category option[value=""]:checked {
    color: grey; /* Změna barvy textu vybrané první položky na šedou */
  }

</style>


<!-- Article status and Article category -->
<div class="pt-4">
  <div class="row">

    <!-- Article status -->
    <div id="div_id_status" class="col-md-4 mb-4">

      <!-- Label -->
      <label for="{{ form.status.id_for_label }}" class="form-label requiredField">
        {{ form.status.label }}
      </label>

      <!-- Field -->
      {{ form.status|add_class:"form-control" }}

    </div>

    <!-- Article category -->
    <div id="div_id_category" class="col-md-8 mb-4">

      <!-- Label -->
      <label for="{{ form.category.id_for_label }}" class="form-label requiredField">
        {{ form.category.label }}
      </label>

      <!-- Field -->
      {{ form.category|add_class:"form-control" }}
      <div class="explain-input">Before publishing, select the appropriate category.</div>

    </div>

  </div>
</div>

<!-- Article status and Article category -->
<div class="">
  <div class="row">

    <!-- Article Previous -->
    <div id="div_id_previous_article" class="col-md-6 mb-4">

      <!-- Label -->
      <label for="{{ form.previous_article.id_for_label }}" class="form-label">
        {{ form.previous_article.label }}
      </label>

      <!-- Field -->
      {{ form.previous_article|add_class:"form-control" }}
      <div class="explain-input">This field is mandatory. It is used to connect your own articles.</div>

    </div>


    <!-- Article Next -->
    <div id="div_id_next_article" class="col-md-6 mb-4">

      <!-- Label -->
      <label for="{{ form.next_article.id_for_label }}" class="form-label">
        {{ form.next_article.label }}
      </label>

      <!-- Field -->
      {{ form.next_article|add_class:"form-control" }}
      <div class="explain-input">This field is optional. It is used to connect your own articles.</div>

    </div>

  </div>
</div>


<!-- Article Tags -->
<div id="div_id_tags" class="mb-4">

  <!-- Label -->
  <label for="{{ form.tags.id_for_label }}" class="form-label requiredField">
    {{ form.tags.label }}
  </label>

  <!-- Field-->

  <input
        name='tags'
        value="{% for tag in form.tags.value %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}"
        class='form-control tags-input'
        placeholder='Add tag' >
  <div class="explain-input">Use a comma or enter to separate individual tags.</div>

</div>