<style>

  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: grey;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  @media (max-width: 960px) {
    /* Skryj boční panel, pokud je šířka displeje menší než 960px */
    aside {
      display: none;
    }
</style>