<!-- Linking to the parent template -->
{% extends '20_main.html' %}

<!-- Start of block for the parent template -->
{% block inner_content %}


  <!-- Page CSS -->
  {% include '60_profile_update_style.html' %}

  <!-- Page main context -->
  {% block inner_main_content %}
  {% endblock inner_main_content %}

  <!-- Page sidebar -->
  {% include '64_profile_update_sidebar.html' with user_author=user_author favorite_authors=favorite_authors %}


<!-- End of block for the parent template -->
{% endblock inner_content %}
