<!-- Linking to the parent template -->
{% extends '60_profile_update.html' %}

<!-- Start of inner block -->
{% block inner_main_content %}


  <!-- Container for title, nav, content  -->
  <main class="col-lg-8">
    <div class="container">

      <!-- Header -->
      {% include "61_profile_update_main_header.html" %}

      <!-- Navigation -->
      {% include "61_profile_update_main_nav.html" %}

      <!-- Content -->
      {% block profile_update_content %}
      {% endblock profile_update_content %}

    </div>
  </main>


<!-- End of inner block -->
{% endblock inner_main_content %}