<!-- Zobrazení, pokud uživatel nemá i účet autora-->
{% if not author_form %}

  <!-- Nadpis -->
  <header >
    <h2>Update Your Profile</h2>
  </header>

  <!-- Navigace -->
  <nav class="nav nav-tabs justify-content-end mb-5">
    <li class="nav-item active">
      <a href="{% url 'profile_update_user' %}" class="nav-link active">User</a>
    </li>
  </nav>


<!-- Zobrazení, pokud uživatel má i účet autora-->
{% elif author_form %}

  <!-- Nadpis -->
  <header>
    <h2>Update Your Profiles</h2>
  </header>

  <!-- Navigace pro stránku uživatele -->
  {% if user_form %}
    <nav class="nav nav-tabs justify-content-end mb-5">
      <li class="nav-item active">
        <a href="{% url 'profile_update_user' %}" class="nav-link active">User</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'profile_update_author' %}" class="nav-link">Author</a>
      </li>
    </nav>

  <!-- Navigace pro stránku autora -->
  {% elif not user_form %}
    <nav class="nav nav-tabs justify-content-end mb-5">
      <li class="nav-item">
        <a href="{% url 'profile_update_user' %}" class="nav-link">User</a>
      </li>
      <li class="nav-item active">
        <a href="{% url 'profile_update_author' %}" class="nav-link active">Author</a>
      </li>
    </nav>

  {% endif %}

{% endif %}