

  <!-- User overview -->
  <div class="card mb-5">
    <div class="card-body">

      <!-- User info -->
      <div class="d-flex align-items-center">

        <!-- Profile picture -->
        <div class="w-25">
          <img class="account-img w-100" src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}" alt="profile_picture"/>
        </div>

        <!-- Username & email -->
        <div class="w-75 ">
          <div style="margin-left: 1rem;">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary ">{{ user.email }}</p>
          </div>
        </div>

      </div>

      <!-- If User is Also Author -->
      {% if author_form %}

        <!-- Separate Line -->
        <br><hr class="border-top" style="color: grey;">

        <!-- Section name -->
        <p class="form-label mt-4">Link to my Author section:</p>

        <!-- Link to the author -->
        <a class="d-flex align-items-center flex-wrap text-reset" href="!#">

          <!-- Profile picture -->
          <div class="avatar flex-shrink-0">
            <img class="img-fluid" src="{{ author_form.instance.profile_picture.url }}?{% now 'U' %}" alt="profile_picture"/>
          </div>

          <!-- Name -->
          {{ author_form.instance.author }}

        </a>

      {% endif %}

    </div>
  </div>

