

  <!-- Favorite Authors -->
  <div class="card mb-5">
    <div class="card-body">

      <!-- Section name -->
      <h3 class="h6 mb-3">Favorite Authors</h3>


      <!-- Loop through category_count-->
      {% for autor in favorite_authors %}

        <!-- Display for odd row -->
        {% if not forloop.counter|divisibleby:2 %}
          <div class="p-2  justify-content-between fw-bold text-gray-600 bg-light">

            <!-- category title -->
            <a class="text-reset" href="#">
              {{ autor }}
            </a>

          </div>
        {% endif %}

        <!-- Display for even row -->
        {% if forloop.counter|divisibleby:2 %}
          <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1">

            <!-- category title -->
            <a class="text-reset" href="#">
              {{ autor }}
            </a>

          </div>
        {% endif %}

      {% endfor %}

    </div>
  </div>

