{% extends 'profile_update.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block profile_update_content %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="row">

    <!-- Profile Picture -->
    <div class="col-md-4 mb-4">
      <img src="{{ user_form.instance.profile_image.url }}"
           alt="Profile Picture"
           class="img-fluid">
    </div>


    <div class="col-md-8">

      <!-- User Form Fields -->
      <div class="mb-2">
        {{ user_form|crispy }}
      </div>

      <!-- Submit Button -->
      <div class="form-group pt-4">
        <button class="btn btn-outline-info btn-lg" type="submit" name="submit_user">
          Save Changes
        </button>
      </div>


    </div>

  </div>

</form>

{% endblock profile_update_content %}