<!-- User sidebar -->
<style>
  .bg {
    background-color: yellow;
  }


</style>



<aside class="col-lg-4">

<!-- User info -->
<div class="card mb-5">
  <div class="card-body d-flex align-items-center">

    <!-- Profile picture -->
    <div class="w-25">
      <img class="account-img w-100" src="{{ user.userprofile.image.url }}" alt="profile_picture"/>
    </div>

    <!-- Username & email -->
    <div class="w-75 ">
      <div style="margin-left: 1rem;">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary ">{{ user.email }}</p>
      </div>
    </div>

  </div>
</div>

<!-- Favorite Authors -->
<div class="card mb-5">
  <div class="card-body">

    <!-- Section name -->
    <h3 class="h6 mb-3">Favorite Authors</h3>


        <!-- Loop through category_count-->
    {% for autor in favorite_authors %}

      <!-- Display for odd row -->
      {% if not forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light">

          <!-- Categories title -->
          <a class="text-reset" href="#">
            {{ autor }}
          </a>

        </div>
      {% endif %}

      <!-- Display for even row -->
      {% if forloop.counter|divisibleby:2 %}
        <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1">

          <!-- Categories title -->
          <a class="text-reset" href="#">
            {{ autor }}
          </a>

        </div>
      {% endif %}

    {% endfor %}
















  </div>
</div>


</aside>