<style>
  .author-section{
    font-size: 0.9rem;

  .dropdown-font{
    font-size: 0.9rem;
    color: grey;
  }

  }
  .bg-yellow{
    background-color: yellow;
  }
  .bg-blue{
    background-color: blue;
  }
  .bg-red{
    background-color: red;
  }


</style>


<!-- User overview -->
<div class="card mb-5">
  <div class="card-body">

    <!-- User info -->
    <div class="d-flex align-items-center">

      <!-- Profile picture -->
      <div class="w-25">
        <img class="account-img w-100" src="{{ user.profile_picture_thumbnail.url }}?{% now 'U' %}" alt="profile_picture"/>
      </div>

      <!-- Username & email -->
      <div class="w-75 ">
        <div class="px-3">
          <h3 class="account-heading">{{ user.username }}</h3>
        </div>

        <!-- Drop-down menu -->
        <div class="dropdown px-1">

          <!-- Title -->
          <button class="btn btn-link dropdown-toggle dropdown-font" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            User options
          </button>

          <!-- Options -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% if not user_author %}
              <li><a class="dropdown-item dropdown-font" href="#">Create an Article</a></li>
            {% endif %}
            <li><a class="dropdown-item dropdown-font" href="#">Favorite Authors</a></li>
            <li><a class="dropdown-item dropdown-font" href="#">Manage my Account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item dropdown-font" href="#">Log out</a></li>
          </ul>
        </div>

      </div>

    </div>

    <!-- Author info -->
    {% if user_author %}
      {% include 'XX_sidebar_user_author.html' %}
    {% endif %}


  </div>
</div>
