<!-- Extension for 1_home/13__featured_articles__.html -->

<!-- Loop through articles -->
{% for article in featured_data.articles %}

    <!-- Check if the article contains data -->
    {% if article %}

        <!-- Main container -->
        <div class="row d-flex align-items-stretch g-0">

            <!-- Placement of the main image before the article (for devices > LG + even iteration) -->
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-lg-5 d-none d-lg-block">
                    {% include '1_home/_home_data/_main_picture_.html' %}
                </div>
            {% endif %}

            <!-- Placement of the main image above the article (for devices < LG) -->
            <div class="col-lg-5 mt-5 mb-2 d-lg-none">
                {% include '1_home/_home_data/_main_picture_.html' %}
            </div>

            <!-- Container for the article content -->
            <div class="col-lg-7">
                <div class="text-inner d-flex align-items-center h-100 bg-light">
                    <div class="content px-4 px-lg-5">

                        <!-- Category -->
                        {% include '3_articles/_articles_data/_view_setup_data/_category_.html' %}

                        <!-- Title -->
                        {% with class='mb-3' %}
                        {% include '3_articles/_articles_data/_view_setup_data/_title_.html' %}
                        {% endwith %}

                        <!-- Description -->
                        <p class="text-sm">
                            {{ article.overview }}
                        </p>

                        <!-- Container for article footer -->
                        <ul class="list-inline list-separated text-gray-500 mb-0">

                            <!-- Author link -->
                            {% include '3_articles/_articles_data/_view_setup_data/_author_.html' %}

                            <!-- Article age -->
                            {% include '3_articles/_articles_data/_view_setup_data/_published_ago_.html' %}

                            <!-- Comment count -->
                            {% include '3_articles/_articles_data/_view_setup_data/_comment_count_.html' %}

                        </ul>

                    </div>
                </div>
            </div>

            <!-- Placement of the main image after the article (for devices > LG + odd iteration) -->
            {% if not forloop.counter|divisibleby:2 %}
                <div class="col-lg-5 d-none d-lg-block">
                    {% include '1_home/_home_data/_main_picture_.html' %}
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endfor %}
