<!-- Extension for 1_home/15__latest_articles__.html -->

<div class="row gy-4">

    <!-- Loop through articles -->
    {% for article in latest_data.articles %}

        <!-- Check if the article contains data -->
        {% if article %}

            <!-- Container for the article content -->
            <div class="col-md-4">

                <!-- Main image -->
                {% include '3_articles/_articles_data/_view_setup_data/_main_picture_.html' %}

                <!-- Container for creation date and category -->
                <div class="d-flex align-items-center justify-content-between mb-2">

                    <!-- Creation date -->
                    {% include '3_articles/_articles_data/_view_setup_data/_published_date_.html' %}

                    <!-- Category -->
                    {% include '3_articles/_articles_data/_view_setup_data/_category_.html' %}

                </div>

                <!-- Title -->
                {% include '3_articles/_articles_data/_view_setup_data/_title_.html' %}

                <!-- Overview -->
                {% include '3_articles/_articles_data/_view_setup_data/_overview_.html' %}

            </div>

        {% endif %}

    {% endfor %}

</div>
