<!-- Button for expanding the edit menu for individual sections of the HomePage -->
<!-- This code is linked to a script that toggles the first word in the text between "Show" and "Hide" -->
<!-- 0_base/04__footer__.html -->
<!-- Extension for 1_home/11__hero__.html -->
<!-- Extension for 1_home/12__intro__.html -->
<!-- Extension for 1_home/13__featured_articles__.html -->
<!-- Extension for 1_home/14__divider__.html -->
<!-- Extension for 1_home/15__latest_articles__.html -->
<!-- Extension for 1_home/16__newsletter__.html -->
<!-- Extension for 1_home/17__gallery__.html -->

<!-- Check if the user is a superuser and if they are on the homepage editing page -->
{% if user.is_superuser and request.path == '/edit/' %}

    <!-- Link to expand and collapse the menu -->
    <a class="my-edit-homepage-button"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#{{ name|lower }}SectionCollapse"
       aria-expanded="false"
       aria-controls="{{ name|lower }}SectionCollapse">
        Show Edit Options For {{ name }} Section
    </a>

{% endif %}
