<!-- Section for articles -->
<!-- Extension for 1_home/17__gallery__.html -->

<div class="row g-0">

    <!-- Loop through articles -->
    {% for article in gallery_data.articles %}

        <!-- Check if the article contains data -->
        {% if article %}

            <!-- Article image container -->
            <div class="col-lg-3 col-md-3 col-sm-6">

                <!-- Anchor tag to display the maximum size of the image, showing the preview image -->
                <a class="d-block position-relative"
                     href="{{ article.main_picture_max_size.url }}">

                    <!-- Main image of the article -->
                    <img class="img-fluid my-article-image"
                         alt="Article Main Picture Preview"
                         src="{{ article.main_picture_preview.url }}"/>

                    <!-- Magnifying glass icon + article title -->
                    <div class="fsc-hover-overlay">
                        <i class="fas fa-search fsc-hover-overlay-icon"></i>
                    </div>

                </a>
            </div>

        {% endif %}

    {% endfor %}

</div>
