<!-- Část pro články sekce -->
<!-- Rozšířenní pro 1_home/17__gallery__.html -->

<!-- CSS pro tuto část  -->
{% include '1_home/css/css_gallery.html' %}


<!-- Hlavní kontejner -->
<div class="row g-0">

    <!-- Procházení článků -->
    {% for article in gallery_data.articles %}

        <!-- Kontrola, zda článek obsahuje data -->
        {% if article %}

            <!-- Kontejner obrázek článku -->
            <div class="col-lg-3 col-md-3 col-sm-6">

                <!-- Kotva pro zobrazení maximální velikosti obrázku, zobrazující obrázek náhledu -->
                <a class="d-block position-relative"
                     href="{{ article.picture_max_size_path }}">

                    <!-- Hlavní obrázek  -->
                    <img class="img-fluid article-image"
                         alt="Article Main Picture Preview"
                         src="{{ article.picture_preview_path }}"/>

                    <!-- Icona lupy + nadpis článku -->
                    <div class="fsc-hover-overlay">
                        <i class="fas fa-search fsc-hover-overlay-icon"></i>
                    </div>

                </a>
            </div>

        {% endif %}

    {% endfor %}

</div>

