<!-- Section for the email input field -->
<!-- Extension for 1_home/16__newsletter__.html -->

<form action="." method="article">
    {% csrf_token %}

    <!-- Container for the input field and submit button -->
    <div class="input-group">

        <!-- Input field for email -->
        <input class="form-control p-3"
               type="email"
               name="email"
               id="email"
               placeholder="Type your email address">

        <!-- Submit button -->
        <button class="btn btn-dark" type="submit">
            Subscribe
        </button>

    </div>

</form>
