<!-- Button to display hidden section -->
<!-- 0_base/04__footer__.html -->
<!-- Extension for 1_home/11__hero__.html -->
<!-- Extension for 1_home/12__intro__.html -->
<!-- Extension for 1_home/13__featured_articles__.html -->
<!-- Extension for 1_home/14__divider__.html -->
<!-- Extension for 1_home/15__latest_articles__.html -->
<!-- Extension for 1_home/16__newsletter__.html -->
<!-- Extension for 1_home/17__gallery__.html -->

<!-- Check if the user is a superuser and if the page is for editing the home page -->
{% if user.is_superuser and request.path == '/edit/' %}

    <!-- Link to display the hidden section -->
    <div class="container">
        <a href="{% url section_url %}?show_{{ name|lower }}_section=true"
           class="my-edit-homepage-button">
            Show {{ name }} Section
        </a>
    </div>

{% endif %}
